<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->
  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <!-- END: Aside Menu -->
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Indent Holiday</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
              <li class="m-nav__item m-nav__item--home">
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">Operation</span>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">Indent Holiday</span>
                </a>
              </li>
            </ul>
          </div>
          <div>
            <a *ngIf="permissionList.indexOf('upload_file') != -1"  href="#" data-toggle="modal" data-target="#m_modal_6" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
              <span>
                <i class="la la-archive"></i>
                <span>Upload</span>
              </span>
            </a>
            <div class="modal fade" data-backdrop="static" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Upload Indent Holiday</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                       <!-- upload form  -->
                   <form class="m-form m-form--fit m-form--label-align-right" name="upload"  [formGroup]="uploadForm">
                      <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">Select File </label>
                          <div></div>
                          <div class="custom-file">
                            <input type="file"   name="file"  class="custom-file-input"
                            (change)="onFileChanged($event)" #fileInput  [ngClass]="{ 'is-invalid': submitted && !uploadData.file }">
                            <label class="custom-file-label"  (click)="fileInput.click()">
                                <span *ngIf="!uploadData?.file?.name">Choose file </span>
                                <span *ngIf="uploadData?.file?.name">{{uploadData?.file?.name}}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button  type="button" class="btn btn-primary" [disabled]="!uploadData.file || uploadData.file==true" name="submit" (click)="uploadDatafn()">Submit</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
          <div class="m-alert__icon">
            <i class="flaticon-danger"></i>
          </div>
          <div class="m-alert__text">
            <strong>{{alert.type}}!</strong> {{alert.text}}
          </div>
          <div class="m-alert__actions" style="width: 220px;">
            <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false"
              aria-label="Close">Close
            </button>
          </div>
        </div>

      <!--Start of  View for All Data -->
        <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">All Data</h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <a (click)="resetFilter()" href="#" data-toggle="modal" data-target="#modalfilter"
                      class="filters btn m-btn m-btn--icon m-btn--icon-only m-portlet__nav-link m-portlet__nav-link--icon" >
                    <i class="la la-filter"></i>
                  </a>
                  <div class="modal fade"  data-backdrop="static" id="modalholiday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Generate Indent Holiday.</h5>
                          <button type="button" class="close" data-dismiss="modal" (click)="resetFilter();" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="form-group1 m-form__group">
                              <label for="date">Date</label>

                              <input type="text"
                                     [(ngModel)]="indentData.indent_date"
                                     placeholder="Select date"
                                     name="date"
                                     placement="top"
                                     class="form-control"
                                     bsDatepicker>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="resetFilter();" data-dismiss="modal">Close</button>
                          <button type="button" (click)="resetFilter()" class="btn btn-primary">Reset</button>
                          <button type="button" class="btn btn-primary" (click)="generateIndentHoliday()" data-dismiss="modal">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                     <div class="modal-content">
                      <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter Records</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                       </button>
                      </div>
                      <div class="modal-body">
                       <!-- filter form for view all data -->
                       <form class="m-form m-form--fit m-form--label-align-right" >
                          <div class="m-portlet__body">
                            <div class="form-group1 m-form__group">
                               <label for="holiday_name">Holiday Name</label>
                               <input class="form-control" type="text" [(ngModel)]="filtersForAllView.holiday_name" [ngModelOptions]="{standalone: true}" name="holiday_name"/>
                             </div>
                             <div class="form-group1 m-form__group">
                                 <label for="projectFilter">Project</label>
                                 <div></div>
                                 <select class="custom-select form-control" id="projectFilter"
                                  [(ngModel)]="filtersForAllView.project_id" [ngModelOptions]="{standalone: true}" (change)="getBankList()">

                                   <option value="">All</option>
                                   <option *ngFor="let project of dropdownValue " [ngValue]="project.project_id">
                                     {{project.project_id}}
                                   </option>

                                 </select>
                              </div>
                             <div class="form-group1 m-form__group">
                              <label for="bankFilter">Bank</label>
                                <select class="custom-select form-control" id="bankFilter" [(ngModel)]="filtersForAllView.bank_code" [ngModelOptions]="{standalone: true}" (change)="getFeeder()">
                                <option *ngFor="let bank of bankList" [ngValue]="bank.bank_id">
                                  {{bank.bank_id}}
                                </option>
                              </select>
                            </div>
                            <div class="form-group1 m-form__group">
                              <label for="feeder_branch">Feeder Branch</label>
                              <div></div>
                              <select class="custom-select form-control" id="feeder_branch" [(ngModel)]="filtersForAllView.feeder_branch" [ngModelOptions]="{standalone: true}" >
                                <option *ngFor="let feeder of feederList" [ngValue]="feeder.feeder">
                                  {{feeder.feeder}}
                                </option>
                              </select>
                            </div>
                            <div class="form-group m-form__group">
                              <label for="is_indent_required">Is Indent Required</label>
                              <select class="custom-select form-control" id="is_indent_required" [(ngModel)]='filtersForAllView.is_indent_required'[ngModelOptions]="{standalone: true}">
                                  <option value="Yes">Yes</option>
                                  <option value="No">No</option>
                              </select>
                            </div>
                            <div class="form-group m-form__group">
                              <label for="withdrawal_type">Withdrawal Type</label>
                              <select class="custom-select form-control" id="withdrawal_type" [(ngModel)]='filtersForAllView.withdrawal_type'[ngModelOptions]="{standalone: true}">
                                  <option value="Vault">Vault</option>
                                  <option value="Bank">Bank</option>
                              </select>
                            </div>
                          </div>
                       </form>
                       <!-- filter form for view all data -->

                      </div>
                      <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-primary" (click)="resetFilter()" >Reset</button>
                       <button type="button" class="btn btn-primary" (click)="updateViewAll()">Submit</button>
                      </div>
                     </div>
                    </div>
                   </div>
                </li>
                <li class="m-portlet__nav-item">
                  <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-angle-down"></i>
                  </a>
                </li>
                <li class="m-portlet__nav-item">
                  <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-expand"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
              <div class="row">
                <div class="col-lg-4">
                  <div class="m-input-icon m-input-icon--left">
                    <input type="text" class="form-control m-input" (keyup)='viewSearch($event)' placeholder="Search..."
                      id="generalSearch">
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                      <span>
                        <i class="la la-search"></i>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-lg-8 m--align-right">
                   <button  *ngIf="permissionList.indexOf('submit') != -1" class="btn btn-brand submit-btn" (click)="editSubmit()" type="button" id='editSubmit'>
                          <span>Submit</span>
                   </button>
                  <div class="dropdown m-dropdown--inline">
                    <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Action </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a *ngIf="permissionList.indexOf('edit_data') != -1" class="dropdown-item m--font-primary" (click)="onMultipleEdit()">
                          <i class="la la-edit"></i> Edit Selected</a>
                        <a *ngIf="permissionList.indexOf('submit') != -1" class="dropdown-item m--font-primary" (click)='verifyIndentCall()'>
                          <i class="fa fa-file-alt m--font-primary"></i> Generate Indent Holiday</a>
                    </div>
                  </div>
                  <!--  select column in viewallData -->
                  <app-multiselect [col]="viewColumnAll" ></app-multiselect>
                  <!--   select column  in viewallData -->

                </div>
              </div>
            </div>

            <!--end: Search Form -->

            <!--begin: Datatable -->
            <div class="form-group">
	            <div *ngIf="submitted && f.is_indent_required.errors" class="invalid-feedback">
	                <div *ngIf="f.is_indent_required.errors.required">Is Indent Required field is required.</div>
	            </div>
	        </div>
	        <div class="form-group">
	            <div *ngIf="submitted && f.withdrawal_type.errors" class="invalid-feedback">
	                <div *ngIf="f.withdrawal_type.errors.required">Withdrawal Type field is required.</div>
	            </div>
	        </div>
            <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="m_datatable" id="local_data"></div>
                </div>
              </div>
              <!--end: Datatable -->
              <ngx-datatable   #viewDataModal
              class="material"
              [headerHeight]="45"
              [columnMode]="'force'"
              [footerHeight]="75"
              [rowHeight]="'50'"
              [rows]="rows"
              [scrollbarH]="true"
              [externalPaging]="true"
              [count]="page.totalElements"
              [offset]="page.pageNumber"
              [limit]="page.size"
              [selected]="selected"
              [selectionType]="'radio'"
              [selectAllRowsOnPage]="false"

              (select)='onSelect($event)'

              >

              <ngx-datatable-column
              name = "Id"
              prop = "id"
              [width]="42"
              [sortable]="false"
              [canAutoResize]="false"
              [draggable]="false"
              [resizeable]="false"
              [headerCheckboxable]="true"
              [checkboxable]="true">

              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">

              </ng-template>

            </ngx-datatable-column>
              <ng-container *ngFor="let col of colList" >
                <ngx-datatable-column
                name="{{col.name}}"
                prop="{{col.prop}}"
                *ngIf="col.selected"
               >
                  <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                   <form [formGroup]="updateGroup">
						<select  name="is_indent_required" *ngIf="col.datatype=='select' && col.isEditable && isEdit[rowIndex] && isMultiEdit && col.prop == 'is_indent_required'" required [(ngModel)]='rows[rowIndex][col.prop]' formControlName='is_indent_required' [ngClass]="{ 'is-invalid': submitted && f.is_indent_required.errors }" >
	                   		<option value="Yes">Yes</option>
	                        <option value="No">No</option>
	                   	</select>

	                   <select name="withdrawal_type" *ngIf="col.datatype=='select' && col.isEditable && isEdit[rowIndex] && isMultiEdit && col.prop == 'withdrawal_type'" [(ngModel)]='rows[rowIndex][col.prop]' required formControlName='withdrawal_type'[ngClass]="{ 'is-invalid': submitted && f.withdrawal_type.errors }"  >
	                   		<option value="Vault">Vault</option>
	                        <option value="Bank">Bank</option>
	                   </select>
	               </form>

                    <span *ngIf='!col.isEditable && col.datatype=="string" '> {{value}}</span>
                    <span *ngIf='!isEdit[rowIndex] && col.datatype=="select" '> {{value}}</span>

                    <span *ngIf='!col.isEditable && col.datatype=="date"'> {{value | date: 'dd-MM-yyyy HH:mm'}} </span>
                  </ng-template>
                 </ngx-datatable-column>

              </ng-container>
              <!-- <ngx-datatable-column name="Action" *ngIf="!isMultiEdit">
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                      <a *ngIf="!isEdit[rowIndex] && permissionList.indexOf('edit_data') != -1" (click)="viewEdit(rowIndex,row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit ">
                            <i class="la la-edit"></i>
                      </a>
                      <a *ngIf="isEdit[rowIndex] && permissionList.indexOf('edit_data') != -1" (click)="editSubmit(rowIndex,row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit ">
                              <i class="la">submit</i>
                      </a>
                  </ng-template>
                </ngx-datatable-column> -->
              <ngx-datatable-footer>
                  <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset">
          <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                      <ul class="m-datatable__pager-nav" *ngIf="page.size<rowCount">

                      <li  (click)="allDataActive(0)"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1"><i class="la la-angle-double-left"></i></a></li>

                      <li (click)="allDataActive(offset-1)">
                        <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i class="la la-angle-left"></i></a>

                      <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)"
                       (click)="allDataActive(offset-1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                        title="{{curPage-1}}">{{curPage-1}} </a></li>

                      <li (click)="allDataActive(offset)"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a></li>

                      <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="allDataActive(offset+1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                     title="{{curPage+1}}">{{curPage+1}} </a></li>

                      <li (click)="allDataActive(offset+1)"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                      <i class="la la-angle-right"></i></a>
                    </li>

                      <li (click)="allDataActive( calculateTotalPage(rowCount,pageSize)-1)"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" ><i class="la la-angle-double-right"></i></a></li>
                    </ul>


                    <div class="m-datatable__pager-info">

                      <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">

                      <select class="  custom-pagination-select"
                      [(ngModel)]="page.size" title="Select page size" (change)="allDataActive(0)">
                        <!-- <option class="bs-title-option" value="">Select page size</option> -->
                        <option value="10">10</option><option value="20">20</option>
                        <option value="30">30</option><option value="50">50</option>
                      </select>


                      </div>
                        <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                          {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span></div></div>
                        </div>
                  </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
            </div>
          </div>
        </div>
        <!-- End of View for All Data -->
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
  <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->

<!-- begin::Quick Nav -->
