<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

    <!-- BEGIN: Header -->
    <app-top-navbar></app-top-navbar>
    <!-- END: Header -->
  
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
  
      <!-- BEGIN: Left Aside -->
      <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
        <i class="la la-close"></i>
      </button>
      <!-- BEGIN: Aside Menu -->
      <app-side-menu></app-side-menu>
      <div class="m-grid__item m-grid__item--fluid m-wrapper">
  
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <h3 class="m-subheader__title m-subheader__title--separator">Indent Report</h3>
              <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                    <i class="m-nav__link-icon la la-home"></i>
                  </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                  <a href="" class="m-nav__link">
                    <span class="m-nav__link-text">Reports</span>
                  </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                  <a href="" class="m-nav__link">
                    <span class="m-nav__link-text">Indent Report</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <!-- END: Subheader -->
        <!-- END: Subheader -->
        <div class="m-content">
          <!--begin::Portlet-->
  
          <!--end::Portlet-->
          <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">All Data</h3>
                </div>
              </div>
              <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                  <li class="m-portlet__nav-item">
                    <a  data-toggle="modal" data-target="#modalfilter" class="filters btn btn-primary m-btn m-btn--icon m-btn--icon-only">
                      <i class="la la-filter"></i>
                    </a>
                    <div class="modal fade" data-backdrop="static" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                      aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter
                              Records</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form class="m-form m-form--fit m-form--label-align-right">
                              <!-- <div class="form-group1 m-form__group">
                                  <label for="type">Type</label>
                                  <div></div>
                                  <select class="custom-select form-control" [(ngModel)]="filterData.type" name="type">
                                    <option *ngFor="let type of typeList" value="{{type.type}}">{{type.type}}</option>
                                  </select>
                                </div> -->
                              <div class="form-group1 m-form__group">
                                <label for="bank">Bank</label>
                                <div></div>
                                <select class="custom-select form-control" [(ngModel)]="filterData.bank" name="bank">
                                  <option *ngFor="let bank of bankList" value="{{bank.value}}">{{bank.bank}}</option>
                                </select>
                              </div>
  
                              <div class="form-group m-form__group">
                                <label class="">Date:</label>
                                <input type="text" placeholder="Select date" name="date" placement="top" class="form-control"
                                  bsDatepicker [(ngModel)]="filterDate" >
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetFormdata()">Close</button>
                            <button type="button" class="btn btn-primary" (click)="InsertDatafn(0)">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
  
                  </li>
                  <li class="m-portlet__nav-item">
                    <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                      <i class="la la-angle-down"></i>
                    </a>
                  </li>
                  <li class="m-portlet__nav-item">
                    <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                      <i class="la la-expand"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
                    <div class="m-alert__icon">
                      <i class="flaticon-danger"></i>
                    </div>
                    <div class="m-alert__text">
                      <strong>{{alert.type}}!</strong> {{alert.text}}
                    </div>
                    <div class="m-alert__actions" style="width: 220px;">
                      <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false"
                        aria-label="Close">Close
                      </button>
                    </div>
                  </div>
              <!--begin: Search Form -->
              <div class="m-form m-form--label-align-right m--margin-bottom-30">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="m-input-icon m-input-icon--left">
                      <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                      <span class="m-input-icon__icon m-input-icon__icon--left">
                        <span>
                          <i class="la la-search"></i>
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-8 m--align-right">
                    <div class="d-inline-block export-button  m--font-primary">
                      <button type="button" class="export-button btn btn-primary" (click)="exportReport();"><i class="fa fa-file-export"></i> Export</button>
                    </div>
                    <!--  select column in viewallData -->
                    <app-multiselect [col]="colList"></app-multiselect>
                    <!--   select column  in viewallData -->
                  </div>
                </div>
              </div>
  
              <!--end: Search Form -->
  
              <!--begin: Datatable -->
              <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <div class="m_datatable" id="local_data"></div>
                        </div>
                      </div>
                      <!--end: Datatable -->
                      <ngx-datatable #viewDataModal class="material" 
                      [headerHeight]="45" [columnMode]="'force'" [footerHeight]="75"
                        [rowHeight]="'50'" [rows]="rows"
                         [scrollbarH]="true" [externalPaging]="true"
                          [count]="page.totalElements"
                        [offset]="page.pageNumber" 
                        [limit]="page.size"
                        >
          
               
                        <ng-container *ngFor="let col of colList">
                    
                          <ngx-datatable-column name="{{col.name}}" prop="{{col.prop}}">
                            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                                
                              <span>{{value}}</span>
                             
                            </ng-template>
                          </ngx-datatable-column>
          
                        </ng-container>
                    
                        <ngx-datatable-footer>
                          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                            <!-- <div style="padding: 5px 10px">
                        <hr style="width:100%" />
                        <div>
                          Rows: {{rowCount}} |
                          Size: {{pageSize}} |
                          Current: {{curPage}} |
                          Offset: {{offset}}
                          selectedCount : {{selectedCount}}
          
                        </div>
                      </div> -->
                            <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">
                              <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                                <ul class="m-datatable__pager-nav" *ngIf="page.size<rowCount">
          
                                  <li (click)="InsertDatafn(0)"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first"
                                      data-page="1"><i class="la la-angle-double-left"></i></a></li>
          
                                  <li (click)="InsertDatafn(offset-1)">
                                    <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i
                                        class="la la-angle-left"></i></a>
          
                                  <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="InsertDatafn(offset-1)"><a
                                      class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage-1}}">{{curPage-1}}
                                    </a></li>
          
                                  <li (click)="InsertDatafn(offset)"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"
                                      title="{{curPage}}">{{curPage}}</a></li>
          
                                  <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="InsertDatafn(offset+1)"><a
                                      class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage+1}}">{{curPage+1}}
                                    </a></li>
          
                                  <li (click)="InsertDatafn(offset+1)"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next"
                                      data-page="2">
                                      <i class="la la-angle-right"></i></a>
                                  </li>
          
                                  <li (click)="InsertDatafn( calculateTotalPage(rowCount,pageSize)-1)"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last"><i
                                        class="la la-angle-double-right"></i></a></li>
                                </ul>
          
          
                                <div class="m-datatable__pager-info">
          
                                  <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">
          
                                    <select class="  custom-pagination-select" [(ngModel)]="page.size" title="Select page size"
                                      (change)="InsertDatafn(0)">
                                      <!-- <option class="bs-title-option" value="">Select page size</option> -->
                                      <option value="10">10</option>
                                      <option value="20">20</option>
                                      <option value="30">30</option>
                                      <option value="50">50</option>
                                    </select>
          
          
                                  </div>
                                  <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                                    {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </ngx-datatable-footer>
                      </ngx-datatable>
                      
                    </div>
                  </div>
                </div>
                <!--end: Datatable -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <app-footer></app-footer>
  </div>
  
  
  
  
  
  
  <!-- begin::Quick Sidebar -->
  <app-quick-sidebar></app-quick-sidebar>
  
  <!-- end::Quick Sidebar -->
  
  
  <!-- begin::Scroll Top -->
  <div id="m_scroll_top" class="m-scroll-top">
    <i class="la la-arrow-up"></i>
  </div>
  
  <!-- end::Scroll Top -->
  <!-- begin::Quick Nav -->
  
  <!-- begin::Quick Nav -->
  