<!--The content below is only a placeholder and can be replaced.-->
	<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

<!-- BEGIN: Header -->
<app-top-navbar></app-top-navbar>
	<!-- END: Header -->

<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
			<i class="la la-close"></i>
		</button>
					<!-- BEGIN: Aside Menu -->
				<app-side-menu></app-side-menu>
				<!-- END: Aside Menu -->
				<div style="width:100%">
					<div *ngIf='viewIndent' class="m-grid__item m-grid__item--fluid m-wrapper">

						<!-- BEGIN: Subheader -->
						<div class="m-subheader ">
							<div class="d-flex align-items-center">
								<div class="mr-auto">
									<h3 class="m-subheader__title m-subheader__title--separator">View/Update Indent Status </h3>
									<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
										<li class="m-nav__item m-nav__item--home">
											<a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
												<i class="m-nav__link-icon la la-home"></i>
											</a>
										</li>
										<li class="m-nav__separator">-</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<span class="m-nav__link-text">Operations</span>
											</a>
										</li>
										<li class="m-nav__separator">-</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<span class="m-nav__link-text">View/Update Indent Status</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- END: Subheader -->
						<!-- END: Subheader -->
						<div class="m-content">
              <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
                  <div class="m-alert__icon">
                    <i class="flaticon-danger"></i>
                  </div>
                  <div class="m-alert__text">
                    <span><strong>{{alert.type}}!</strong></span> {{alert.text}}

                  </div>
                  <div class="m-alert__actions" style="width: 220px;">
                    <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
                    </button>
                  </div>
              </div>

							<!--begin::Portlet-->

							<!--end::Portlet-->
							<div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title"><h3 class="m-portlet__head-text">All Data</h3></div>
									</div>
									<div class="m-portlet__head-tools">
										<ul class="m-portlet__nav">
											<li class="m-portlet__nav-item">
												<a href="#" data-toggle="modal" data-target="#modalfilter" class="m-portlet__nav-link m-portlet__nav-link--icon filters">
													<i class="la la-filter"></i>
												</a>
												<div class="modal fade" data-backdrop="static" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter Records</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<form class="m-form m-form--fit m-form--label-align-right">
																	<div class="form-group1 m-form__group">
																		<label for="indentOrderFilter">Indent Order Number</label>
																		<div></div>
																		<input type="text" class="form-control" id="indentOrderFilter" [(ngModel)]="filterData.indent_order_number" [ngModelOptions]="{standalone: true}">
																	</div>
																	<div class="form-group1 m-form__group">
																		<label for="indentShortCodeFilter">Indent Short Code</label>
																		<div></div>
																		<input type="text" class="form-control" id="indentShortCodeFilter" [(ngModel)]="filterData.indent_short_code" [ngModelOptions]="{standalone: true}">
																	</div>
																	<div class="form-group1 m-form__group">
		                                 <label for="projectFilter">Project</label>
		                                 <div></div>
		                                 <select class="custom-select form-control" id="projectFilter"
		                                  [(ngModel)]="filterData.project_id" [ngModelOptions]="{standalone: true}" (change)="getBankList()">

		                                   <option value="">All</option>
		                                   <option *ngFor="let project of projectBankList " [ngValue]="project.project_id">
		                                     {{project.project_id}}
		                                   </option>

		                                 </select>
		                              </div>
																	<div class="form-group1 m-form__group">
																		<label for="bankFilter">Bank</label>
																		<div></div>
																		<select class="custom-select form-control" id="bankFilter" [(ngModel)]="filterData.bank" [ngModelOptions]="{standalone: true}" (change)="getFeeder()">
																			<option *ngFor="let bank of bankList" [ngValue]="bank.bank_id">
                                        {{bank.bank_id}}
                                      </option>
																		</select>
																	</div>
																	<div class="form-group1 m-form__group">
																		<label for="indentOrderFilter">Feeder Branch</label>
																		<div></div>
																		<ngx-select-dropdown  id="projectFilter"
																													[multiple]="true"
																													[(_value)]="feederValue"
                                               						[(ngModel)]="filterData.feeder_branch"
                                                					[config]="config"
                                                					[options]="feederList"
                                                					[ngModelOptions]="{standalone: true}">
                              			</ngx-select-dropdown>
																	</div>
																	<div class="form-group1 m-form__group">

		                                <label for="date">Date</label>

																	  <input type="text"
																					 [(ngModel)]="filterDate"
																	         placeholder="Select date"
																					 name="date"
																					 placement="top"
																	         class="form-control"
																	         bsDatepicker>

		                              </div>
																	<div class="form-group1 m-form__group">
																		<label for="statusFilter">Status</label>
																		<div></div>
																		<select class="custom-select form-control" id="statusFilter" [(ngModel)]="filterData.record_status" [ngModelOptions]="{standalone: true}" >
																			<option *ngFor="let status of statusList" [ngValue]="status">
                                        {{status}}
                                      </option>
																		</select>
																	</div>
																</form>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" (click)="allDataActive(0)" data-dismiss="modal">Close</button>
																<button type="button" (click)="resetFilter()"class="btn btn-primary">Reset</button>
																<button type="button" class="btn btn-primary" (click)="allDataActive(0)" data-dismiss="modal">Submit</button>
															</div>
														</div>
													</div>
												</div>
												<div class="modal fade" id="editrecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-edit"></i> Edit Record</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="300">
																	<form class="m-form m-form--fit m-form--label-align-right">
																		<div class="form-group m-form__group">
																			<label for="exampleInputEmail1">ATM ID</label>
																			<input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
																		</div>
																		<div class="form-group m-form__group">
																			<label for="exampleSelect1">Bank</label>
																			<select class="form-control m-input m-input--square" id="exampleSelect1">
																				<option>1</option>
																				<option>2</option>
																				<option>3</option>
																				<option>4</option>
																				<option>5</option>
																			</select>
																		</div>
																		<div class="form-group m-form__group">
																			<label for="exampleSelect1">Feeder Branch</label>
																			<select class="form-control m-input m-input--square" id="exampleSelect1">
																				<option>1</option>
																				<option>2</option>
																				<option>3</option>
																				<option>4</option>
																				<option>5</option>
																			</select>
																		</div>
																		<div class="form-group m-form__group">
																			<label for="exampleInputEmail1">CRA</label>
																			<input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
																		</div>
																		<div class="form-group m-form__group">
																			<label for="exampleInputEmail1">Bank Email</label>
																			<input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
																		</div>
																		<div class="form-group m-form__group">
																			<label for="exampleInputEmail1">CRA Custodian</label>
																			<input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
																		</div>
																	</form>
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																<button type="button" class="btn btn-primary">Submit</button>
															</div>
														</div>
													</div>
												</div>
											</li>
											<li class="m-portlet__nav-item">
												<a m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
													<i class="la la-angle-down"></i>
												</a>
											</li>
											<li class="m-portlet__nav-item">
												<a m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
													<i class="la la-expand"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="m-portlet__body">
									<!--begin: Search Form -->
									<div class="m-form m-form--label-align-right m--margin-bottom-30">
										<div class="row">
											<div class="col-lg-4">
												<div class="m-input-icon m-input-icon--left">
													<input type="text" class="form-control m-input" (keyup)='viewSearch($event)' placeholder="Search..."
													id="generalSearch">
															<span class="m-input-icon__icon m-input-icon__icon--left">
														<span>
															<i class="la la-search"></i>
														</span>
													</span>
												</div>
											</div>
											<div class="col-lg-8 m--align-right">
												<div class="dropdown m-dropdown--inline">
			                    <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
			                      aria-haspopup="true" aria-expanded="false">Action </button>

			                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			                      <app-excel-export-component [data]="rows" [colConfig]="colList" [fileName]="fileType" ></app-excel-export-component>
			                    </div>
			                  </div>
												<app-multiselect [col]="colList" ></app-multiselect>
											</div>
										</div>
									</div>

									<!--end: Search Form -->

									<!--begin: Datatable -->
									<div>
                      <ngx-datatable   #viewDataModal
                      class="material"
											[headerHeight]="45"
											[columnMode]="'force'"
											[footerHeight]="75"
											[rowHeight]="'50'"
											[rows]="rows"
											[scrollbarH]="true"
											[externalPaging]="true"
											[count]="page.totalElements"
											[offset]="page.pageNumber"
											[limit]="page.size"
                      >

											<ngx-datatable-column *ngIf = "permissionList.indexOf('view') != -1 || permissionList.indexOf('edit_data') != -1" name=" " [width] = "150" >
                          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
														<button *ngIf="permissionList.indexOf('edit_data') != -1" type="button" (click)="getIndentDetails(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" title="View/Edit Atm Level Indent ">
														<i class="fa fa-file-alt m--font-secondary"></i>
													</button>
														<button *ngIf="permissionList.indexOf('view') != -1" type="button" (click)="getIndentPdf(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" title="View Indent Pdf">
															<i class="fa fa-file-pdf m--font-danger"></i>
														</button>
														<button *ngIf="permissionList.indexOf('edit_data') != -1" type="button" (click)="editIndent(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" title="Revise Selected Indent">
															<i class="fa fa-edit m--font-primary"></i>
														</button>
                          </ng-template>
                      </ngx-datatable-column>

                      <ng-container *ngFor="let col of colList">
                        <ngx-datatable-column
	                        name="{{col.name}}"
	                        prop="{{col.prop}}"
													*ngIf = "col.selected"
                        	>
                          <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                            <span *ngIf='col.dataType=="string"' [title]='value'> {{value}}</span>
														<span *ngIf='col.dataType=="currency"' [title]='value'> {{value | amountMask}}</span>
                            <span *ngIf='col.dataType=="date"' [title]="value | date: 'dd-MM-yyyy HH:mm'"> {{value | date: 'dd-MM-yyyy HH:mm'}} </span>
                          </ng-template>
                         </ngx-datatable-column>

                      </ng-container>
											<ngx-datatable-footer>
			  											<ng-template
			  												ngx-datatable-footer-template
			  												let-rowCount="rowCount"
			  												let-pageSize="pageSize"
			  												let-selectedCount="selectedCount"
			  												let-curPage="curPage"
			  												let-offset="offset">
			  												<div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
			  													<ul class="m-datatable__pager-nav">

			  														<li  (click)="allDataActive(0)">
			  															<a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1">
			  																<i class="la la-angle-double-left"></i>
			  															</a>
			  														</li>

			  														<li (click)="allDataActive(offset-1)">
			  															<a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1">
			  																<i class="la la-angle-left"></i>
			  															</a>
			  														</li>

			  														<li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="allDataActive(offset-1)" >
			  															<a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage-1}}">{{curPage-1}} </a>
			  														</li>

			  														<li (click)="allDataActive(offset)">
			  															<a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a>
			  														</li>

			  														<li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="allDataActive(offset+1)" >
			  															<a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage+1}}">{{curPage+1}} </a>
			  														</li>

			  														<li (click)="allDataActive(offset+1)">
			  															<a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
			  																<i class="la la-angle-right"></i>
			  															</a>
			  														</li>

			  														<li (click)="allDataActive(calculateTotalPage(rowCount,pageSize)-1)">
			  															<a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" >
			  																<i class="la la-angle-double-right"></i>
			  															</a>
			  														</li>
			  													</ul>

			  													<div class="m-datatable__pager-info">

			  														<div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">

			  															<select class="  custom-pagination-select" [(ngModel)]="page.size" title="Select page size" (change)="allDataActive(0)">
			  																<option *ngFor = "let x of pagesizeList" [ngValue]="x">{{x}}</option>
			  															</select>

			  														</div>
			  														<span class="m-datatable__pager-detail">Displaying {{curPage}} - {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span>

			  													</div>
			  												</div>
			  												</div>
			  											</ng-template>
			  										</ngx-datatable-footer>
                    </ngx-datatable>
                  </div>

								</div>
							</div>
						</div>
						<ng-template #viewPdfDetailsModal class="modal content-fit">

							<div>

								<button (click) = "downloadPdf()" type="button" class="pull-left btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
									<span>
										<i class="la la-download"></i>
										<span>Download</span>
									</span>
								</button>

								<button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
	                <span aria-hidden="true">&times;</span>
	              </button>

							</div>

								<pdf-viewer [src]="blobUrl"
							              [render-text]="true"
							              style="display: block;"
														>
								</pdf-viewer>
						</ng-template>
						<ng-template #viewDetailsModal class="">
							<div class="modal-header">
								<div class="col-11">
									<div class="row">
										<h4 class="modal-title pull-left">
											EPS Ref No: {{currentIndent.indent_short_code}}
										</h4>
									</div>
								</div>
								<div class="pull-right col-1">
									<button type="button" class="close" aria-label="Close" (click)="allDataActive(0); modalRef.hide()">
										<span aria-hidden="true">&times;</span>
									</button>
									<button type="button" class="expandIco" [ngClass]="{'compress': isExpanded,'expand': !isExpanded}" aria-label="Expand/Collapse" (click)="isExpanded = !isExpanded ; expandModal($event)">
										<span aria-hidden="true">&#xf1a4;</span>
										<span aria-hidden="true">&#xf1d0;</span>
									</button>
								</div>
							</div>
							<div class="modal-body">
										<div class="row fixed-band-custom dataTables_wrapper dt-bootstrap4 no-footer" id="m_table_1_wrapper">
												<table class="table m-table">
													<thead class="eps-ggrey">
														<tr class="m-table__row eps-thead">
															<th colspan="3">Bank Code</th>
															<th colspan="3">Feeder Branch</th>
															<th colspan="3">Bank Decide Limit Days</th>
															<th colspan="3">Bank Loading Limit Days</th>
															<th colspan="3">Feeder Decide Limit Days</th>
															<th colspan="3">Feeder Loading Limit Days</th>
															<th colspan="3">Date</th>
															<th colspan="3">CRA</th>
														</tr>
													</thead>
													<tbody>
														<tr class="m-table__row eps-tbody">
															<th colspan="3">{{currentIndent.bank}}</th>
															<th colspan="3">{{currentIndent.feeder_branch}}</th>
															<th colspan="3">{{currentIndent?.indent_detail[0]?.distribution_details?.bank_decide_limit_days}}</th>
															<th colspan="3">{{currentIndent?.indent_detail[0]?.distribution_details?.bank_loading_limit_days}}</th>
															<th colspan="3">{{currentIndent?.indent_detail[0]?.distribution_details?.feeder_decide_limit_days}}</th>
															<th colspan="3">{{currentIndent?.indent_detail[0]?.distribution_details?.feeder_loading_limit_days}}</th>
															<th colspan="3">{{currentIndent.order_date | date: 'dd/MM/yy'}}</th>
															<th colspan="3">{{currentIndent.cra}}</th>
														</tr>
														<tr class="m-table__row eps-thead">
																					<th colspan="17"></th>
																					<th colspan="2"></th>
																					<!-- <th>50 </th> -->
	                                        <th>100 </th>
																					<th>200 </th>
																					<th>500 </th>
																					<th>2000 </th>
																					<th>Total Amount</th>
														</tr>
														<tr class="m-table__row eps-tbody">
															<td colspan="17"></td>
															<th colspan="2">Loading Amount</th>
															<!-- <td><input type="text" disabled [(ngModel)] = "currentIndent.total_atm_loading_amount_50"    class = "form-control form-control-sm m-input" id="loading_amount_50"  ></td> -->
															<td><input type="text" disabled [ngModel] = "currentIndent.total_atm_loading_amount_100 | amountMask"   class = "form-control form-control-sm m-input text-right" id="loading_amount_100"  ></td>
															<td><input type="text" disabled [ngModel] = "currentIndent.total_atm_loading_amount_200 | amountMask"   class = "form-control form-control-sm m-input text-right" id="loading_amount_200"  ></td>
															<td><input type="text" disabled [ngModel] = "currentIndent.total_atm_loading_amount_500 | amountMask"   class = "form-control form-control-sm m-input text-right" id="loading_amount_500"  ></td>
															<td><input type="text" disabled [ngModel] = "currentIndent.total_atm_loading_amount_2000 | amountMask"  class = "form-control form-control-sm m-input text-right" id="loading_amount_2000"  ></td>
															<td><input type="text" disabled [ngModel] = "currentIndent.total_atm_loading_amount | amountMask" class = "form-control form-control-sm m-input text-right" id="loading_amount_Total"  ></td>
														</tr>
													</tbody>
												</table>
										</div>
										<!-- <div class="row">
											<div class="col-12">
												<div class="m-input-icon m-input-icon--left">
													<input type="text" class="form-control m-input" (keyup)='viewDetailSearch($event)' placeholder="Search by ATM ID..." id="generalSearch" >
													<span class="m-input-icon__icon m-input-icon__icon--left">
														<span>
															<i class="la la-search"></i>
														</span>
													</span>
												</div>
											</div>
										</div> -->
										<ngx-datatable   #viewDataModal
										class="material custom"
										[headerHeight]="25"
										[columnMode]="'force'"
										[rowHeight]="auto"
										[rows]="prevRows"
										[scrollbarH]="true"
										[externalPaging]="false"
										>
										<ng-container *ngFor="let col of detailsColList">
											<ngx-datatable-column
												name="{{col.name}}"
												prop="{{col.prop}}"
												minWidth = "{{col.width}}"
												width = '{{col.width}}'
												>
												<ng-template let-column="column" ngx-datatable-header-template >
									        <div [ngClass]="{'bg-warning':col.bg == 'lyellow', 'bg-success':col.bg == 'lgreen'}"  >{{column.name}}</div>
									      </ng-template>
												<ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex" class="bg-red">
													<span *ngIf='col.dataType=="string" && !col.isEditable' title="{{value}}">{{value}}</span>

													<select *ngIf='col.dataType=="select" && col.isEditable' class="custom-select form-control custom-modal-select" [(ngModel)]="row[col.prop]" [ngModelOptions]="{standalone: true}"
														name="purpose">
														<option *ngFor="let prp of purposeList " [ngValue]="prp">
															{{prp}}
														</option>
													</select>
													<div class="text-right" *ngIf='col.dataType=="currency" && !col.isEditable'> {{value | amountMask}}</div>
													<input class="text-right" *ngIf='col.isEditable && col.prop != "total" && col.dataType!="select"' appAmountMask placement = 'bottom' [tooltip]="message[rowIndex]!=undefined?message[rowIndex][col.prop] : null" triggers="keyup:keydown" type="text" [(ngModel)] = "row[col.prop]" id = "{{col.prop}}_{{i}}" (keyup) = "changeTotal($event,rowIndex,col.prop)" >
													<input class="text-right" *ngIf='col.isEditable && col.prop == "total" && col.dataType!="select"' disabled type="text" [ngModel] = "row[col.prop] | amountMask" id="{{col.prop}}_{{i}}" >
													<span *ngIf='col.dataType=="date" && !col.isEditable'> {{value | date: 'dd-MM-yyyy HH:mm'}} </span>
												</ng-template>
											 </ngx-datatable-column>
										</ng-container>
									</ngx-datatable>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
								<button type="button" class="btn btn-secondary" name="reset" (click)="resetIndentDetailsEdit()">Clear</button>
								<button type="button" [disabled] = "isError" class="btn btn-primary" name="submit" (click)="modalRef.hide();submitIndentDetailsEdit('submit')">Submit</button>
								<button type="button" [disabled] = "isError" class="btn btn-primary" name="submit" (click)="modalRef.hide();submitIndentDetailsEdit('save')">Save & Send Pdf</button>
							</div>
						</ng-template>
					</div>
					<div *ngIf='!viewIndent'>
						<app-submit-revision (returnToView)= 'returnToView($event)' [rowData] = 'rowData'> </app-submit-revision>
					</div>
				</div>
  </div>
	<app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>

		<!-- end::Scroll Top -->
			<!-- begin::Quick Nav -->

		<!-- begin::Quick Nav -->
