<div class="login" *ngIf = "haveValidationKey">

    <div class="login_cnt">
      <img src="../../assets/logo_default_dark.png">
    </div>

    <div>
      Loading .......
    </div>

</div>


<div class="container" *ngIf = "!haveValidationKey">
  <div class="m-content">
    <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
        <div class="m-alert__icon">
          <i class="flaticon-danger"></i>
        </div>
        <div class="m-alert__text">
          <span><strong>{{alert.type}}!</strong></span> {{alert.text}}

        </div>
        <div class="m-alert__actions" style="width: 220px;">
          <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
          </button>
        </div>
    </div>
  </div>
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form role="login">
          <img src="../../assets/logo_default_dark.png" class="img-responsive" alt="EPStar" />
          <input type="text" name="username" placeholder="User Name" [ngModelOptions]="{standalone: true}" [(ngModel)]="loginData.username" class="form-control input-lg" required/>

          <input type="password" name="password" class="form-control input-lg" id="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="loginData.password" placeholder="Password" required />


          <div class="pwstrength_viewport_progress"></div>

            <select class="selectpicker form-control input-lg" title="Select Language" [ngModelOptions]="{standalone: true}" [(ngModel)]="loginData.language" >

              <option value="en">English</option>
              <option value="ch">Mandarin</option>
              <option value="sp">Spanish</option>
              <option value="dc">German</option>
              <option value="fr">French</option>
            </select>


          <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="login()" name="go">Sign in</button>
          <button type="reset" class="btn btn-lg btn-secondary btn-block" name="Reset">Reset</button>

        </form>

      </section>
      </div>

      <div class="col-md-4"></div>


  </div>
</div>
