
					<router-outlet ></router-outlet>

					<ngx-spinner
					    bdColor = "rgba(51, 51, 51, 0.8)"
					    size = "large"
					    color = "#ffffff"
					    type = "ball-atom"
					    >
							<span style="color: #ffffff; font-size: 16pt">Loading. please wait ...</span>
					</ngx-spinner>
