<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">

      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">User Role Menu Permission Mapping</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
              <li class="m-nav__item m-nav__item--home">
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">User</span>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">User Role Menu Permission Mapping</span>
                </a>
              </li>
            </ul>
          </div>
          <div>

          </div>
          <div>
          </div>
        </div>
      </div>

      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
          <div class="m-alert__icon">
            <i class="flaticon-danger"></i>
          </div>
          <div class="m-alert__text">
            <strong>{{alert.type}}!</strong> {{alert.text}}
          </div>
          <div class="m-alert__actions" style="width: 220px;">
            <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false"
              aria-label="Close">Close
            </button>
          </div>
        </div>
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tabs" id="m_portlet_tools_1">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  User Role Mapping
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="tab-content">
              <div class="tab-pane active" id="m_portlet_tab_1_1">
                <form class=" m-form m-form--fit m-form--label-align-right" name="add">
                  <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                          <label for="group">Group</label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label for="group">Parent Menu</label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label for="group">Child Menu</label>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <label for="group">Permissions</label>
                        </div>
                  </div>
                  <div *ngFor="let add of addField ; let i = index" class="row mb-2 mt-1">

                            <div class="col-md-2 col-sm-2 col-xs-2">
                              <select class="custom-select form-control " [(ngModel)]="addField[i].group_id" [ngModelOptions]="{standalone: true}"
                                name="group">
                                <option *ngFor="let grp of groupList " [ngValue]="grp.id">
                                  {{grp.group_name}}
                                </option>
                              </select>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                              <select class="custom-select form-control " [(ngModel)]="addField[i].menu_list[0].menu" [ngModelOptions]="{standalone: true}"
                                name="parentMenu" (change) = "getChildMenu(i)">
                                <option *ngFor="let menu of menuList " [ngValue]="menu.menu_id">
                                  {{menu.display_name}}
                                </option>
                              </select>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                              <select class="custom-select form-control " [(ngModel)]="addField[i].menu_list[0].submenu_permission_list[0].submenu" [ngModelOptions]="{standalone: true}"
                                name="childMenu">
                                <option *ngFor="let menu of childMenuList[i] " [ngValue]="menu.menu_id">
                                  {{menu.display_name}}
                                </option>
                              </select>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                              <ngx-select-dropdown  [multiple]="true"
                                                    [(ngModel)]="addField[i].menu_list[0].submenu_permission_list[0].permission_list"
                                                    [config]="config"
                                                    [options]="permissionList"
                                                    [ngModelOptions]="{standalone: true}"
                                                    >
                              </ngx-select-dropdown>
                            </div>
                          <div class="col-md-2 col-sm-2 col-xs-2">

                              <button *ngIf = "addField.length-1 == i " class="btn add-more btn-sm mr-2" type="button" (click)="AddFiled(i+1)">+</button>
                              <button *ngIf = "addField.length != 1" class="btn add-more btn-sm" type="button" (click)="RemoveField()">-</button>

                          </div>
                  </div>
                  <div class="mx-auto">
                      <button type="button" class="btn btn-primary ml-2" (click)="addMenuPermission()">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!--Start of  View for All Data -->
        <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">All Data</h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <a href="#" data-toggle="modal" data-target="#modalfilter" class="m-portlet__nav-link m-portlet__nav-link--icon filters">
                    <i class="la la-filter"></i>
                  </a>
                  <div class="modal fade" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter
                          Records</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- filter form for view all data -->
                        <form class="m-form m-form--fit m-form--label-align-right">
                          <div class="m-portlet__body" *ngFor="let add of addField ; let i = index">
                            <div class="form-group1 m-form__group">
                              <label for="exampleInputEmail1">Group</label>
                              <div></div>
                              <select class="custom-select form-control " [(ngModel)]="filterData.group_id" [ngModelOptions]="{standalone: true}"
                              name="group">
                              <option *ngFor="let grp of groupList " [ngValue]="grp.id">
                                {{grp.group_name}}
                              </option>
                            </select>
                            </div>
                            <div class="form-group1 m-form__group">
                                <label for="exampleInputEmail1">Parent Menu</label>
                                <div></div>
                                <select class="custom-select form-control " [(ngModel)]="filterData.menu_id" [ngModelOptions]="{standalone: true}"
                                name="parentMenu" (change) = "getChildMenuFilter($event)">
                                <option *ngFor="let menu of menuList " [ngValue]="menu.menu_id">
                                  {{menu.display_name}}
                                </option>
                              </select>
                              </div>
                              <div class="form-group1 m-form__group">
                                  <label for="exampleInputEmail1">Child Menu</label>
                                  <div></div>
                                  <select class="custom-select form-control " [(ngModel)]="filterData.sub_menu_id" [ngModelOptions]="{standalone: true}"
                                  name="childMenu">
                                  <option *ngFor="let menu of childMenuListFilter " [ngValue]="menu.menu_id">
                                    {{menu.display_name}}
                                  </option>
                                </select>
                                </div>
                                <div class="form-group1 m-form__group">
                                    <label for="exampleInputEmail1">Permissions</label>
                                    <div></div>
                                    <select class="custom-select form-control " [(ngModel)]="filterData.permission_id" [ngModelOptions]="{standalone: true}"
                                    name="permissionList">
                                    <option *ngFor="let permission of permissionList " [ngValue]="permission.id">
                                      {{permission.perm_codename}}
                                    </option>
                                  </select>
                                  </div>
                          </div>
                        </form>
                        <!-- filter form for view all data -->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="resetFilter()">Reset</button>
                        <button type="button" class="btn btn-primary" (click)="readPermissionMapping()">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>

                </li>
                <li class="m-portlet__nav-item">
                  <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-angle-down"></i>
                  </a>
                </li>
                <li class="m-portlet__nav-item">
                  <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-expand"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
              <div class="row">
                <div class="col-lg-4">
                  <div class="m-input-icon m-input-icon--left">
                    <input type="text" class="form-control m-input"  placeholder="Search..."
                      id="generalSearch">
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                      <span>
                        <i class="la la-search"></i>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-lg-8 m--align-right">
                  <button class="btn btn-brand submit-btn" type="button">
                    <span>Submit</span>
                  </button>
                  <div class="dropdown m-dropdown--inline">
                    <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Action </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <!-- <a class="dropdown-item m--font-primary" href="#">
                          <i class="fa fa-file-export m--font-primary"></i> Export</a> -->
                      <a class="dropdown-item m--font-danger deleteselected" href="">
                        <i class="fa fa-trash m--font-danger"></i> Delete Selected</a>
                      <!-- <a class="dropdown-item m--font-primary" (click)="onMultipleEdit()">
                          <i class="la la-edit"></i> Edit Selected</a> -->
                    </div>
                  </div>
                  <!--  select column in viewallData -->
                  <!-- <app-multiselect [col]="viewColumnAll"></app-multiselect> -->
                  <!--   select column  in viewallData -->

                </div>
              </div>
            </div>

            <!--end: Search Form -->

            <!--begin: Datatable -->
            <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="m_datatable" id="local_data"></div>
                </div>
              </div>
              <!--end: Datatable -->
              <ngx-datatable #exceptionTable
                              class="material"
                              [rows]="rows"
                              [headerHeight]="50"
                              [scrollbarH]="true"
                              [footerHeight]="50"
                              [rowHeight]="'50'"
                              [limit]="pageLimit"
                              [columnMode]="'force'">

                <ngx-datatable-column [width]="100" name="Actions">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button type="button" (click)="deletePermission(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" title="View Ticket Details">
                      <i class="fa fa-trash m--font-danger"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>

                <ng-container *ngFor="let viewCol of colList">

                  <ngx-datatable-column name="{{viewCol.name}}" prop="{{viewCol.prop}}">

                    <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex = "rowIndex">
                      <span *ngIf="viewCol.prop != 'created_on'"> {{value}}</span>
                      <span *ngIf="viewCol.prop == 'created_on'"> {{value | date: 'dd-MM-yyyy'}} </span>
                    </ng-template>

                  </ngx-datatable-column>

                </ng-container>

                <ngx-datatable-footer>
                  <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"

                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    let-limit = "limit"
                    let-isVisible="isVisible">
                      <div class="page-count">
                        <span *ngIf="selectedMessage">
                          {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                        </span>
                        {{rowCount.toLocaleString()}} {{totalMessage}}
                      </div>
                      <datatable-pager
                          [pagerLeftArrowIcon]="'la la-angle-left m-datatable__pager-link m-datatable__pager-link--prev'"
                          [pagerRightArrowIcon]="'la la-angle-right m-datatable__pager-link m-datatable__pager-link--next'"
                          [pagerPreviousIcon]="'la la-angle-double-left m-datatable__pager-link m-datatable__pager-link--first'"
                          [pagerNextIcon]="'la la-angle-double-right m-datatable__pager-link m-datatable__pager-link--last'"
                          [page]="curPage"
                          [size]="pageSize"
                          [count]="rowCount"
                          [hidden]="!((rowCount / pageSize) > 1)"
                          (change)="table.onFooterPage($event)">
                      </datatable-pager>
                      <div class="m-datatable__pager-info">

                        <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">

                          <select class="custom-pagination-select" [(ngModel)]="pageLimit" title="Select page size" (click)="limit = pageLimit; pageSize = pageLimit">
                            <option *ngFor = "let x of pagesizeList" [ngValue]="x">{{x}}</option>
                          </select>

                        </div>
                      </div>
                  </ng-template>
                </ngx-datatable-footer>

              </ngx-datatable>
            </div>
          </div>
        </div>
        <!-- End of View for All Data -->

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
  <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->

<!-- begin::Quick Nav -->
