<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">

      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Workflow</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
              <li class="m-nav__item m-nav__item--home">
                <a href="#" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">User</span>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">Workflow</span>
                </a>
              </li>
            </ul>
          </div>
          <div>

          </div>
          <div>
          </div>
        </div>
      </div>

      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
          <div class="m-alert__icon">
            <i class="flaticon-danger"></i>
          </div>
          <div class="m-alert__text">
            <strong>{{alert.type}}!</strong> {{alert.text}}
          </div>
          <div class="m-alert__actions" style="width: 220px;">
            <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false"
              aria-label="Close">Close
            </button>
          </div>
        </div>
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tabs" id="m_portlet_tools_1">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Workflow Mapping
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="tab-content">
              <div class="tab-pane active" id="m_portlet_tab_1_1">
                <form class=" m-form m-form--fit m-form--label-align-right" name="add">
                  <div *ngFor="let row of addForm ; let i = index" class="row form-group-eps">

                            <div class="col-10">
                              <div class="row">
                                <div class="col-4">
                                  <label for="category_{{i}}">Category</label>
                                  <select name="type" class="form-control custom-select m-input" [(ngModel)]="row.category" [ngModelOptions]="{standalone: true}" (change)="getSubcat(i,row.category)">
                                    <option  *ngFor = "let opt of catList" [value]="opt">{{opt}}</option>
                                  </select>
                                </div>
                                <div class="col-4">
                                  <label for="sub_category_{{i}}">Sub Category</label>
                                  <select name="subtype" class="form-control custom-select m-input" [(ngModel)]="row.sub_category" [ngModelOptions]="{standalone: true}" >
                                    <option  *ngFor = "let opt of subCatList[i]" [value]="opt">{{opt}}</option>
                                  </select>
                                </div>
                                <div class="col-4">
                                  <label for="sla_{{i}}">Sla</label>
                                  <input type="number" class = "form-control" name="sla_{{i}}" [(ngModel)]="row.sla" [ngModelOptions]="{standalone: true}" >
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-4">
                                  <label for="assigned_to_group_{{i}}">Assigned To Group</label>
                                  <select class="custom-select form-control " [(ngModel)]="row.assigned_to_group" [ngModelOptions]="{standalone: true}" (change)="enableUser(i)"
                                    name="group">
                                    <option *ngFor="let grp of groupList " [ngValue]="grp.id">
                                      {{grp.group_name}}
                                    </option>
                                  </select>
                                </div>
                                <div class="col-4">
                                  <label for="assigned_to_user_{{i}}">Assign To User</label>
                                  <select disabled="{{userDisabled[i]}}" class="custom-select form-control" [(ngModel)]="row.assigned_to_user" [ngModelOptions]="{standalone: true}" name="user">
                                    <option *ngFor="let username of userList[i]" value="{{username.id}}">{{username.user_name}}</option>
                                  </select>
                                </div>
                                <div class="col-4">
                                  <label for="escalation_level1_{{i}}">Escalation Level 1</label>
                                  <select class="custom-select form-control" [(ngModel)]="row.escalation_level1" [ngModelOptions]="{standalone: true}" name="escalation_level1_{{i}}">
                                    <option *ngFor="let username of UserList" value="{{username.id}}">{{username.user_name}}</option>
                                  </select>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-4">
                                  <label for="escalation_level2_{{i}}">Escalation Level 2</label>
                                  <select class="custom-select form-control" [(ngModel)]="row.escalation_level2" [ngModelOptions]="{standalone: true}" name="escalation_level2_{{i}}">
                                    <option *ngFor="let username of UserList" value="{{username.id}}">{{username.user_name}}</option>
                                  </select>
                                </div>
                                <div class="col-4">
                                  <label for="escalation_level3_{{i}}">Escalation Level 3</label>
                                  <select class="custom-select form-control" [(ngModel)]="row.escalation_level3" [ngModelOptions]="{standalone: true}" name="escalation_level3_{{i}}">
                                    <option *ngFor="let username of UserList" value="{{username.id}}">{{username.user_name}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-2 text-right pt-3">
                              <button class="btn add-more mr-2" *ngIf = "addForm.length-1 == i " type="button" (click)="addField()">+</button>
                              <button class="btn add-more" *ngIf = "addForm.length != 1" type="button" (click)="removeField(i)">-</button>
                            </div>
                  </div>
                  <div class="text-right row form-group">
                    <div class="col-12">
                      <button type="button" class="btn btn-secondary" (click)="resetWorkflow()">Reset</button>
                      <button type="button" class="btn btn-primary ml-2" (click)="addWorkflow()">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!--Start of  View for All Data -->
        <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">All Data</h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <a href="#" data-toggle="modal" data-target="#modalfilter" class="m-portlet__nav-link m-portlet__nav-link--icon filters">
                    <i class="la la-filter"></i>
                  </a>


                </li>
                <li class="m-portlet__nav-item">
                  <a href="#" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-angle-down"></i>
                  </a>
                </li>
                <li class="m-portlet__nav-item">
                  <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-expand"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
              <ng-container *ngFor = "let row of rows; let i = index">
                <div class="card custom-card mb-2" style="width: 100%;">
                  <div class="card-header custom-card-header">
                    {{i+1}}
                  </div>
                  <div class="card-body">
                        <div class="row">
                          <div class="col-4">
                            <label class="font-weight-bold" for="category_{{i}}">Category:&nbsp;</label>
                            <span id="category_{{i}}">{{row.category}}</span>
                          </div>
                          <div class="col-4">
                            <label class="font-weight-bold" for="sub_category_{{i}}">Sub Category:&nbsp;</label>
                            <span id="sub_category_{{i}}">{{row.sub_category}}</span>
                          </div>
                          <div class="col-4">
                            <label class="font-weight-bold" for="sla_{{i}}">Sla:&nbsp;</label>
                            <span id="sla_{{i}}">{{row.sla}}</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <label class="font-weight-bold" for="assigned_to_user_{{i}}">Assigned To User:&nbsp;</label>
                            <span id="assigned_to_user_{{i}}">{{row.user_name}}</span>
                          </div>
                          <div class="col-4">
                            <label class="font-weight-bold" for="assigned_to_group_{{i}}">Assigned To Group:&nbsp;</label>
                            <span id="assigned_to_group_{{i}}">{{row.group_name}}</span>
                          </div>
                          <div class="col-4">
                            <label class="font-weight-bold" for="status_{{i}}">Status:&nbsp;</label>
                            <span id="status_{{i}}">{{row.status}}</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <label class="font-weight-bold" for="escalation_level1_{{i}}">Escalation Level 1:&nbsp;</label>
                            <span id="escalation_level1_{{i}}">{{row.escalationLevel1}}</span>
                          </div>
                          <div class="col-4">
                            <label class="font-weight-bold" for="escalation_level2_{{i}}">Escalation Level 2:&nbsp;</label>
                            <span id="escalation_level2_{{i}}">{{row.escalationLevel2}}</span>
                          </div>
                          <div class="col-4">
                            <label class="font-weight-bold" for="escalation_level3_{{i}}">Escalation Level 3:&nbsp;</label>
                            <span id="escalation_level3_{{i}}">{{row.escalationLevel3}}</span>
                          </div>
                        </div>
                  </div>

                  <div class="card-footer custom-card-footer">
                    <button type="button" class="close" aria-label="Close" (click)="removeWorkflow(row)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                </div>
              </ng-container>
              <div *ngIf = 'rows.length == 0'>
                <span>No records to display...</span>
              </div>
          </div>
        </div>
        <!-- End of View for All Data -->

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
  <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->

<!-- begin::Quick Nav -->
