<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">

      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">SLA</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
              <li class="m-nav__item m-nav__item--home">
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">Reference Data</span>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">SLA</span>
                </a>
              </li>
            </ul>
          </div>
          <div>
            <a href="#" data-toggle="modal" data-target="#m_modal_6" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
              <span>
                <i class="la la-archive"></i>
                <span>Upload</span>
              </span>
            </a>
            <div class="modal fade" data-backdrop="static"  id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Upload SLA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="m-form m-form--fit m-form--label-align-right">
                      <div class="m-portlet__body">
                        <!-- <div class="form-group1 m-form__group">
                        <label for="exampleInputEmail1">Custom Select</label>
                        <div></div>
                        <select class="custom-select form-control">
                          <option selected="">Open this select menu</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div> -->
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">Select File</label>
                          <div></div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- END: Subheader -->
      <!-- END: Subheader -->
      <div class="m-content">
        <!-- <div class="m-alert m-alert--icon alert alert-success" role="alert">
        <div class="m-alert__icon">
          <i class="flaticon-danger"></i>
        </div>
        <div class="m-alert__text">
          <strong>Updated!</strong> New data has been uploaded, awaiting response
        </div>
        <div class="m-alert__actions" style="width: 220px;">
          <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" data-dismiss="alert1" aria-label="Close">View
          </button>
        </div>
      </div> -->
        <!--begin::Portlet-->
        <!-- <div class="m-portlet m-portlet--tabs" id="m_portlet_tools_1">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Data Information <small>details about status of the ATM Make data</small>
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--right m-tabs-line-danger" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_1_1" role="tab">
                  Current
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_2" role="tab">
                  Previous
                </a>
              </li>
            </ul>
            <ul class="m-portlet__nav m--margin-left-20">
              <li class="m-portlet__nav-item">
                <a href="#" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                  <i class="la la-angle-down"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="tab-pane active" id="m_portlet_tab_1_1">
              <table class="table table-bordered m-table  table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Current Status</th>
                    <td><span class="m-badge m-badge--metal m-badge--wide">Pending</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Uploaded Date &amp; Time</th>
                    <td>3nd September, 2018 1:25 PM</td>
                  </tr>
                  <tr>
                    <th scope="row">Uploaded By</th>
                    <td>Hitesh Thakkar</td>
                  </tr>
                  <tr>
                    <th scope="row">Approver</th>
                    <td>Jhon Doe</td>
                  </tr>
                </tbody>
              </table>
              <div class="m-portlet__foot">
                <div class="row align-items-center">
                  <div class="col-lg-6 m--valign-middle">
                    <h6 class="m-portlet__head-text">Take Action:</h6>
                  </div>
                  <div class="col-lg-6 m--align-right">
                    <button type="submit" class="btn btn-success btn-approve">Approve</button>
                    <span class="m--margin-left-10 m--margin-right-10">or</span>
                    <button type="submit" data-toggle="modal" data-target="#rejectdata" class="btn btn-danger">Reject</button>
                    <div class="modal fade" id="rejectdata" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title m--font-danger" id="exampleModalLongTitle"><i class="la la-close m--font-danger"></i> Reject Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form class="m-form m-form--fit">
                              <div class="m-portlet__body">
                                <div class="form-group m-form__group m--align-left">
                                  <label for="exampleTextarea">Reject Remarks</label>
                                  <textarea class="form-control m-input" id="exampleTextarea" rows="3"></textarea>
                                </div>

                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-reject">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="m_portlet_tab_1_2">
              <table class="table table-bordered m-table  table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Uploaded Date &amp; Time</th>
                    <td>2nd September, 2018 1:25 PM</td>
                  </tr>
                  <tr>
                    <th scope="row">Uploaded By</th>
                    <td>Hitesh Thakkar</td>
                  </tr>
                  <tr>
                    <th scope="row">Approved Date &amp; Time</th>
                    <td>3rd September, 2018 1:25 PM</td>
                  </tr>
                  <tr>
                    <th scope="row">Approved By</th>
                    <td>Jhon Doe</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> -->

        <!--end::Portlet-->
        <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">All Data</h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <a href="#" data-toggle="modal" data-target="#modalfilter" class="filters btn btn-primary m-btn m-btn--icon m-btn--icon-only">
                    <i class="la la-filter"></i>
                  </a>
                  <div class="modal fade" data-backdrop="static"  id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter
                            Records</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                              <div class="form-group1 m-form__group">
                                <label for="exampleInputEmail1">Bank</label>
                                <div></div>
                                <div class="dropdown bootstrap-select form-control m-bootstrap-select"><select class="form-control m-bootstrap-select"
                                    id="m_form_status" tabindex="-98">
                                    <option value="">All</option>
                                    <option value="1">State Bank of India</option>
                                    <option value="2">Bank of India</option>
                                    <option value="3">Punjab National Bank</option>
                                    <option value="3">Kotak Bank</option>
                                  </select><button type="button" class="btn dropdown-toggle bs-placeholder btn-light"
                                    data-toggle="dropdown" role="button" data-id="m_form_status" title="All">
                                    <div class="filter-option">
                                      <div class="filter-option-inner">All</div>
                                    </div>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                                  </button>
                                  <div class="dropdown-menu " role="combobox">
                                    <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
                                      <ul class="dropdown-menu inner show"></ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group m-form__group">
                                <label class="">Feeder Branch:</label>
                                <div class="m-input-icon m-input-icon--right">
                                  <div class="dropdown bootstrap-select form-control m-bootstrap-select"><select class="form-control m-bootstrap-select"
                                      tabindex="-98">
                                      <option value="">All</option>
                                      <option value="1">Ghatkopar</option>
                                      <option value="2">Mulund</option>
                                      <option value="3">Bhandup</option>
                                      <option value="3">Matunga</option>
                                      <option value="3">Dadar</option>
                                    </select><button type="button" class="btn dropdown-toggle bs-placeholder btn-light"
                                      data-toggle="dropdown" role="button" title="All">
                                      <div class="filter-option">
                                        <div class="filter-option-inner">All</div>
                                      </div>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                                    </button>
                                    <div class="dropdown-menu " role="combobox">
                                      <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
                                        <ul class="dropdown-menu inner show"></ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="editrecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-edit"></i> Edit Record</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="m-scrollable m-scroller ps" data-scrollbar-shown="true" data-scrollable="true"
                            data-height="300" style="height: 300px; overflow: hidden;">
                            <form class="m-form m-form--fit m-form--label-align-right">
                              <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">ATM ID</label>
                                  <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group m-form__group">
                                  <label for="exampleSelect1">Bank</label>
                                  <select class="form-control m-input m-input--square" id="exampleSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                </div>
                                <div class="form-group m-form__group">
                                  <label for="exampleSelect1">Feeder Branch</label>
                                  <select class="form-control m-input m-input--square" id="exampleSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                </div>
                                <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">CRA</label>
                                  <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">Bank Email</label>
                                  <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">CRA Custodian</label>
                                  <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="">
                                </div>
                              </div>
                            </form>
                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                              <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps__rail-y" style="top: 0px; right: 4px;">
                              <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="m-portlet__nav-item">
                  <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-angle-down"></i>
                  </a>
                </li>
                <li class="m-portlet__nav-item">
                  <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-expand"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
              <div class="row">
                <div class="col-lg-4">
                  <div class="m-input-icon m-input-icon--left">
                    <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                      <span>
                        <i class="la la-search"></i>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-lg-8 m--align-right">
                  <div class="dropdown m-dropdown--inline">
                    <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Action </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <!-- <app-excel-export-component [data]="rows" [colConfig]="colList" [fileName]="fileType" ></app-excel-export-component> -->
                      <a class="dropdown-item m--font-danger deleteselected" href="#">
                        <i class="fa fa-trash m--font-danger"></i> Delete Selected</a>
                    </div>
                  </div>
                  <div class="dropdown bootstrap-select show-tick form-control m-bootstrap-select m-dropdown--inline dropup"
                    style="width: 200px;"><select class="form-control m-bootstrap-select m-dropdown--inline" data-width="200px"
                      multiple="" id="datablecolumns" data-style="btn-metal" tabindex="-98">
                      <option value="" selected="">Select Columns</option>
                      <option value="SLA">SLA</option>
                      <option value="Status">Status</option>
                    </select>
                    <!-- <button type="button" class="btn dropdown-toggle bs-placeholder btn-metal" data-toggle="dropdown"
                      role="button" data-id="datablecolumns" title="Select Columns">
                      <div class="filter-option">
                        <div class="filter-option-inner">Select Columns</div>
                      </div>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                    </button>
                    <div class="dropdown-menu " role="combobox" style="max-height: 248.078px; overflow: hidden; min-height: 0px;">
                      <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1" style="max-height: 236.078px; overflow-y: auto; min-height: 0px;">
                        <ul class="dropdown-menu inner show">
                          <li class="selected"><a role="option" class="dropdown-item selected" aria-disabled="false"
                              tabindex="0" aria-selected="true"><span class=" bs-ok-default check-mark"></span><span
                                class="text">Select Columns</span></a></li>
                          <li><a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                class=" bs-ok-default check-mark"></span><span class="text">SLA</span></a></li>
                          <li><a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                class=" bs-ok-default check-mark"></span><span class="text">Status</span></a></li>
                        </ul>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <!--end: Search Form -->

            <!--begin: Datatable -->
            <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll" id="local_data"
                    style="">
                    <table class="m-datatable__table" style="display: block; min-height: 300px;">
                      <thead class="m-datatable__head">
                        <tr class="m-datatable__row">
                          <th data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check"><span
                              style="width: 50px;"><label class="m-checkbox m-checkbox--single m-checkbox--all m-checkbox--solid m-checkbox--brand"><input
                                  type="checkbox">&nbsp;<span></span></label></span></th>
                          <th data-field="SLA" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 216px;">SLA</span></th>
                          <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Status</span></th>
                          <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 50px;">Actions</span></th>
                        </tr>
                      </thead>
                      <tbody class="m-datatable__body ps" style="">
                        <tr data-row="0" class="m-datatable__row" style="left: 0px;">
                          <td class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check" data-field="RecordID"><span
                              style="width: 50px;"><label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand"><input
                                  type="checkbox" value="1">&nbsp;<span></span></label></span></td>
                          <td data-field="SLA" class="m-datatable__cell"><span style="width: 216px;"><a href="file.pdf">Example</a></span></td>
                          <td data-field="Status" class="m-datatable__cell"><span style="width: 100px;"><span class="m-badge m-badge--metal m-badge--wide">Pending</span></span></td>
                          <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; position: relative; width: 50px;">
                              <a href="#" class="deleteselected m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                title="View "> <i class="la la-trash"></i> </a> </span></td>
                        </tr>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; right: 0px;">
                          <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                      </tbody>
                    </table>
                    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                      <ul class="m-datatable__pager-nav" style="display: none;">
                        <li><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first m-datatable__pager-link--disabled"
                            data-page="1" disabled="disabled"><i class="la la-angle-double-left"></i></a></li>
                        <li><a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev m-datatable__pager-link--disabled"
                            data-page="1" disabled="disabled"><i class="la la-angle-left"></i></a></li>
                        <li style="display: none;"><a title="More pages" class="m-datatable__pager-link m-datatable__pager-link--more-prev"
                            data-page="1"><i class="la la-ellipsis-h"></i></a></li>
                        <li style="display: none;"><input type="text" class="m-pager-input form-control" title="Page number"></li>
                        <li><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"
                            data-page="1" title="1">1</a></li>
                        <li style="display: none;"><a title="More pages" class="m-datatable__pager-link m-datatable__pager-link--more-next"
                            data-page="1"><i class="la la-ellipsis-h"></i></a></li>
                        <li><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next m-datatable__pager-link--disabled"
                            data-page="1" disabled="disabled"><i class="la la-angle-right"></i></a></li>
                        <li><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last m-datatable__pager-link--disabled"
                            data-page="1" disabled="disabled"><i class="la la-angle-double-right"></i></a></li>
                      </ul>
                      <div class="m-datatable__pager-info">
                        <div class="dropdown bootstrap-select m-datatable__pager-size" style="width: 70px;"><select
                            class="selectpicker m-datatable__pager-size" title="Select page size" data-width="70px"
                            data-selected="50" tabindex="-98">
                            <option class="bs-title-option" value="">Select page size</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          <!-- <button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown"
                            role="button" title="Select page size">
                            <div class="filter-option">
                              <div class="filter-option-inner">50</div>
                            </div>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                          </button>
                          <div class="dropdown-menu " role="combobox">
                            <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
                              <ul class="dropdown-menu inner show"></ul>
                            </div>
                          </div> -->
                        </div><span class="m-datatable__pager-detail">Displaying 1 - 1 of 1 records</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end: Datatable -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
  <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->

<!-- begin::Quick Nav -->
