/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Poppins';
    src:url('/assets/theme/font/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.progress{
    height: 2rem !important;
}

.progress .progress-bar-striped{
    background-color: #e9ecef !important;
}

@font-face {
    font-family: 'Poppins';
    src:url('/assets/theme/font/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

.eps-ggrey {
  background: linear-gradient(to bottom, #f7f8fa 0%, #ffffff 100%);
}

.fullVh{
  height: 100vh;
}

@font-face{
    font-family: 'Poppins';
    src:url('/assets/theme/font/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src:url('/assets/theme/font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";
@import '..//node_modules/@swimlane/ngx-datatable/release/themes/material.css';

.icon-gradient{
    .fa{

        background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #ad5beb), color-stop(50%, #c678db), color-stop(75%, #da6ea9), to(#e76e92));
        background: linear-gradient(180deg, #ad5beb 25%, #c678db 50%, #da6ea9 75%, #e76e92 100%);
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

.pointer{
    cursor: pointer;
}



.ngx-datatable .datatable-footer .datatable-pager .pager,
.ngx-datatable .datatable-footer .datatable-pager .pager li {
    padding: 4px !important;
}


.m-quick-sidebar-overlay{
    display: none;
}

.m-quick-sidebar--on {
    .m-quick-sidebar-overlay{
    display: block;
}
}


.custom-scroll{
overflow: scroll !important;
}

#time-picker-wrapper{
    z-index: 1000000 !important;
}



// form validation
.is-invalid{
border:1px solid red;
border-color:red !important;
}


//------ modal scss

.preview-modal{
    max-width: 80vw !important;

    .modal-body{
        max-height: 65vh;
        padding: 5px 25px !important;
        overflow: auto;
    datatable-body{
        height: auto !important;
        overflow: scroll;
      }
    .ngx-datatable.custom datatable-body{
      height: 20vh !important;
      overflow-x: auto;
      overflow-y: scroll;
    }
    .ngx-datatable.custom {
      height: auto;
    }
  }

    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
    text-align:center;
    }

    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
    text-align:center;
    }
}


.expanded-modal{
    .modal-body{
        max-height: 85vh;
        padding: 5px 25px !important;
        overflow: auto;
    datatable-body{
        height: 44vh !important;
        width: 100% !important;
        overflow-x: auto !important;
        overflow-y: scroll;
    }
    datatable-head{
        width: 100% !important;
    }
    }

    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
    text-align:center;
    }

    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
    text-align:center;
    }
    .modal-footer{
      padding: 0px !important;
    }
}

.expandIco {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5
}

.expandIco:not(:disabled):not(.disabled) {
	cursor: pointer
}

.expandIco:not(:disabled):not(.disabled):hover,
.expandIco:not(:disabled):not(.disabled):focus {
	color: #000;
	text-decoration: none;
	opacity: .75
}

button.expandIco {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none
}
.modal .modal-content .modal-header .expandIco {
	line-height: 0;
	font-family: "LineAwesome";
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size: 0;
	outline: none !important
}

.ngx-dropdown-container .ngx-dropdown-button {
    border-color: #ffffff !important;
    border-width: 0px !important;
}

.ngx-dropdown-container .ngx-dropdown-button .nsdicon-angle-down:before {
  content: '' !important;
}

.modal .modal-content .modal-header .compress:before {
	content: "\f1a4";
}
.ngx-dropdown-container{
  border: 1px solid #ccc !important;
}

.modal .modal-content .modal-header .expand:before {
	content: "\f1d0";
}
.modal .modal-content .modal-header .expandIco:before {
	font-size: 1.2rem
}

.modal .modal-content .modal-header .expandIco span {
	display: none;
}

.modal .modal-content .modal-header .expandIco span {
	color: #575962
}
.fixed-band-custom{
  box-sizing: border-box;
  -webkit-box-shadow: 0 8px 6px -6px #c4c5d6;
  -moz-box-shadow: 0 8px 6px -6px #c4c5d6;
  box-shadow: 0 8px 6px -6px #c4c5d6;
  position: sticky;
  margin-left: -25px !important;
  margin-right: -25px !important;
  margin-bottom: 20px;
  top: -5px !important;
  z-index: 9999;
  opacity: 1;
  background-color: #f4f5f8;
}

.eps-blue{
  background-color: #716aca;
}

.eps-lgrey{
  background-color: #f4f5f8;
}

.eps-thead {
  background-color: #f7f8fa;
}

.eps-tbody {
  background-color: #ffffff;
}

.error-message{
  color: #ff00;
}

.filter-applied{
    background: #5867dd;
    border-radius: 5px;
    color: white;
}


.datatable-header{
    font-weight: 600;
    color: #6f727d;
}


.ngx-datatable .datatable-footer .datatable-pager .pager .active a{
color:black;
}

.custom-file .custom-file-label{
    overflow: hidden;
}


.ngx-datatable {
    .custom-pagination-select{
        min-width: 50px !important;
    min-height: 25px !important;
    bottom: -12px !important;
    opacity: 1 !important;
    border: 0 !important;
    color: #fff !important;
    background: #716aca;
    border-radius: 10px;
    padding: 0px 5px !important;
    left: 0;
    }
}



.ngx-datatable.material .datatable-header .datatable-header-cell{
    color: rgba(17, 17, 17, 0.69);
 font-family: 'Poppins';
    font-size: 14px;
    font-weight: bold;
}

.m-aside-left.m-aside-left--skin-dark.m-aside-left.m-aside-left--skin-dark{
    background-color: #2d2c7f;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--expanded{
    background-color: #000000 !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open{
    background-color: black;
}

.ngx-datatable.material .datatable-header .datatable-header-cell{
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 600;
    color:rgb(87, 89, 98)
}

.ngx-datatable.custom .datatable-header .datatable-header-cell{
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: 600;
    color:rgb(87, 89, 98);
    padding: 2px;
    background-color: aliceblue;
}

.ngx-datatable.custom .datatable-body .datatable-body-row .datatable-body-cell {
   padding: 1px;
}

.ngx-datatable.custom .datatable-body .datatable-body-row .datatable-body-cell {
    input {
        width: 100%;
        height: auto;
        border: None;
        font-weight: 100;
    }
    select{
      border: none !important;
    }
}

.preview-modal .ngx-datatable.custom .datatable-scroll .datatable-body-row .datatable-body-cell {
    text-align: left !important;
}

.expanded-modal .ngx-datatable.custom .datatable-scroll .datatable-body-row .datatable-body-cell {
    text-align: left !important;
}

.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
    color: #575962;
    font-weight: 300;
    font-size: 13px;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background-color: #292b3a;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--expanded {
    background-color: #000000 !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background: black;
    background-color: #000000 !important;
    color: #868aa8;

}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text {
    color: #868aa8;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon {
    color: #868aa8;
}

.no_style_list{
    list-style: none;
}


.width100{
    width:100%;
}

.form-control{
    border-color: #c4c5d6 !important;
}

.modal .modal-content{
    border: 1px solid lightgrey;
}

.datatable_input{
   overflow: visible !important;
}

.datatable-body-cell{
    input {
        width: 100%;
    }
}

.form-control{
    border-radius: 0px;
    height: calc(1.95rem + 2px);
    border-color:black;
}

.submit-btn{
    margin-right: 15px
}

.data-information {
  .empty-row {
    padding: 12px 10px;
  }

  .ngx-datatable .datatable-header {
    &:hover {
      background-color: #f7f8fa;
    }
  }

  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    padding: 12px 10px;
    border: 1px solid #f1f0f0;
  }

  .ngx-datatable .datatable-body .datatable-body-row:hover {
    background-color: #f7f8fa;
  }

  .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
    border: 0.5px solid #f1f0f0;
    padding: 12px 10px;
  }

  .ngx-datatable.scroll-horz .datatable-body {
    padding: 0px 0px;
    border: 1px solid #f1f0f0;
  }

  }
  .ngx-datatable.material .datatable-header{
    background-color: #f7f8fa;
    border: 0.5px solid #f1f0f0;
  }
  .ngx-datatable.material{
    box-shadow: none;
    border: 0.5px solid #f1f0f0;
  }

  .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell,
  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
    border:0.5px solid #f1f0f0;
    text-align: center;
  }


.custom-card{
      flex-direction: row !important;
}

.status-card {
  margin: 1% !important;
  width: 48% !important;
  cursor: pointer;
}

.status-card:active {
    background-color: #6c757d!important;
}

.custom-card-header{
  display: flex;
  align-items: center;
}

.custom-card-footer{
  display: flex;
  align-items: center;
}

.form-group-eps{
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #ebedf2;
}

/* Custom Radio Controller */
.radio-eps-custom {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
  text-align: left !important;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-eps-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkedin {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-eps-custom:hover input ~ .checkedin {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-eps-custom input:checked ~ .checkedin {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkedin:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-eps-custom input:checked ~ .checkedin:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-eps-custom .checkedin:after {
 	top: 0.47rem;
	left: 0.47rem;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.progress-modal{
    display: block;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 15px;
    position: fixed;
    width: 25vw;
    height: 15vh;
    bottom: 0;
    right: 0;
    background-color: #3e3d3d;
    z-index: 999;
    color: #fff;
}

.progress-header{
    display: inline-block;
    width: 100%;
    height: 5vh;
    background-color: #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 5px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.progress-close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    border: none !important;
    background-color: #000 !important;
}

.progress-body{
    display: inline-block;
    width: 100%;
    height: 10vh;
}

.progress-body-minimised {
    display: none !important;
}

.progress-modal-minimised {
    height: 5vh;
    border: none !important;
}

$circle-width: 0.08em;
$circle-width-hover: 0.04em;
// colors default
$primary-color: #716aca;
$secondary-color: #f1f0f0;
$bg-color: #000;
$primary-color-green: #4db53c;
$primary-color-orange: #dd9d22;
// colors dark skin
$primary-color-dark: #c6ff00;
$secondary-color-dark: #777;
$bg-color-dark: #666;
$primary-color-green-dark: #5fd400;
$primary-color-orange-dark: #e08833;

// mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin rotate($rotation) {
    -webkit-transform: rotate($rotation);
    -moz-transform: rotate($rotation);
    -ms-transform: rotate($rotation);
    -o-transform: rotate($rotation);
    transform: rotate($rotation);
}

@mixin box-sizing($box-sizing) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}
@mixin transition-property($transition) {
    -webkit-transition-property: $transition;
    -moz-transition-property:$transition;
    -o-transition-property:$transition;
    transition-property: $transition;
}

@mixin transition-duration($duration) {
    -webkit-transition-duration: $duration;
    -moz-transition-duration:$duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
}

@mixin transition-timing-function($timing){
    -webkit-transition-timing-function: $timing;
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    transition-timing-function: $timing;
}

.rect-auto {
    clip: rect(auto, auto, auto, auto);
}

.pie {
    position: absolute;
    border: $circle-width solid $primary-color;
    width: 1 - (2 * $circle-width);
    height: 1 - (2 * $circle-width);
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    @include rotate(0deg);
}

.pie-fill {
    @include rotate(180deg);
}

// main
.c100 {
    *,
    *:before,
    *:after {
        @include box-sizing(content-box);
    }
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: $secondary-color;
    // center circle to its parent
    &.center {
        float: none;
        margin: 0 auto;
    }
    // bigger size
    &.big {
        font-size: 240px;
    }
    // smaller size
    &.small {
        font-size: 65px;
        margin-left: 2px;
        margin-bottom: 1px;
        margin-right: 16px;
    }
    // centered value inside circle
    >span {
        position: absolute;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        width: 5em;
        line-height: 5em;
        font-size: 0.2em;
        color: $secondary-color;
        display: block;
        text-align: center;
        white-space: nowrap;
        @include transition-property(all);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-out);
    }
    // background inside the circle
    &:after {
        position: absolute;
        top: $circle-width;
        left: $circle-width;
        display: block;
        content: " ";
        border-radius: 50%;
        background-color: $bg-color;
        width: 1 - (2 * $circle-width);
        height: 1 - (2 * $circle-width);
        @include transition-property(all);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in);
    }
    // the slice (mask)
    .slice {
        position: absolute;
        width: 1em;
        height: 1em;
        clip: rect(0em, 1em, 1em, 0.5em);
    }
    // circle to show the status
    .bar {
        @extend .pie;
    }
    // loop to create all needed elements automatically
    @for $i from 51 through 100 {
        &.p#{$i} {
            & .slice {
                @extend .rect-auto;
            }
            &.bar:after {
                @extend .pie-fill;
            }
            & .fill {
                @extend .pie;
                @extend .pie-fill;
            }
        }
    }
    // loop to rotate all 100 circles
    @for $i from 1 through 100 {
        &.p#{$i} .bar {
            $degs: (360/100 * $i);
            @include rotate(#{$degs}deg);
        }
    }
    // hover styles
    &:hover {
        cursor: default;
        >span {
            width: 3.33em;
            line-height: 3.33em;
            font-size: 0.3em;
            color: $primary-color;
        }
        &:after {
            top: $circle-width-hover;
            left: $circle-width-hover;
            width: 1 - (2 * $circle-width-hover);
            height: 1 - (2 * $circle-width-hover);
        }
    }
    // override colors for the dark skin
    &.dark {
        background-color: $secondary-color-dark;
        .bar,
        .fill {
            border-color: $primary-color-dark !important;
        }
        >span {
            color: $secondary-color-dark;
        }
        &:after {
            background-color: $bg-color-dark;
        }
        &:hover {
            >span {
                color: $primary-color-dark;
            }
        }
    }
    // green skin
    &.green {
        .bar,
        .fill {
            border-color: $primary-color-green !important;
        }
        &:hover {
            >span {
                color: $primary-color-green;
            }
        }
    }
    &.green.dark {
        .bar,
        .fill {
            border-color: $primary-color-green-dark !important;
        }
        &:hover {
            >span {
                color: $primary-color-green-dark;
            }
        }
    }
    // orange skin
    &.orange {
        .bar,
        .fill {
            border-color: $primary-color-orange !important;
        }
        &:hover {
            >span {
                color: $primary-color-orange;
            }
        }
    }
    &.orange.dark {
        .bar,
        .fill {
            border-color: $primary-color-orange-dark !important;
        }
        &:hover {
            >span {
                color: $primary-color-orange-dark;
            }
        }
    }
}
.progress-label {
    padding-top: 6%;
    span {
      font-weight: 500;
    }
}

.custom-select.custom-modal-select{
  padding-top: 0.1rem;
    height: 1.5rem !important;
    padding-bottom: 0.1rem;
}

.black-overlay {
  position: fixed !important;
}

.black-overlay div {
  position: fixed !important;
}

.loading-text {
  position: fixed !important;
}
