<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <!-- END: Aside Menu -->
    <div style="width:100%">
      <div class="m-grid__item m-grid__item--fluid m-wrapper">

        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <h3 class="m-subheader__title m-subheader__title--separator">Activity Status</h3>
              <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                    <i class="m-nav__link-icon la la-home"></i>
                  </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                  <a href="" class="m-nav__link">
                    <span class="m-nav__link-text">Operations</span>
                  </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                  <a href="" class="m-nav__link">
                    <span class="m-nav__link-text">Activity Status</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- END: Subheader -->
        <!-- END: Subheader -->
        <div class="m-content">
          <!--begin::Portlet-->
            <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
              <div class="m-alert__icon">
                <i class="flaticon-danger"></i>
              </div>
              <div class="m-alert__text">
                <strong>{{alert.type}}!</strong> {{alert.text}}
              </div>
              <div class="m-alert__actions" style="width: 220px;">
                <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false"
                  aria-label="Close">Close
                </button>
              </div>
            </div>
          <!--end::Portlet-->
          <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">All Data</h3>
                </div>
              </div>
              <div class="m-portlet__head-tools">

              </div>
            </div>
            <div class="m-portlet__body" m-hidden-height="834" style="">
              <!--begin: Search Form -->
              <div class="m-form m-form--label-align-right m--margin-bottom-30">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="m-input-icon m-input-icon--left">
                      <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                      <span class="m-input-icon__icon m-input-icon__icon--left">
                        <span>
                          <i class="la la-search"></i>
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-8 m--align-right">
     
                      <div class="dropdown m-dropdown--inline">
                        <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Action </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <app-excel-export-component [data]="rows" [colConfig]="colList" [fileName]="excelType" ></app-excel-export-component>
                        </div>
                      </div>
        
        
                    </div>
                </div>
                <div>
                    <ngx-datatable   #viewDataModal
                      class="material"
                      [headerHeight]="45"
                      [columnMode]="'force'"
                      [footerHeight]="75"
                      [rowHeight]="'50'"
                      [rows]="rows"
                      [scrollbarH]="true"
                      >
          
                      <ngx-datatable-column
                        name = "Id"
                        prop = "id"
                        [width]="30"
                        [sortable]="false"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="false">

                        <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
                        
                        </ng-template>

                      </ngx-datatable-column>
                      <ng-container *ngFor="let col of colList">
                        <ngx-datatable-column
                        name="{{col.name}}" 
                        prop="{{col.prop}}"
                        >
                          <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                              
                            <span  *ngIf="col.datatype=='string'">{{value}}</span>   
                            <span  *ngIf="col.datatype=='date'">{{value | date: 'dd-MM-yyyy HH:mm'}}</span> 
                          </ng-template>
                        </ngx-datatable-column>

                      </ng-container>
                      <ngx-datatable-footer>
                        <ng-template
                          ngx-datatable-footer-template
                          let-rowCount="rowCount"
                          let-pageSize="pageSize"
                          let-selectedCount="selectedCount"
                          let-curPage="curPage"
                          let-offset="offset">
                          <!-- <div style="padding: 5px 10px">
                            <hr style="width:100%" />
                            <div>
                              Rows: {{rowCount}} |
                              Size: {{pageSize}} |
                              Current: {{curPage}} |
                              Offset: {{offset}}
                              selectedCount : {{selectedCount}}
        
                            </div>
                          </div> -->
                        <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                            <ul class="m-datatable__pager-nav" *ngIf="page.size<rowCount">
        
                            <li  (click)="viewActivityStatus(0)"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1"><i class="la la-angle-double-left"></i></a></li>
        
                            <li (click)="viewActivityStatus(offset-1)">
                              <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i class="la la-angle-left"></i></a>
        
                            <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)"
                             (click)="viewActivityStatus(offset-1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                              title="{{curPage-1}}">{{curPage-1}} </a></li>
        
                            <li (click)="viewActivityStatus(offset)"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a></li>
        
                            <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="viewActivityStatus(offset+1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                           title="{{curPage+1}}">{{curPage+1}} </a></li>
        
                            <li (click)="viewActivityStatus(offset+1)"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                            <i class="la la-angle-right"></i></a>
                          </li>
        
                            <li (click)="viewActivityStatus( calculateTotalPage(rowCount,pageSize)-1)"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" ><i class="la la-angle-double-right"></i></a></li>
                          </ul>
        
        
                          <div class="m-datatable__pager-info">
        
                            <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">
        
                            <select class="  custom-pagination-select"
                            [(ngModel)]="page.size" title="Select page size" (change)="viewActivityStatus(0)">
                              <!-- <option class="bs-title-option" value="">Select page size</option> -->
                              <option value="10">10</option><option value="20">20</option>
                              <option value="30">30</option><option value="50">50</option>
                            </select>
        
        
                            </div>
                              <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                                {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span></div></div>
                              </div>
                        </ng-template>
                      </ngx-datatable-footer>
                    </ngx-datatable>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
  <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->

<!-- begin::Quick Nav -->
