<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <!-- END: Aside Menu -->
    <div class="m-grid__item m-grid__item--fluid m-wrapper">

      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Consolidated Master Data</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
              <li class="m-nav__item m-nav__item--home">
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">Master Data</span>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">Consolidated Master Data</span>
                </a>
              </li>
            </ul>
          </div>
          <div>
        
      
   
      
            <!-- <a href="#" data-toggle="modal" data-target="#m_modal_6" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
              <span>
                <i class="la la-upload"></i>
                <span>Upload</span>
              </span>
            </a> -->
            <!-- <div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Upload Consolidated Master Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="m-form m-form--fit m-form--label-align-right">
                      <div class="form-group1 m-form__group">
                        <label for="exampleInputEmail1">Bank</label>
                        <div></div>
                        <select class="custom-select form-control">
                          <option selected="">Open this select menu</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="form-group1 m-form__group">
                        <label for="exampleInputEmail1">CRA</label>
                        <div></div>
                        <select class="custom-select form-control">
                          <option selected="">Open this select menu</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="form-group1 m-form__group">
                        <label for="exampleInputEmail1">Project</label>
                        <div></div>
                        <select class="custom-select form-control">
                          <option selected="">Open this select menu</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">Select File</label>
                        <div></div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="customFile">
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-submit" data-toggle="modal" data-target="#preview"
                      data-dismiss="modal">Submit</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Preview Uploaded Consolidated Master Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-bordered m-table table-hover">
                      <tbody>
                        <tr>
                          <th>ATM ID</th>
                          <th>Bank</th>
                          <th>Project</th>
                          <th>Feeder Branch</th>
                          <th>Code</th>
                          <th>CM</th>
                          <th>Cask Live Date</th>
                        </tr>
                        <tr>
                          <td>1233-445</td>
                          <td>State Bank of India</td>
                          <td>MF</td>
                          <td>Branch</td>
                          <td>SBI</td>
                          <td>CM</td>
                          <td>16/04/2018</td>
                        </tr>
                        <tr>
                          <td>1233-445</td>
                          <td>State Bank of India</td>
                          <td>MF</td>
                          <td>Branch</td>
                          <td>SBI</td>
                          <td>CM</td>
                          <td>16/04/2018</td>
                        </tr>
                        <tr>
                          <td>1233-445</td>
                          <td>State Bank of India</td>
                          <td>MF</td>
                          <td>Branch</td>
                          <td>SBI</td>
                          <td>CM</td>
                          <td>16/04/2018</td>
                        </tr>
                        <tr>
                          <td>1233-445</td>
                          <td>State Bank of India</td>
                          <td>MF</td>
                          <td>Branch</td>
                          <td>SBI</td>
                          <td>CM</td>
                          <td>16/04/2018</td>
                        </tr>
                        <tr>
                          <td>1233-445</td>
                          <td>State Bank of India</td>
                          <td>MF</td>
                          <td>Branch</td>
                          <td>SBI</td>
                          <td>CM</td>
                          <td>16/04/2018</td>
                        </tr>
                        <tr>
                          <td>1233-445</td>
                          <td>State Bank of India</td>
                          <td>MF</td>
                          <td>Branch</td>
                          <td>SBI</td>
                          <td>CM</td>
                          <td>16/04/2018</td>
                        </tr>
                        <tr>
                          <td>1233-445</td>
                          <td>State Bank of India</td>
                          <td>MF</td>
                          <td>Branch</td>
                          <td>SBI</td>
                          <td>CM</td>
                          <td>16/04/2018</td>
                        </tr>
                        <tr>
                          <td>1233-445</td>
                          <td>State Bank of India</td>
                          <td>MF</td>
                          <td>Branch</td>
                          <td>SBI</td>
                          <td>CM</td>
                          <td>16/04/2018</td>
                        </tr>
                        <tr>
                          <td>1233-445</td>
                          <td>State Bank of India</td>
                          <td>MF</td>
                          <td>Branch</td>
                          <td>SBI</td>
                          <td>CM</td>
                          <td>16/04/2018</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success btn-approve" data-dismiss="modal">Approve</button>
                    <button type="button" class="btn btn-danger btn-reject" data-dismiss="modal">Reject</button>
                  </div>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>

 
      <div class="m-content">
          <!--Start of  View for All Data -->
          <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">All Data</h3>
                  </div>
                </div>
                <div class="m-portlet__head-tools">
                  <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                      <a href="#" data-toggle="modal" data-target="#modalfilter" class="m-portlet__nav-link m-portlet__nav-link--icon filters">
                        <i class="la la-filter"></i>
                      </a>
                      <div class="modal fade" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter
                                Records</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!-- filter form for view all data -->
                              <form class="m-form m-form--fit m-form--label-align-right">
                                <div class="m-portlet__body">
                                  <div class="form-group1 m-form__group">
                                    <label for="exampleInputEmail1">Bank</label>
                                    <div></div>
    
                                    <select class="form-control p-0" [(ngModel)]="filtersForAllView.bank_name"
                                      [ngModelOptions]="{standalone: true}">
                                      <!-- <option value="ALL">All</option>
                                        <option value="ALB">ALB</option>
                                        <option value="BOMH">BOMH</option>
                                        <option value="SBI">SBI</option>
                                         -->
                                      <option *ngFor="let bank of filterDropDownValue.bank" [ngValue]="bank">
                                        {{bank}}
                                      </option>
                                      <!-- <option *ngFor="let bank of filtersForAllView.bank" [value]="bank">{{bank}}</option> -->
                                    </select>
                                  </div>
                                  <div class="form-group m-form__group">
                                    <label class="">Feeder Branch:</label>
                                    <div class="m-input-icon m-input-icon--right">
                                      <select class="form-control p-0" [(ngModel)]="filtersForAllView.feeder_branch"
                                        [ngModelOptions]="{standalone: true}">
    
                                        <option *ngFor="let bank of filterDropDownValue.feederlist" [ngValue]="bank">
                                          {{bank}}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </form>
                              <!-- filter form for view all data -->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" (click)="updateViewAll()">Submit</button>
                            </div>
                          </div>
                        </div>
                      </div>
    
                    </li>
                    <li class="m-portlet__nav-item">
                      <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-angle-down"></i>
                      </a>
                    </li>
                    <li class="m-portlet__nav-item">
                      <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-expand"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="m-portlet__body">
                <!--begin: Search Form -->
                <div class="m-form m-form--label-align-right m--margin-bottom-30">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="m-input-icon m-input-icon--left">
                        <input type="text" class="form-control m-input" (keyup)='viewSearch($event)' placeholder="Search..."
                          id="generalSearch">
                        <span class="m-input-icon__icon m-input-icon__icon--left">
                          <span>
                            <i class="la la-search"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-8 m--align-right">
   
                      <div class="dropdown m-dropdown--inline">
                        <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Action </button>
    
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <app-excel-export-component [data]="rows" [colConfig]="colList" [fileName]="fileType" ></app-excel-export-component>
    
                        </div>
                      </div>
                      <!--  select column in viewallData -->
                      <app-multiselect [col]="viewColumnAll"></app-multiselect>
                      <!--   select column  in viewallData -->
    
                    </div>
                  </div>
                </div>
    
                <!--end: Search Form -->
    
                <!--begin: Datatable -->
                <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="m_datatable" id="local_data"></div>
                    </div>
                  </div>
                  <!--end: Datatable -->
                  <ngx-datatable   #viewDataModal
                  class="material"
                  [headerHeight]="45"
                  [columnMode]="'force'"
                  [footerHeight]="75"
                  [rowHeight]="'50'"
                  [rows]="rows"
                  [scrollbarH]="true"
                  [externalPaging]="true"
                  [count]="page.totalElements"
                  [offset]="page.pageNumber"
                  [limit]="page.size"
                  >
    
             
                  <ng-container *ngFor="let col of colList">
                    <ngx-datatable-column
                    name="{{col.name}}"
                    prop="{{col.prop}}"
                    *ngIf="col.selected"
                   >
                      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                        <span *ngIf='col.datatype=="string" '> {{value}}</span>
                        <span *ngIf='col.datatype=="date"'> {{value | date: 'dd-MM-yyyy HH:mm'}} </span>
                      </ng-template>
                     </ngx-datatable-column>
    
                  </ng-container>
                 
                  <ngx-datatable-footer>
                      <ng-template
                        ngx-datatable-footer-template
                        let-rowCount="rowCount"
                        let-pageSize="pageSize"
                        let-selectedCount="selectedCount"
                        let-curPage="curPage"
                        let-offset="offset">
                        <!-- <div style="padding: 5px 10px">
                          <hr style="width:100%" />
                          <div>
                            Rows: {{rowCount}} |
                            Size: {{pageSize}} |
                            Current: {{curPage}} |
                            Offset: {{offset}}
                            selectedCount : {{selectedCount}}
    
                          </div>
                        </div> -->
              <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                          <ul class="m-datatable__pager-nav" *ngIf="page.size<rowCount">
    
                          <li  (click)="allDataActive(0)"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1"><i class="la la-angle-double-left"></i></a></li>
    
                          <li (click)="allDataActive(offset-1)">
                            <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i class="la la-angle-left"></i></a>
    
                          <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)"
                           (click)="allDataActive(offset-1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                            title="{{curPage-1}}">{{curPage-1}} </a></li>
    
                          <li (click)="allDataActive(offset)"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a></li>
    
                          <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="allDataActive(offset+1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                         title="{{curPage+1}}">{{curPage+1}} </a></li>
    
                          <li (click)="allDataActive(offset+1)"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                          <i class="la la-angle-right"></i></a>
                        </li>
    
                          <li (click)="allDataActive( calculateTotalPage(rowCount,pageSize)-1)"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" ><i class="la la-angle-double-right"></i></a></li>
                        </ul>
    
    
                        <div class="m-datatable__pager-info">
    
                          <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">
    
                          <select class="  custom-pagination-select"
                          [(ngModel)]="page.size" title="Select page size" (change)="allDataActive(0)">
                            <!-- <option class="bs-title-option" value="">Select page size</option> -->
                            <option value="10">10</option><option value="20">20</option>
                            <option value="30">30</option><option value="50">50</option>
                          </select>
    
    
                          </div>
                            <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                              {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span></div></div>
                            </div>
                      </ng-template>
                    </ngx-datatable-footer>
                </ngx-datatable>
                </div>
              </div>
            </div>
            <!-- End of View for All Data -->
      </div>
    </div>

  </div>
  
  <app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
  <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->

<!-- begin::Quick Nav -->
