<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">

      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">User Role Mapping</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
              <li class="m-nav__item m-nav__item--home">
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">User</span>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">User Role Mapping</span>
                </a>
              </li>
            </ul>
          </div>
          <div>
          </div>
        </div>
      </div>

      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
          <div class="m-alert__icon">
            <i class="flaticon-danger"></i>
          </div>
          <div class="m-alert__text">
            <strong>{{alert.type}}!</strong> {{alert.text}}
          </div>
          <div class="m-alert__actions" style="width: 220px;">
            <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false"
              aria-label="Close">Close
            </button>
          </div>
        </div>
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tabs" id="m_portlet_tools_1">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  User Role Mapping
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="tab-content">
              <div class="tab-pane active" id="m_portlet_tab_1_1">
                <form class="m-form m-form--fit m-form--label-align-right" name="upload">
                  <div class="row">
                      <div class="col-md-5 col-sm-5 col-xs-5">
                          <div class="form-group1 m-form__group ">
                            <label for="user">User</label>
                          </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                          <div class="form-group1 m-form__group ">
                            <label for="group_list">Group List</label>
                          </div>
                        </div>
                  </div>
                 
                  <div *ngFor="let add of addField ; let i = index" class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                      <div class="form-group1 m-form__group ">
                          <div></div>
                        <select class="custom-select form-control" [(ngModel)]="addField[i].user_id" name="user_{{i}}">
                          <option *ngFor="let username of UserList" value="{{username.id}}">{{username.user_name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                      <div class="form-group1 m-form__group ">
                     
                        <div></div>
                        <select class="custom-select form-control" [(ngModel)]="addField[i].group_ids" name="group_list_{{i}}">
                          <option *ngFor="let group of GroupList" value="{{group.id}}">{{group.group_name}}</option>
                        </select>
                      </div>
                    </div>

                    <div class=" col-md-2 col-sm-2 col-xs-2">
                      <button *ngIf="addField.length-1 == i" class="btn add-more  btn-sm  mb-2 mr-2 " type="button" (click)="AddFiled()">+</button>
                      <button *ngIf="addField.length != 1" class="btn add-more  btn-sm  mb-2 " type="button" (click)="RemoveField()">-</button>
                    </div>
                  </div>
                  <div class="mx-auto">
                    <button type="button" class="btn btn-primary ml-2" (click)="InsertDatafn()">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!--Start of  View for All Data -->
        <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">All Data</h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <a href="#" data-toggle="modal" data-target="#modalfilter" class="m-portlet__nav-link m-portlet__nav-link--icon filters">
                    <i class="la la-filter"></i>
                  </a>
                  <div class="modal fade" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter
                          Records</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- filter form for view all data -->
                        <form class="m-form m-form--fit m-form--label-align-right">
                          <div class="m-portlet__body" *ngFor="let add of addField ; let i = index">
                            <div class="form-group1 m-form__group">
                              <label for="exampleInputEmail1">User List</label>
                              <div></div>
                              <ngx-select-dropdown class="" [multiple]="true" [(ngModel)]="filterData" [config]="config"
                              [options]="UserList" [ngModelOptions]="{standalone: true}">
                            </ngx-select-dropdown>
                            </div>
  
                          </div>
                        </form>
                        <!-- filter form for view all data -->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="resetFilter()">Reset</button>
                        <button type="button" class="btn btn-primary" (click)="AllDatafn()">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
                </li>
                <li class="m-portlet__nav-item">
                  <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-angle-down"></i>
                  </a>
                </li>
                <li class="m-portlet__nav-item">
                  <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-expand"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
              <div class="row">
                <div class="col-lg-4">
                  <div class="m-input-icon m-input-icon--left">
                    <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                      <span>
                        <i class="la la-search"></i>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-lg-8 m--align-right">
                  <button class="btn btn-brand submit-btn" type="button">
                    <span>Submit</span>
                  </button>
                  <div class="dropdown m-dropdown--inline">
                    <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Action </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <app-excel-export-component [data]="rows" [colConfig]="colList" [fileName]="excelType" ></app-excel-export-component>
                      <a class="dropdown-item m--font-danger deleteselected" href="">
                        <i class="fa fa-trash m--font-danger"></i> Delete Selected</a>

                    </div>
                  </div>
                  <!--  select column in viewallData -->
                  <app-multiselect [col]="viewColumnAll"></app-multiselect>
                  <!--   select column  in viewallData -->

                </div>
              </div>
            </div>


            <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="m_datatable" id="local_data"></div>
                </div>
              </div>
              <ngx-datatable #viewDataModal class="material" [headerHeight]="45" [columnMode]="'force'" [footerHeight]="75"
                [rowHeight]="'50'" [rows]="rows" [scrollbarH]="true">


                <ng-container *ngFor="let col of colList">

                  <ngx-datatable-column name="{{col.name}}" prop="{{col.prop}}" *ngIf="col.selected">
                    <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">

                      <span>{{value}}</span>

                    </ng-template>
                  </ngx-datatable-column>

                </ng-container>
                <ngx-datatable-column name="Action">
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                    <a (click)="Deleterow(rowIndex,row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                      title="delete ">
                      <button>Delete</button>
                    </a>

                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>

            </div>
          </div>
        </div>
        <!-- End of View for All Data -->

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
  <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->

<!-- begin::Quick Nav -->
