
<!--The content below is only a placeholder and can be replaced.-->
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">

<!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
	<!-- END: Header -->

<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
			<i class="la la-close"></i>
		</button>
					<!-- BEGIN: Aside Menu -->
				<app-side-menu></app-side-menu>
				<!-- END: Aside Menu -->
				<div style="width:100%">
					<div class="m-grid__item m-grid__item--fluid m-wrapper">

					  <!-- BEGIN: Subheader -->
					  <div class="m-subheader ">
					    <div class="d-flex align-items-center">
					      <div class="mr-auto">
					        <h3 class="m-subheader__title m-subheader__title--separator">IMS Ticket Report</h3>
					        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					          <li class="m-nav__item m-nav__item--home">
					            <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
					              <i class="m-nav__link-icon la la-home"></i>
					            </a>
					          </li>
					          <li class="m-nav__separator">-</li>
					          <li class="m-nav__item">
					            <a href="" class="m-nav__link">
					              <span class="m-nav__link-text">Cash Routine Data</span>
					            </a>
					          </li>
					          <li class="m-nav__separator">-</li>
					          <li class="m-nav__item">
					            <a href="" class="m-nav__link">
					              <span class="m-nav__link-text">IMS Ticket Report</span>
					            </a>
					          </li>
					        </ul>
					      </div>
					      <div>
									<div (click)="setPageData(0)" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
									    <span>
									        <i class="la la-refresh"></i>
									        <span>Refresh</span>
									    </span>
									</div>
                  <a *ngIf="permissionList.indexOf('upload_file') != -1" href="#" data-toggle="modal" data-target="#m_modal_6" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
  								  <span>
    									<i class="la la-archive"></i>
    									    <span>Upload</span>
    								  </span>
  								</a>
  								<div class="modal fade" data-backdrop="static"  id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  								  <div class="modal-dialog modal-dialog-centered" role="document">
  									<div class="modal-content">
  									  <div class="modal-header">
  										<h5 class="modal-title" id="exampleModalLongTitle">Upload IMS Tickets Data</h5>
  										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  										  <span aria-hidden="true">&times;</span>
  										</button>
  									  </div>
  									  <div class="modal-body">
  										<form class="m-form m-form--fit m-form--label-align-right"  name="uploadForm"
  										[formGroup]="uploadForm">
  										  <div class="m-portlet__body">

													<div class="custom-file">
														<input type="file"   name="file"  class="custom-file-input"
														(change)="onFileChanged($event)" #fileInput  [ngClass]="{ 'is-invalid': submitted && !uploadData.file }" formControlName="file">
														<label class="custom-file-label"  (click)="fileInput.click()">
																<span *ngIf="!uploadData?.file?.name">Choose file </span>
																<span *ngIf="uploadData?.file?.name">{{uploadData?.file?.name}}</span>
														</label>
													</div>
													<div class="form-group1 m-form__group" id='ims_date'>
								                        <label for="ims_date">For Date</label>
								                        <div></div>
								                        <input type="text"
								                                       [(ngModel)]="uploadData.date"
								                                       placeholder="Select date"
								                                       name="ims_date"
								                                       placement="top"
								                                       dateformat="d M y"
								                                       class="form-control"
								                                       bsDatepicker
								                                       formControlName="date">
								                    </div>
  										  </div>
  										  
  										</form>
  									  </div>
  									  <div class="modal-footer">
  										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  										<button type="button" class="btn btn-primary" [disabled]="uploadForm.invalid || !uploadData.file" (click)="uploadDatafn()">Submit</button>
  									  </div>
  									</div>
  								  </div>
  								</div>

					      </div>
					    </div>
					  </div>

					  <!-- END: Subheader -->
					  <!-- END: Subheader -->
					  <div class="m-content">
              <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
                  <div class="m-alert__icon">
                    <i class="flaticon-danger"></i>
                  </div>
                  <div class="m-alert__text">
                    <span><strong>{{alert.type}}!</strong></span> {{alert.text}}

                  </div>
                  <div class="m-alert__actions" style="width: 220px;">
                    <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
                    </button>
                  </div>
              </div>
					    <!--begin::Portlet-->

					    <!--end::Portlet-->
					    <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
					      <div class="m-portlet__head">
					        <div class="m-portlet__head-caption">
					          <div class="m-portlet__head-title"><h3 class="m-portlet__head-text">All Data</h3></div>
					        </div>
					        <div class="m-portlet__head-tools">
					          <ul class="m-portlet__nav">
					            <li class="m-portlet__nav-item">
					              <a href="#" data-toggle="modal" data-target="#modalfilter" class="m-portlet__nav-link m-portlet__nav-link--icon filters">
					                <i class="la la-filter"></i>
					              </a>
					              <div class="modal fade" data-backdrop="static"  id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					                <div class="modal-dialog modal-dialog-centered" role="document">
					                  <div class="modal-content">
					                    <div class="modal-header">
					                      <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter Records</h5>
					                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					                        <span aria-hidden="true">&times;</span>
					                      </button>
					                    </div>
					                    <div class="modal-body">
					                      <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="filterData">
					                        <div class="form-group m-form__group">
					                          <label for="bank">Bank</label>
					                          <input class="form-control" type="text" name="bank" formControlName="bankname">
					                        </div>
					                        <div class="form-group m-form__group">
					                          <label for="atm">Atm Id</label>
					                          <input class="form-control" type="text" name="atm" formControlName="atmid">
					                        </div>
																	<div class="form-group m-form__group">
					                          <label for="fault">Fault</label>
					                          <input class="form-control" type="text" name="fault" formControlName="fault">
					                        </div>
																	<div class="form-group m-form__group">
					                          <label for="ticket">Ticket Status</label>
					                          <input class="form-control" type="text" name="ticket" formControlName="ticket_status">
					                        </div>
																	<div class="form-group m-form__group">
					                          <label for="openDate">Open Date</label>
																		<input type="text" formControlName="open_date"
																	         placeholder="Select date"
																					 name="openDate"
																					 placement="top"
																	         class="form-control"
																	         bsDatepicker>
					                        </div>
					                      </form>
					                    </div>
					                    <div class="modal-footer">
					                      <button type="button" class="btn btn-secondary" data-dismiss="modal" *ngIf="permissionList.indexOf('close') != -1" >Close</button>
					                      <button type="button" class="btn btn-primary" (click)="filterPageData(0)" *ngIf="permissionList.indexOf('submit') != -1" >Submit</button>
					                    </div>
					                  </div>
					                </div>
					              </div>
					              <div class="modal fade" id="editrecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					                <div class="modal-dialog modal-dialog-centered" role="document">
					                  <div class="modal-content">
					                    <div class="modal-header">
					                      <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-file"></i> View Ticket</h5>
					                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					                        <span aria-hidden="true">&times;</span>
					                      </button>
					                    </div>
					                    <div class="modal-body">
					                      <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="300">
					                        <ul class="nav nav-tabs  m-tabs-line m-tabs-line--success" role="tablist">
					                          <li class="nav-item m-tabs__item">
					                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_2_1" role="tab">Ticket Details</a>
					                          </li>
					                          <li class="nav-item m-tabs__item">
					                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_2_3" role="tab">Remarks/Comments</a>
					                          </li>
					                        </ul>
					                        <div class="tab-content">
					                          <div class="tab-pane active" id="m_tabs_2_1" role="tabpanel">

					                          </div>
					                          <div class="tab-pane" id="m_tabs_2_3" role="tabpanel">
					                            <style type="text/css">
					                            .m-widget3 .m-widget3__item .m-widget3__header .m-widget3__info{
					                              padding-left: 0px;
					                            }
					                            </style>
					                            <div class="m-widget3 m--margin-top-20">
					                              <div class="m-widget3__item">
					                                <div class="m-widget3__header">
					                                  <div class="m-widget3__info">
					                                    <span class="m-widget3__username">
					                                      Melania Trump
					                                    </span>
					                                    <br>
					                                    <span class="m-widget3__time">
					                                      2 day ago
					                                    </span>
					                                  </div>
					                                </div>
					                                <div class="m-widget3__body">
					                                  <p class="m-widget3__text">
					                                    Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
					                                  </p>
					                                </div>
					                              </div>
					                              <div class="m-widget3__item">
					                                <div class="m-widget3__header">
					                                  <div class="m-widget3__info">
					                                    <span class="m-widget3__username">
					                                      Lebron King James
					                                    </span>
					                                    <br>
					                                    <span class="m-widget3__time">
					                                      1 day ago
					                                    </span>
					                                  </div>
					                                </div>
					                                <div class="m-widget3__body">
					                                  <p class="m-widget3__text">
					                                    Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.Ut wisi enim ad minim veniam,quis nostrud exerci tation ullamcorper.
					                                  </p>
					                                </div>
					                              </div>
					                              <div class="m-widget3__item">
					                                <div class="m-widget3__header">
					                                  <div class="m-widget3__info">
					                                    <span class="m-widget3__username">
					                                      Deb Gibson
					                                    </span>
					                                    <br>
					                                    <span class="m-widget3__time">
					                                      28th Aug, 2018 1:45 PM
					                                    </span>
					                                  </div>
					                                </div>
					                                <div class="m-widget3__body">
					                                  <p class="m-widget3__text">
					                                    Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
					                                  </p>
					                                </div>
					                              </div>
					                            </div>
					                          </div>
					                        </div>
					                      </div>
					                    </div>
					                    <div class="modal-footer">
					                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					                    </div>
					                  </div>
					                </div>
					              </div>
					            </li>
					            <li class="m-portlet__nav-item">
					              <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
					                <i class="la la-angle-down"></i>
					              </a>
					            </li>
					            <li class="m-portlet__nav-item">
					              <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
					                <i class="la la-expand"></i>
					              </a>
					            </li>
					          </ul>
					        </div>
					      </div>
					      <div class="m-portlet__body">
					        <!--begin: Search Form -->
									<div class="m-form m-form--label-align-right m--margin-bottom-30">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="m-input-icon m-input-icon--left">
                          <input type="text" class="form-control m-input" (keyup)='viewSearch($event)' placeholder="Search..." id="generalSearch" >
                          <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span>
                              <i class="la la-search"></i>
                            </span>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-8 m--align-right">

												<div class="dropdown m-dropdown--inline">
		                      <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
		                        aria-haspopup="true" aria-expanded="false">Action </button>

		                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		                        <app-excel-export-component [data]="rows" [colConfig]="colList" [fileName]="fileType" ></app-excel-export-component>
		                      </div>
		                    </div>

          <!--  select column in viewallData -->

          						<app-multiselect [col]="viewColumnAll"></app-multiselect>

                      </div>
                    </div>
                  </div>

									<ngx-datatable   #imsData
										class="material"
										[headerHeight]="45"
										[columnMode]="'force'"
										[footerHeight]="75"
										[rowHeight]="'50'"
										[rows]="rows"
										[scrollbarH]="true"
										[externalPaging]="true"
										[count]="page.totalElements"
										[offset]="page.pageNumber"
										[limit]="page.size"
										(page)='setPageData($event)'>
										<!-- Datatable body -->

										<ng-container *ngFor="let col of colList">
											<ngx-datatable-column
												name="{{col.name}}"
												prop="{{col.prop}}"
												*ngIf="col.selected"
												>
												<ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
													<span *ngIf='col.datatype=="string"' [title]='value'> {{value}}</span>
													<span *ngIf='col.datatype=="date"' [title]="value | date: 'dd-MM-yyyy HH:mm'"> {{value | date: 'dd-MM-yyyy HH:mm'}} </span>
												</ng-template>

											</ngx-datatable-column>

										</ng-container>

										<!-- Datatable body End -->
										<!-- Data Table Footer -->

									<ngx-datatable-footer>
										<ng-template
											ngx-datatable-footer-template
											let-rowCount="rowCount"
											let-pageSize="pageSize"
											let-selectedCount="selectedCount"
											let-curPage="curPage"
											let-offset="offset">
											<div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
												<ul class="m-datatable__pager-nav">

													<li  (click)="setPageData(0)">
														<a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1">
															<i class="la la-angle-double-left"></i>
														</a>
													</li>

													<li (click)="setPageData(offset-1)">
														<a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1">
															<i class="la la-angle-left"></i>
														</a>
													</li>

													<li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="setPageData(offset-1)" >
														<a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage-1}}">{{curPage-1}} </a>
													</li>

													<li (click)="setPageData(offset)">
														<a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a>
													</li>

													<li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="setPageData(offset+1)" >
														<a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage+1}}">{{curPage+1}} </a>
													</li>

													<li (click)="setPageData(offset+1)">
														<a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
															<i class="la la-angle-right"></i>
														</a>
													</li>

													<li (click)="setPageData(calculateTotalPage(rowCount,pageSize)-1)">
														<a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" >
															<i class="la la-angle-double-right"></i>
														</a>
													</li>
												</ul>

												<div class="m-datatable__pager-info">

													<div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">

														<select class="  custom-pagination-select" [(ngModel)]="currentPageSize" title="Select page size" (change)="setPageData(0)">
															<option *ngFor = "let x of pagesizeList" [ngValue]="x">{{x}}</option>
														</select>

													</div>
													<span class="m-datatable__pager-detail">Displaying {{curPage}} - {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span>

												</div>
											</div>
											</div>
										</ng-template>
									</ngx-datatable-footer>

									<!-- Data Table Footer End -->


									</ngx-datatable>
					      </div>
					    </div>
					  </div>
					</div>
				</div>

    </div>
<app-footer></app-footer>
  </div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>

		<!-- end::Scroll Top -->
			<!-- begin::Quick Nav -->

		<!-- begin::Quick Nav -->
