<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->
  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <!-- END: Aside Menu -->
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">EPS ESCALATIONMATRIX
              </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
              <li class="m-nav__item m-nav__item--home">
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">Reference Data</span>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text"> EPS ESCALATIONMATRIX </span>
                </a>
              </li>
            </ul>
          </div>
          <div>
            <!-- start of code for upload modal -->
                        <a href="#" data-toggle="modal" data-target="#m_modal_6" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                          <span>
                            <i class="la la-archive"></i>
                            <span>Upload</span>
                          </span>
                        </a>
            
                        <div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Upload EPS escalationmatrix Data</h5>
                                <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
            
            
                                <!-- upload form  -->
                                <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="uploadForm">
                                  <div class="m-portlet__body">
                                     <!-- <div class="form-group1 m-form__group">
                                          <label for="project">Project</label>
            
                                          <select class="custom-select form-control " formControlName="project_id"
                                           name="project_id" [ngClass]="{ 'is-invalid': submitted }" >
            
                                            <option *ngFor="let project of projectDDList " [ngValue]="project">
                                              {{project}}
                                            </option>
            
                                          </select>
                                        </div> -->
                                    <div class="form-group m-form__group">
                                      <label for="exampleInputEmail1">Select File </label>
                                      <div></div>
                                      <div class="custom-file">
                                        <input type="file"   name="file"  class="custom-file-input"
                                        (change)="onFileChanged($event)" #fileInput  [ngClass]="{ 'is-invalid': submitted && !uploadData.file }">
                                        <label class="custom-file-label"  (click)="fileInput.click()">
                                         <span *ngIf="!uploadData?.file?.name">Choose file </span>
                                          <span *ngIf="fileName != ''">{{fileName}}</span>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary"  name="submit" (click)="uploadDatafn()">Submit</button>
                              </div>
            
                            </div>
                          </div>
                        </div>
            <!-- end of code for upload data modal -->
            
                      </div>
                    </div>
                  </div>
            <!-- start of code for data Information -->
            
                  <div class="m-content">
                    <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
                        <div class="m-alert__icon">
                          <i class="flaticon-danger"></i>
                        </div>
                        <div class="m-alert__text">
                          <span><strong>{{alert.type}}!</strong></span> {{alert.text}}
            
                        </div>
                        <div class="m-alert__actions" style="width: 220px;">
                          <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
                          </button>
                        </div>
                    </div>
                
                    <div class="m-portlet m-portlet--tabs m-portlet--collapse" id="m_portlet_tools_1">
                      <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                          <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                              Data Information <small>details about status of the EPS escalationmatrix data</small>
                            </h3>
                          </div>
                        </div>
                        <div class="m-portlet__head-tools">
                          <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--right m-tabs-line-danger" role="tablist">
                            <li class="nav-item m-tabs__item" (click)="setDataInformationCurrent()">
                              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_1_1" role="tab">
                                Current
                              </a>
                            </li>
                            <li class="nav-item m-tabs__item" (click)="setDataInformationPrevious()">
                              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_2" role="tab">
                                Previous
                              </a>
                            </li>
                          </ul>
                          <ul class="m-portlet__nav m--margin-left-20">
                            <li class="m-portlet__nav-item">
                              <a href="#" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-angle-down"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="m-portlet__body data-information">
                        <div class="tab-content">
                          <!-- Datatable body start for current view-->
                          <div class="tab-pane active" id="m_portlet_tab_1_1">
                            <ngx-datatable #currentData 
                            class="bootstrap"
                             [headerHeight]="45"
                             [columnMode]="'force'" 
                             [footerHeight]="75"
                             [rowHeight]="'50'"
                             [rows]="diRows"
                             [scrollbarH]="true"
                             [externalPaging]="false">
            
                              <ngx-datatable-column name="Created By" prop="created_by">
            
                                <ng-template ngx-datatable-cell-template let-value="value">
                                  {{value}}
                                </ng-template>
            
                              </ngx-datatable-column>
            
                              <ngx-datatable-column name="Updated Date and Time" prop="date_created">
            
                                <ng-template ngx-datatable-cell-template let-value="value">
                                  {{value | date: 'dd-MM-yyyy HH:mm'}}
                                </ng-template>
            
                              </ngx-datatable-column>
            
                              <ngx-datatable-column name="Status" prop="record_status">
            
                                <ng-template ngx-datatable-cell-template let-value="value">
                                  <span class="m-badge m-badge--metal m-badge--wide">{{value}}</span>
                                </ng-template>
            
                              </ngx-datatable-column>
            
                              <ngx-datatable-column name="Action">
            
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                  <button type="button" (click)="viewFile(row);" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill"
                                    title="View ">
                                    <i class="fa fa-file m--font-info"></i>
                                  </button>
                                  <button type="button" (click)="approveFile(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btn-approve"
                                    title="View ">
                                    <i class="fa fa-check m--font-success"></i>
                                  </button>
                                  <button type="button" (click)="rejectFile(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                    title="View ">
                                    <i class="fa fa-times m--font-danger"></i>
                                  </button>
                                </ng-template>
            
                              </ngx-datatable-column>
            
            
                            </ngx-datatable>
                          </div>
                             <!-- Datatable body end for current views-->
                              <!--start of modal for view current file button-->
                   
                          <ng-template #currentfileViewModal class="modal-lg  preview-modal">
                        <div class="modal-header">
                          <h4 class="modal-title pull-left">
                            
                          </h4>
                          <div (click)='allDataActive(0)'>
                          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          </div>
                        </div>
                        <div class="modal-body">
                          <div class="row m-0">
                              <div class="m-input-icon m-input-icon--left col-12">
                                  <input type="text" class="form-control m-input" placeholder="Search..."
                                   [(ngModel)]="previewFilter"   (keyup)='previewSearch($event)'
                                   >
                                  <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                      <i class="la la-search"></i>
                                    </span>
                                  </span>
                                </div>
                          </div>
                          <ngx-datatable   #viewDataModal
                          class="material"
                          [headerHeight]="45"
                          [columnMode]="'force'"
                          [footerHeight]="75"
                          [rowHeight]="'50'"
                          [rows]="rows"
                          [scrollbarH]="true"
                          [externalPaging]="true"
                          [count]="page.totalElements"
                          [offset]="page.pageNumber"
                          [limit]="page.size"
                          
                          [selected]="selected"
                          [selectionType]="'checkbox'"
                          [selectAllRowsOnPage]="false"
                          
                          (select)='onSelect($event,"Pending")'
                          >
                          <!--  -->
                          <ngx-datatable-column
                            name = "Id"
                            prop = "id"
                                  [width]="42"
                            [sortable]="false"
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false"
                            [headerCheckboxable]="true"
                            [checkboxable]="true">
              
                            <ng-template ngx-datatable-cell-template let-value="value" >
                              {{value}}
                            </ng-template>
              
                          </ngx-datatable-column>
                          <ng-container *ngFor="let col of colList">
                            <ngx-datatable-column
                            name="{{col.name}}" 
                            prop="{{col.prop}}"
                           >
                              <ng-template ngx-datatable-cell-template let-value="value" >
                                {{value}}
                              </ng-template>
                            </ngx-datatable-column>
              
                          </ng-container>
                          <ngx-datatable-footer>
                              <ng-template
                                ngx-datatable-footer-template
                                let-rowCount="rowCount"
                                let-pageSize="pageSize"
                                let-selectedCount="selectedCount"
                                let-curPage="curPage"
                                let-offset="offset">
                                <!-- <div style="padding: 5px 10px">
                                  <hr style="width:100%" />
                                  <div>
                                    Rows: {{rowCount}} |
                                    Size: {{pageSize}} |
                                    Current: {{curPage}} |
                                    Offset: {{offset}}
                                    selectedCount : {{selectedCount}}
              
                                  </div>
                                </div> -->
                      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                                  <ul class="m-datatable__pager-nav" *ngIf="page.size<rowCount">
              
                                  <li  (click)="getFileData(0)"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1"><i class="la la-angle-double-left"></i></a></li>
              
                                  <li (click)="getFileData(offset-1)">
                                    <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i class="la la-angle-left"></i></a>
              
                                  <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)"
                                   (click)="getFileData(offset-1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                                    title="{{curPage-1}}">{{curPage-1}} </a></li>
              
                                  <li (click)="getFileData(offset)"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a></li>
              
                                  <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="getFileData(offset+1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                                 title="{{curPage+1}}">{{curPage+1}} </a></li>
              
                                  <li (click)="getFileData(offset+1)"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                                  <i class="la la-angle-right"></i></a>
                                </li>
              
                                  <li (click)="getFileData(calculateTotalPage(rowCount,pageSize)-1)"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" ><i class="la la-angle-double-right"></i></a></li>
                                </ul>
              
              
                                <div class="m-datatable__pager-info">
              
                                  <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">
              
                                  <select class="  custom-pagination-select"
                                  [(ngModel)]="page.size" title="Select page size" (change)="getFileData(0)">
                                    <!-- <option class="bs-title-option" value="">Select page size</option> -->
                                    <option value="10">10</option><option value="20">20</option>
                                    <option value="30">30</option><option value="50">50</option>
                                  </select>
              
              
                                  </div>
                                    <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                                      {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span></div></div>
                                    </div>
                              </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="modalRef.hide();rejectIndivisualFile();">Reject</button>
                          <button type="button" class="btn btn-primary"  name="submit" (click)="modalRef.hide();approveIndivisualFile();">Approve</button>
                        </div>
                           </ng-template>
                              <!--end of modal on view current file-->
                       
                          <!-- Datatable body start for previous view -->
                          <div class="tab-pane" id="m_portlet_tab_1_2">
                            <ngx-datatable #previousData class="bootstrap" [headerHeight]="45" [columnMode]="'force'" [footerHeight]="75"
                              [rowHeight]="'50'" [rows]="diRows" [scrollbarH]="true" [externalPaging]="false">
                              <ngx-datatable-column name="Status" prop="record_status">
            
                                <ng-template ngx-datatable-cell-template let-value="value">
                                  <span class="m-badge m-badge--wide" [ngClass]="{'m-badge--success': value == 'Active' , 'm-badge--danger': value == 'Rejected'}">{{value}}</span>
                                </ng-template>
            
                              </ngx-datatable-column>
            
                              <ngx-datatable-column name="Created By" prop="created_by">
            
                                <ng-template ngx-datatable-cell-template let-value="value">
                                  {{value}}
                                </ng-template>
            
                              </ngx-datatable-column>
            
                              <ngx-datatable-column name="Updated Date and Time" prop="date_created">
            
                                <ng-template ngx-datatable-cell-template let-value="value">
                                  {{value | date: 'dd-MM-yyyy HH:mm'}}
                                </ng-template>
            
                              </ngx-datatable-column>
            
                              <ngx-datatable-column name="Action">
            
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                  <button type="button" (click)="viewFilePrevious(row);" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill"
                                    title="View ">
                                    <i class="fa fa-file m--font-info"></i>
                                  </button>
                                </ng-template>
            
                              </ngx-datatable-column>
            
            
            
                            </ngx-datatable>
                          </div>
                             <!-- Datatable body for previous view End -->
                            <!--start of modal for view previous file button-->
                          <ng-template #previousfileViewModal class="modal-lg  preview-modal">
                        <div class="modal-header">
                          <h4 class="modal-title pull-left">Preview</h4>
                          <div (click)='allDataActive(0)'>
                            <button type="button" class="close pull-right"  aria-label="Close" (click)="modalRef.hide()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        </div>
                        <div class="modal-body">
                          <div class="row m-0">
                              <div class="m-input-icon m-input-icon--left col-12">
                                  <input type="text" class="form-control m-input" placeholder="Search..."
                                   [(ngModel)]="previewFilter"   (keyup)='previewSearch($event)'
                                   >
                                  <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                      <i class="la la-search"></i>
                                    </span>
                                  </span>
                                </div>
                          </div>
                          <ngx-datatable   #viewDataModal
                          class="material"
                          [headerHeight]="45"
                          [columnMode]="'force'"
                          [footerHeight]="75"
                          [rowHeight]="'50'"
                          [rows]="rows"
                          [scrollbarH]="true"
                          [externalPaging]="true"
                          [count]="page.totalElements"
                          [offset]="page.pageNumber"
                          [limit]="page.size"
                          
                         
                          >
                          <!--  -->
                          <!-- <ngx-datatable-column
                            name = "Id"
                            prop = "id"
                            [width]="30"
                            [sortable]="false"
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false"
                            [headerCheckboxable]="true"
                            [checkboxable]="true">
              
                            <ng-template ngx-datatable-cell-template let-value="value" >
                              {{value}}
                            </ng-template>
              
                          </ngx-datatable-column> -->
                          <ng-container *ngFor="let col of colList">
                            <ngx-datatable-column
                            name="{{col.name}}" 
                            prop="{{col.prop}}"
                           >
                              <ng-template ngx-datatable-cell-template let-value="value" >
                                {{value}}
                              </ng-template>
                            </ngx-datatable-column>
              
                          </ng-container>
                          <ngx-datatable-footer>
                              <ng-template
                                ngx-datatable-footer-template
                                let-rowCount="rowCount"
                                let-pageSize="pageSize"
                                let-selectedCount="selectedCount"
                                let-curPage="curPage"
                                let-offset="offset">
                                <!-- <div style="padding: 5px 10px">
                                  <hr style="width:100%" />
                                  <div>
                                    Rows: {{rowCount}} |
                                    Size: {{pageSize}} |
                                    Current: {{curPage}} |
                                    Offset: {{offset}}
                                    selectedCount : {{selectedCount}}
              
                                  </div>
                                </div> -->
                      <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                                  <ul class="m-datatable__pager-nav" *ngIf="page.size<rowCount">
              
                                  <li  (click)="getFileData(0)"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1"><i class="la la-angle-double-left"></i></a></li>
              
                                  <li (click)="getFileData(offset-1)">
                                    <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i class="la la-angle-left"></i></a>
              
                                  <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)"
                                   (click)="getFileData(offset-1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                                    title="{{curPage-1}}">{{curPage-1}} </a></li>
              
                                  <li (click)="getFileData(offset)"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a></li>
              
                                  <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="getFileData(offset+1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                                 title="{{curPage+1}}">{{curPage+1}} </a></li>
              
                                  <li (click)="getFileData(offset+1)"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                                  <i class="la la-angle-right"></i></a>
                                </li>
              
                                  <li (click)="getFileData( calculateTotalPage(rowCount,pageSize)-1)"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" ><i class="la la-angle-double-right"></i></a></li>
                                </ul>
              
              
                                <div class="m-datatable__pager-info">
              
                                  <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">
              
                                  <select class="  custom-pagination-select"
                                  [(ngModel)]="page.size" title="Select page size" (change)="getFileData(0)">
                                    <!-- <option class="bs-title-option" value="">Select page size</option> -->
                                    <option value="10">10</option><option value="20">20</option>
                                    <option value="30">30</option><option value="50">50</option>
                                  </select>
              
              
                                  </div>
                                    <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                                      {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span></div></div>
                                    </div>
                              </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    
                        </div>
                     
                          </ng-template>
                              <!--end of modal on view previous file-->
                       
                        </div>
                      </div>
                    </div>
            
                <!--Start of  View for All Data -->
                <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">All Data</h3>
                      </div>
                    </div>
                    <div class="m-portlet__head-tools">
                      <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                          <a href="#" data-toggle="modal" data-target="#modalfilter" class="m-portlet__nav-link m-portlet__nav-link--icon filters">
                            <i class="la la-filter"></i>
                          </a>
                          <div class="modal fade" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter
                                    Records</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <!-- filter form for view all data -->
                                  <form class="m-form m-form--fit m-form--label-align-right">
                                    <div class="m-portlet__body">
                                      <!-- <div class="form-group1 m-form__group">
                                        <label for="exampleInputEmail1">Bank</label>
                                     
            
                                        <select class="form-control p-0" [(ngModel)]="filtersForAllView.bank_name"
                                          [ngModelOptions]="{standalone: true}">
                                         
                                          <option *ngFor="let bank of filterDropDownValue.bank" [ngValue]="bank">
                                            {{bank}}
                                          </option>
                                         
                                        </select>
                                      </div>
                                      <div class="form-group m-form__group">
                                        <label class="">Feeder Branch:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                          <select class="form-control p-0" [(ngModel)]="filtersForAllView.feeder_branch"
                                            [ngModelOptions]="{standalone: true}">
            
                                            <option *ngFor="let bank of filterDropDownValue.feederlist" [ngValue]="bank">
                                              {{bank}}
                                            </option>
                                          </select>
                                        </div>
                                      </div> -->
                                    </div>
                                  </form>
                                  <!-- filter form for view all data -->
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary" (click)="updateViewAll()">Submit</button>
                                </div>
                              </div>
                            </div>
                          </div>
                         
                        </li>
                        <li class="m-portlet__nav-item">
                          <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-angle-down"></i>
                          </a>
                        </li>
                        <li class="m-portlet__nav-item">
                          <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-expand"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="m-portlet__body">
                    <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-bottom-30">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input" (keyup)='viewSearch($event)' placeholder="Search..."
                              id="generalSearch">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <i class="la la-search"></i>
                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="col-lg-8 m--align-right">
                           <button [disabled]=submitbuttonval   class="btn btn-brand submit-btn" (click)="editSubmit()" type="button">
                                  <span>Submit</span>
                           </button>
                          <div class="dropdown m-dropdown--inline">
                            <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">Action </button>
                            
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <app-excel-export-component [data]="rows" [colConfig]="colList" [fileName]="fileType" ></app-excel-export-component>
                              <a class="dropdown-item m--font-danger deleteselected" href="">
                                <i class="fa fa-trash m--font-danger"></i> Delete Selected</a>
                                <a class="dropdown-item m--font-primary" (click)="onMultipleEdit()">
                                  <i class="la la-edit"></i> Edit Selected</a>
                            </div>
                          </div>
                          <!--  select column in viewallData -->
                          <app-multiselect [col]="viewColumnAll"></app-multiselect>
                          <!--   select column  in viewallData -->
            
                        </div>
                      </div>
                    </div>
            
                    <!--end: Search Form -->
            
                    <!--begin: Datatable -->
                    <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <div class="m_datatable" id="local_data"></div>
                        </div>
                      </div>
                      <!--end: Datatable -->
                      <ngx-datatable   #viewDataModal
                      class="material"
                      [headerHeight]="45"
                      [columnMode]="'force'"
                      [footerHeight]="75"
                      [rowHeight]="'50'"
                      [rows]="rows"
                      [scrollbarH]="true"
                      [externalPaging]="true"
                      [count]="page.totalElements"
                      [offset]="page.pageNumber"
                      [limit]="page.size"
                      [selected]="selected"
                      [selectionType]="'checkbox'"
                      [selectAllRowsOnPage]="false"
                      
                      (select)='onSelect($event,"Active")'
                     
                      >
                  
                      <ngx-datatable-column
                      name = "Id"
                      prop = "id"
                            [width]="42"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                      [headerCheckboxable]="true"
                      [checkboxable]="true">
            
                      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
                      
                      </ng-template>
            
                    </ngx-datatable-column>
                      <ng-container *ngFor="let col of colList">
                        <ngx-datatable-column
                        name="{{col.name}}" 
                        prop="{{col.prop}}"
                       >
                          <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                            <input *ngIf="col.datatype=='string' && isEdit[rowIndex] && !isMultiEdit" type="text" [(ngModel)]='editRow[col.prop]' >
                            <input *ngIf="col.datatype=='date' && isEdit[rowIndex] && !isMultiEdit" type="text" [(ngModel)]='editRow[col.prop]'
                                       placeholder="Select date"
                                       name="date"
                                       placement="top"
                                       class="form-control"
                                       bsDatepicker>
                                       <input *ngIf="col.datatype=='string' && isEdit[rowIndex] && isMultiEdit" type="text" [(ngModel)]='rows[rowIndex][col.prop]' >
                                       <input *ngIf="col.datatype=='date' && isEdit[rowIndex] && isMultiEdit" type="text" [(ngModel)]='rows[rowIndex][col.prop]'
                                                  placeholder="Select date"
                                                  name="date"
                                                  placement="top"
                                                  class="form-control"
                                                  bsDatepicker> 
                              
                            <span *ngIf='!isEdit[rowIndex] && col.datatype=="string" '> {{value}}</span>  
            
                            <span *ngIf='!isEdit[rowIndex] && col.datatype=="date"'> {{value | date: 'dd-MM-yyyy HH:mm'}} </span>  
                          </ng-template>
                         </ngx-datatable-column>
            
                      </ng-container>
                      <ngx-datatable-column name="Action" *ngIf="!isMultiEdit">
                          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                              <a  *ngIf='!isEdit[rowIndex]' (click)="viewEdit(rowIndex,row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit ">		                        
                                    <i class="la la-edit"></i>		 
                                  </a>
                                  <a *ngIf='isEdit[rowIndex]' (click)="editSubmit(rowIndex,row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit ">		                        
                                      <i class="la">submit</i>		 
                                    </a>
                          </ng-template>
                        </ngx-datatable-column>
                      <ngx-datatable-footer>
                          <ng-template
                            ngx-datatable-footer-template
                            let-rowCount="rowCount"
                            let-pageSize="pageSize"
                            let-selectedCount="selectedCount"
                            let-curPage="curPage"
                            let-offset="offset">
                            <!-- <div style="padding: 5px 10px">
                              <hr style="width:100%" />
                              <div>
                                Rows: {{rowCount}} |
                                Size: {{pageSize}} |
                                Current: {{curPage}} |
                                Offset: {{offset}}
                                selectedCount : {{selectedCount}}
            
                              </div>
                            </div> -->
                  <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                              <ul class="m-datatable__pager-nav" *ngIf="page.size<rowCount">
            
                              <li  (click)="allDataActive(0)"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1"><i class="la la-angle-double-left"></i></a></li>
            
                              <li (click)="allDataActive(offset-1)">
                                <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i class="la la-angle-left"></i></a>
            
                              <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)"
                               (click)="allDataActive(offset-1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                                title="{{curPage-1}}">{{curPage-1}} </a></li>
            
                              <li (click)="allDataActive(offset)"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a></li>
            
                              <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="allDataActive(offset+1)" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                             title="{{curPage+1}}">{{curPage+1}} </a></li>
            
                              <li (click)="allDataActive(offset+1)"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                              <i class="la la-angle-right"></i></a>
                            </li>
            
                              <li (click)="allDataActive( calculateTotalPage(rowCount,pageSize)-1)"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" ><i class="la la-angle-double-right"></i></a></li>
                            </ul>
            
            
                            <div class="m-datatable__pager-info">
            
                              <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">
            
                              <select class="  custom-pagination-select"
                              [(ngModel)]="page.size" title="Select page size" (change)="allDataActive(0)">
                                <!-- <option class="bs-title-option" value="">Select page size</option> -->
                                <option value="10">10</option><option value="20">20</option>
                                <option value="30">30</option><option value="50">50</option>
                              </select>
            
            
                              </div>
                                <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                                  {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span></div></div>
                                </div>
                          </ng-template>
                        </ngx-datatable-footer>
                    </ngx-datatable>
                    </div>
                  </div>
                </div>
                <!-- End of View for All Data -->
                  </div>
                </div>
              </div>
              <app-footer></app-footer>
            </div>
            
            
            
            
            
            
            <!-- begin::Quick Sidebar -->
            <app-quick-sidebar></app-quick-sidebar>
            
            <!-- end::Quick Sidebar -->
            
            
            <!-- begin::Scroll Top -->
            <div id="m_scroll_top" class="m-scroll-top">
              <i class="la la-arrow-up"></i>
            </div>
            
            <!-- end::Scroll Top -->
            <!-- begin::Quick Nav -->
            
            <!-- begin::Quick Nav -->
            