.largeWidth {
    background: #000;
    color: #fff;
    font-size: 10px;
}

.smallWidth {
    background: green;
    color: brown;
    font-size: 20px;
}
.mobile{
    display: none;
}
@media (max-width: 767px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}
tbody tr{
    height: 50px;
}
tr td {
    position: relative;
    select{
        width: 100px;
    }
    span {
        position: absolute;
        float: left;
    }
    input{
    height: 32px;
    }
    button{
    margin-top: 4px;
    }
}
.content-fit{
    width: fit-content;
  }
  