
<!--The content below is only a placeholder and can be replaced.-->
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">

<!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
	<!-- END: Header -->

<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
			<i class="la la-close"></i>
		</button>
					<!-- BEGIN: Aside Menu -->
				<app-side-menu></app-side-menu>
				<!-- END: Aside Menu -->
				<div style="width:100%">
          <div class="m-grid__item m-grid__item--fluid m-wrapper">

            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
              <div class="d-flex align-items-center">
                <div class="mr-auto">
                  <h3 class="m-subheader__title m-subheader__title--separator">C3R Reports</h3>
                  <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                      <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                      </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Cash Routine Data</span>
                      </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">C3R Reports</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- END: Subheader -->
            <!-- END: Subheader -->
            <div class="m-content">
              <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">                
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title"><h3 class="m-portlet__head-text">All Data</h3></div>
                  </div>
                  <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                      
                      <li class="m-portlet__nav-item">
                        <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                          <i class="la la-angle-down"></i>
                        </a>
                      </li>
                      <li class="m-portlet__nav-item">
                        <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                          <i class="la la-expand"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-portlet__body">
                  <div class="container">
                    <div class="tab-content">
                      <div class="tab-pane active" id="m_portlet_tab_1_1">
                        <form class=" m-form m-form--fit m-form--label-align-right" name="add">
                          <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                              <label for="bank">Bank</label>
                            </div>
                          </div>
                          <div  class="row mb-2 mt-1">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                <select required class="custom-select form-control " [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="reportname" name="bank"  (change)="getReportID(reportname)">
                        <option  *ngFor="let bank of bankdropdownList let i = index " value="{{bank.reportname}}">{{bank.bankcode}}
                        </option>
                        </select>
                                </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!--begin: Datatable -->
                  <div class="container">
                          	<iframe width="100%" height="600" [src]="src" frameborder="0" allowfullscreen="" allowTransparency="true" allow="encrypted-media"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
		</div>

    </div>
<app-footer></app-footer>
  </div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>

		<!-- end::Scroll Top -->
			<!-- begin::Quick Nav -->

		<!-- begin::Quick Nav -->
