li:focus {
    outline: none;
}
@media (max-width: 1025px){
    .m-aside-left--fixed .m-aside-left{
        left:0px
    }
}
.sidemenu-inside{
    left:-300px ;
}
.custom-scrollbar{

overflow-y: scroll;
}
.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #ccc;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #ccc;
	border: 1px solid #555555;
}

.m-menu__link-text {
  color: #fff !important;
}

.m-menu__link-text:hover {
  color: #f7f7f7 !important;
}
