<div id="m_aside_left" class="custom-scrollbar m-grid__item	m-aside-left  m-aside-left--skin-dark ">

  <!-- BEGIN: Aside Menu -->
  <div id="m_ver_menu" class=" m-aside-menu m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-scroller  ps--active-y"
    m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative; height: 538px;">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">

      <li class="m-menu__item" [ngClass]="{'m-menu__item--submenu':menu.child,'m-menu__item--open':openSubMenu==menu.display_name}"
        aria-haspopup="true" *ngFor="let menu of menulist.Menu" routerLinkActive="m-menu__item--active">
        <!-- when submenu is not there  -->
        <a [routerLink]="'/'+menu.mapped_url" class="pointer  m-menu__link " *ngIf="!menu.child">
          <i class="m-menu__link-icon flaticon-line-graph"></i>
          <span class="m-menu__link-title">
            <span class="m-menu__link-wrap">
              <span class="m-menu__link-text">{{menu.display_name}}</span>
            </span>
          </span>
        </a>

        <!-- when submenu is there -->
        <a class="m-menu__link m-menu__toggle" *ngIf="menu.child" (click)="openSubMenu==menu.display_name?openSubMenu='none':openSubMenu=menu.display_name">
          <i class="m-menu__link-icon flaticon-suitcase"></i>
          <span class="m-menu__link-text">{{menu.display_name}}</span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu ">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <ng-container *ngFor="let submenu of menu.child">
              <li class="m-menu__item  m-menu__item--submenu " *ngIf="!submenu.child" [routerLink]="'/'+submenu.mapped_url" routerLinkActive="m-menu__item--active" aria-haspopup="true" m-menu-submenu-toggle="hover" (click)="setPageLevelPermission(submenu.menu_id,submenu.permission_list)">
                <a class="m-menu__link m-menu__toggle">
                  <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                    <span></span>
                  </i>
                  <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">{{submenu.display_name}}</span>
                      <span class="m-menu__link-badge">
                        <span class="m-badge m-badge--danger m-badge--dot" *ngIf="submenu.new"></span>
                      </span>
                    </span>
                  </span>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
              </li>

              <li class="m-menu__item " *ngIf="submenu.child" [ngClass]="{'m-menu__item--submenu':submenu.child,'m-menu__item--open':openSubMenu2==submenu.display_name}" (click)="setPageLevelPermission(submenu.menu_id,submenu.permission_list)">
                <a href="javascript:;" class="m-menu__link m-menu__toggle" (click)="openSubMenu2==submenu.display_name?openSubMenu2='none':openSubMenu2=submenu.display_name">
                  <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                  <span class="m-menu__link-text">{{submenu.display_name}}</span>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>

              </li>
            </ng-container>


          </ul>
        </div>
      </li>

    </ul>


    <!-- END: Aside Menu -->
  </div>
</div>
