
<!--The content below is only a placeholder and can be replaced.-->
	<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

<!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
	<!-- END: Header -->

<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
			<i class="la la-close"></i>
		</button>
					<!-- BEGIN: Aside Menu -->
				<app-side-menu></app-side-menu>
				<!-- END: Aside Menu -->
				<div style="width:100%">


          <div class="m-grid__item m-grid__item--fluid m-wrapper">

            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
              <div class="d-flex align-items-center">
                <div class="mr-auto">
                  <h3 class="m-subheader__title m-subheader__title--separator">Add Exception</h3>
                  <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                      <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                      </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                      <a href="exceptions.php" class="m-nav__link">
                        <span class="m-nav__link-text">Exceptions</span>
                      </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Add Exception</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- END: Subheader -->
            <!-- END: Subheader -->
            <div class="m-content">
              <!--begin::Portlet-->
              <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
                  <div class="m-alert__icon">
                    <i class="flaticon-danger"></i>
                  </div>
                  <div class="m-alert__text">
                    <strong>{{alert.type}}!</strong> {{alert.text}}
                  </div>
                  <div class="m-alert__actions" style="width: 220px;">
                    <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
                    </button>
                  </div>
                </div>
              <!--end::Portlet-->
              <div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--sticky" id="main_portlet">
                <div class="m-portlet__head" style="z-index: 90; top: 70px; left: 285px; right: 30px;">
                  <div class="m-portlet__head-progress">

                    <!-- here can place a progress bar-->
                  </div>
                  <div class="m-portlet__head-wrapper">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                          Exception Details
                      </div>
                    </div>
                    <div class="m-portlet__head-tools">
                      <a [routerLink]="'/'+'exceptions'+'/'+'exceptions'" routerLinkActive="router-link-active"  class="btn btn-secondary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
                        <span>
                          <i class="la la-arrow-left"></i>
                          <span>Back</span>
                        </span>
                      </a>
                      <button type="button" (click)="save()" class="btn btn-primary btn-submit  m-btn m-btn--icon m-btn--wide m-btn--md">
                        <span>
                          <i class="la la-check"></i>
                          <span>Save</span>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="m-portlet__body">
                  <form [formGroup]="creatExcepForm"  class="m-form m-form--label-align-left- m-form--state-" id="m_form" >

                    <!--begin: Form Body -->
                    <div class="m-portlet__body">
                      <div class="row">
                        <div class="col-xl-8 offset-xl-2">
                          <div class="m-form__section m-form__section--first">
                            <div class="m-form__heading">
                              <h3 class="m-form__heading-title">Ticket Details</h3>
                            </div>
                            <div class="form-group m-form__group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">* Subject:</label>
                              <div class="col-xl-9 col-lg-9">
                                <input type="text" name="name" class="form-control m-input" placeholder="" [formControlName]="'subject'">
                                <span class="m-form__help"></span>
                              </div>
                            </div>
                            <div class="form-group m-form__group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">* Details:</label>
                              <div class="col-xl-9 col-lg-9">

                                <textarea  class="form-control md-input"  name="content" rows="10" style="resize: none;" [formControlName]="'remarks'"></textarea>

                              </div>
                            </div>
                          </div>
                          <div class="m-separator m-separator--dashed m-separator--lg"></div>
                          <div class="m-form__section">
                            <div class="m-form__heading">
                              <h3 class="m-form__heading-title">
                                Related Information
                                <i data-toggle="m-tooltip" data-width="auto" class="m-form__heading-help-icon flaticon-info" title="" data-original-title="Some help text goes here"></i>
                              </h3>
                            </div>
                            <div class="form-group m-form__group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">* Categoty:</label>
                              <div class="col-xl-9 col-lg-9">
                                <select name="type" class="form-control m-input" [formControlName]="'category'">
                                  <option  *ngFor = "let opt of catDDList; trackBy: trackOpt" [value]="opt.category">{{opt.category}}</option>
                                </select>
                                <span class="m-form__help">Top level Type of the exception</span>
                              </div>
                            </div>
                            <div class="form-group m-form__group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">* Sub Category:</label>
                              <div class="col-xl-9 col-lg-9">
                                <select name="subtype" class="form-control m-input" [formControlName]="'sub_category'" >
                                  <option  *ngFor = "let opt of catDDList" [value]="opt.sub_category">{{opt.sub_category}}</option>
                                </select>
                                <span class="m-form__help">Secondary level Type of the exception</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <!-- modal -->

          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Modal</h4>
              <button type="button" class="close pull-right" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              This is a modal.
            </div>
          </ng-template>
				</div>

    </div>
		<app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>

		<!-- end::Scroll Top -->
			<!-- begin::Quick Nav -->

		<!-- begin::Quick Nav -->
