.modal-dialog-new {
    max-width: 1100px;
}
    .m-form.m-form--fit .m-form__content, .m-form.m-form--fit .m-form__heading, .m-form.m-form--fit .m-form__group{
        display: inline-block;
        padding: 0 10px;
    }