<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <!-- END: Aside Menu -->
    <div style="width:100%">
      <div *ngIf = "!isViewTicket" class="m-grid__item m-grid__item--fluid m-wrapper">

        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <h3 class="m-subheader__title m-subheader__title--separator">Exceptions</h3>
              <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                    <i class="m-nav__link-icon la la-home"></i>
                  </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                  <a href="" class="m-nav__link">
                    <span class="m-nav__link-text">Exceptions</span>
                  </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                  <a href="" class="m-nav__link">
                    <span class="m-nav__link-text">All Exceptions</span>
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <a [routerLink]="'/'+'exceptions'+'/'+'addexception'" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                <span>
                  <i class="la la-plus"></i>
                  <span>Add New Exception</span>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- END: Subheader -->
        <!-- END: Subheader -->
        <div class="m-content">
          <!--begin::Portlet-->
          <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
              <div class="m-alert__icon">
                <i class="flaticon-danger"></i>
              </div>
              <div class="m-alert__text">
                <strong>{{alert.type}}!</strong> {{alert.text}}
              </div>
              <div class="m-alert__actions" style="width: 220px;">
                <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
                </button>
              </div>
            </div>
          <!--end::Portlet-->
          <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">All Data</h3>
                </div>
              </div>
              <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                  <li class="m-portlet__nav-item">
                    <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                      <i class="la la-angle-down"></i>
                    </a>
                  </li>
                  <li class="m-portlet__nav-item">
                    <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                      <i class="la la-expand"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin: Search Form -->
              <div class="m-form m-form--label-align-right m--margin-bottom-30">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="m-input-icon m-input-icon--left">
                      <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch" (keyup)='updateFilter($event)'>
                      <span class="m-input-icon__icon m-input-icon__icon--left">
                        <span>
                          <i class="la la-search"></i>
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-8 m--align-right">
                    <div class="dropdown m-dropdown--inline">
                      <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <app-excel-export-component [data]="rows" [colConfig]="columnList" [fileName]="Exception" ></app-excel-export-component>
                        <a class="dropdown-item m--font-success btn-approve" href="#">
                          <i class="fa fa-check m--font-success"></i> Approve Selected</a>
                        <a class="dropdown-item m--font-danger btn-reject" href="#" data-toggle="modal" data-target="rejectdata">
                          <i class="fa fa-times m--font-danger"></i> Reject Selected</a>
                        <a class="dropdown-item m--font-danger deleteselected" href="#">
                          <i class="fa fa-trash m--font-danger"></i> Delete Selected</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <ngx-datatable #exceptionTable
                              class="material"
                              [rows]="rows"
                              [headerHeight]="40"
                              [scrollbarH]="true"
                              [footerHeight]="50"
                              [rowHeight]="'50'"
                              [limit]="pageLimit"
                              [columnMode]="'force'">

                <ngx-datatable-column [width]="100" name="Actions">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button type="button" (click)="currentTicketId = row.ticket_id; isViewTicket = true" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" title="View Ticket Details">
                      <i class="fa fa-file m--font-info"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>

                <ng-container *ngFor="let viewCol of columnList">

                  <ngx-datatable-column name="{{viewCol.name}}" prop="{{viewCol.prop}}">

                    <ng-template ngx-datatable-cell-template let-value="value">
                      <span *ngIf="viewCol.prop != 'status' && viewCol.prop != 'assign_to_user'">{{value}}</span>
                      <span *ngIf="viewCol.prop == 'assign_to_user'">{{getUserName(value)}}</span>
                      <span *ngIf="viewCol.prop=='status'" class="m-badge m-badge--wide" [ngClass]="{'m-badge--success': value == 'open' , 'm-badge--danger': value == 'closed'}">{{value}}</span>
                    </ng-template>

                  </ngx-datatable-column>

                </ng-container>

                <ngx-datatable-footer>
                  <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    let-limit = "limit"
                    let-isVisible="isVisible">
                      <div class="page-count">
                        <span *ngIf="selectedMessage">
                          {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                        </span>
                        {{rowCount.toLocaleString()}} {{totalMessage}}
                      </div>
                      <datatable-pager
                          [pagerLeftArrowIcon]="'la la-angle-left m-datatable__pager-link m-datatable__pager-link--prev'"
                          [pagerRightArrowIcon]="'la la-angle-right m-datatable__pager-link m-datatable__pager-link--next'"
                          [pagerPreviousIcon]="'la la-angle-double-left m-datatable__pager-link m-datatable__pager-link--first'"
                          [pagerNextIcon]="'la la-angle-double-right m-datatable__pager-link m-datatable__pager-link--last'"
                          [page]="curPage"
                          [size]="pageSize"
                          [count]="rowCount"
                          [hidden]="!((rowCount / pageSize) > 1)"
                          (change)="table.onFooterPage($event)">
                      </datatable-pager>
                      <div class="m-datatable__pager-info">

                        <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">

                          <select class="custom-pagination-select" [(ngModel)]="pageLimit" title="Select page size" (click)="limit = pageLimit; pageSize = pageLimit">
                            <option *ngFor = "let x of pagesizeList" [ngValue]="x">{{x}}</option>
                          </select>

                        </div>
                      </div>
                  </ng-template>
                </ngx-datatable-footer>

              </ngx-datatable>


            </div>
          </div>
        </div>
      </div>
      <app-viewexception *ngIf = "isViewTicket" [id] = "currentTicketId" (returnToView)= 'returnToView($event)' > </app-viewexception>
    </div>

  </div>
  <app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
  <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->

<!-- begin::Quick Nav -->
