<div class="m-grid__item m-grid__item--fluid m-wrapper">

					<!-- BEGIN: Subheader -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">Submit Indent Revision</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">-</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">Operations</span>
										</a>
									</li>
									<li class="m-nav__separator">-</li>
									<li class="m-nav__item">
										<a href="indents.php" class="m-nav__link">
											<span class="m-nav__link-text">Indents</span>
										</a>
									</li>
									<li class="m-nav__separator">-</li>
									<li class="m-nav__item">
										<a href="indents.php" class="m-nav__link">
											<span class="m-nav__link-text">Submit Indent Revision</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- END: Subheader -->
					<!-- END: Subheader -->
					<div class="m-content">
						<!--begin::Portlet-->
						<div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
								<div class="m-alert__icon">
									<i class="flaticon-danger"></i>
								</div>
								<div class="m-alert__text">
									<span><strong>{{alert.type}}!</strong></span> {{alert.text}}

								</div>
								<div class="m-alert__actions" style="width: 220px;">
									<button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
									</button>
								</div>
						</div>
						<!--end::Portlet-->
						<div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile" id="main_portlet">
							<div class="m-portlet__head" style="">
								<div class="m-portlet__head-progress">

									<!-- here can place a progress bar-->
								</div>
								<div class="m-portlet__head-wrapper">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">


													<span class="m-portlet__head-icon">
														<i class="flaticon-edit"></i>
													</span>

													<h3 class="m-portlet__head-text">
														Short Code: {{rowData.indent_short_code}}.
													</h3>



										</div>
									</div>

								</div>
							</div>

							<div class="m-portlet__body">
								<!--begin: Search Form -->

								<!--end: Search Form -->

								<!--begin: Datatable -->
								<div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
									<div class="row">
										<div class="col-sm-12 col-md-12">
											<table class="table m-table">
												<thead>
													<tr>
                            <th>Bank Code</th>
													  <th>Project</th>
														<th>Feeder Branch</th>
														<th>Date</th>
														<th>CRA</th>
														<th>Model</th>
													</tr>
												</thead>
												<tbody>
													<tr class="m-table__row--metal">
														<th>{{rowData.bank}}</th>
                            <th>{{rowData.project_id}}</th>
                            <th>{{rowData.feeder_branch}}</th>
                            <th>{{rowData.order_date | date: 'dd/MM/yy'}}</th>
                            <th>{{rowData.cra}}</th>
														<th>
                              <select class="form-control m-input p-0">
																<option selected="">Default</option>
																<option>Model 1</option>
																<option>Model 1</option>
																<option>Model 1</option>
															</select>
                    				</th>
													</tr>
													<tr class="m-table__row">
														<td  colspan="6" class="col-sm-12 col-md-12">
															<div class="row">
																<div class="col-sm-12 col-md-12">
																	<table class="table table-bordered m-table">
																		<thead class="thead-inverse">
																			<tr>
																				<th></th>
																				<th>Total Amount</th>
                                        <!-- <th>50 </th> -->
                                        <th>100 </th>
																				<th>200 </th>
																				<th>500 </th>
																				<th>2000 </th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td colspan="6"><label class="datatable-checkbox"><input type="checkbox" (change)="autofillInputs()" [(ngModel)]="autofillCheck" >Deno wise amount available</label>&nbsp;&nbsp;&nbsp;<label class="{{autoloadClass}}" *ngIf="autoLoadError">{{autoloadMessage}}</label></td>
																			</tr>
																			<tr>
																				<th>Loading Amount</th>
                                        <td><input type="text" disabled [ngModel] = "rowData.total_atm_loading_amount | amountMask" class = "form-control form-control-sm m-input" id="loading_amount_Total"  ></td>
																				<!-- <td><input type="text" disabled [(ngModel)] = "rowData.total_atm_loading_amount_50"    class = "form-control form-control-sm m-input" id="loading_amount_50"  ></td> -->
																				<td><input type="text" disabled [ngModel] = "rowData.total_atm_loading_amount_100 | amountMask"   class = "form-control form-control-sm m-input" id="loading_amount_100"  ></td>
																				<td><input type="text" disabled [ngModel] = "rowData.total_atm_loading_amount_200 | amountMask"   class = "form-control form-control-sm m-input" id="loading_amount_200"  ></td>
																				<td><input type="text" disabled [ngModel] = "rowData.total_atm_loading_amount_500 | amountMask"   class = "form-control form-control-sm m-input" id="loading_amount_500"  ></td>
                                        <td><input type="text" disabled [ngModel] = "rowData.total_atm_loading_amount_2000 | amountMask"  class = "form-control form-control-sm m-input" id="loading_amount_2000"  ></td>
																			</tr>
																			<tr>
																				<th>Availability</th>
                                        <td><input type="text" appAmountMask [(ngModel)] = "indentEditForm.total_amount_available" (focus) = '$event.target.select()' (ngModelChange) = 'checkTotal()' placement = 'bottom' [tooltip]="amountError" triggers="keyup:keydown | focus" class = "form-control form-control-sm m-input" id="CashAvailability_Total"  ></td>
																				<!-- <td><input type="text" appAmountMask [(ngModel)] = "indentEditForm.available_50_amount"    (focus) = '$event.target.select()' (ngModelChange) = 'checkTotal()' placement = 'bottom' [tooltip]="amountError" triggers="keyup:keydown" class = "form-control form-control-sm m-input" id="CashAvailability_50"  ></td> -->
																				<td><input type="text" appAmountMask [(ngModel)] = "indentEditForm.available_100_amount"   (focus) = '$event.target.select()' (ngModelChange) = 'checkTotal()' placement = 'bottom' [tooltip]="amountError" triggers="keyup:keydown | focus" class = "form-control form-control-sm m-input" id="CashAvailability_100"  ></td>
																				<td><input type="text" appAmountMask [(ngModel)] = "indentEditForm.available_200_amount"   (focus) = '$event.target.select()' (ngModelChange) = 'checkTotal()' placement = 'bottom' [tooltip]="amountError" triggers="keyup:keydown | focus" class = "form-control form-control-sm m-input" id="CashAvailability_200"  ></td>
																				<td><input type="text" appAmountMask [(ngModel)] = "indentEditForm.available_500_amount"   (focus) = '$event.target.select()' (ngModelChange) = 'checkTotal()' placement = 'bottom' [tooltip]="amountError" triggers="keyup:keydown | focus" class = "form-control form-control-sm m-input" id="CashAvailability_500"  ></td>
                                        <td><input type="text" appAmountMask [(ngModel)] = "indentEditForm.available_2000_amount"  (focus) = '$event.target.select()' (ngModelChange) = 'checkTotal()' placement = 'bottom' [tooltip]="amountError" triggers="keyup:keydown | focus" class = "form-control form-control-sm m-input" id="CashAvailability_2000"  ></td>
																			</tr>
																		</tbody>
																	</table>
																	<div class="form-group m-form__group col-4 pl-0">
																		<label for="exampleTextarea">Reason</label>
																		<select [(ngModel)]= "indentEditForm.reason" class="form-control m-input p-0" >
																			<option value=''>Select Reason</option>
																			<option *ngFor = "let opt of reasonsList"[ngValue]="opt.update_reason">{{opt.update_reason}}</option>
																		</select>
																	</div>
																	<div class="form-group m-form__group">
																		<label for="exampleTextarea">Remarks</label>
																		<textarea class="form-control m-input" [(ngModel)]= "indentEditForm.remarks" rows="3"></textarea>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<!--end: Datatable -->
								</div>
							</div>

							<div class="m-portlet__footer">
								<div class="modal-footer">
									<a (click)= "backToIndent()" class="btn btn-secondary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
										<span>
											<i class="la la-arrow-left"></i>
											<span>Cancel</span>
										</span>
									</a>
									<a (click)="submitIndentEdit()" class="btn btn-primary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10 btn-approve">
										<span>
											<i class="la la-puzzle-piece"></i>
											<span>Submit Revision</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
