input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none; margin: 0; 
}
tbody tr{
    height: 50px;
}
tr td {
    position: relative;
    select{
        width: 100px;
    }
    span {
        position: absolute;
        float: left;
        width: 100px;
    }
    input{
    height: 32px;
    }
    button{
        margin-top: 8px;
        }
}