<!--The content below is only a placeholder and can be replaced.-->
	<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

<!-- BEGIN: Header -->
<app-top-navbar></app-top-navbar>
	<!-- END: Header -->

<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
			<i class="la la-close"></i>
		</button>
					<!-- BEGIN: Aside Menu -->
				<app-side-menu></app-side-menu>
				<!-- END: Aside Menu -->
				<div style="width:100%">
          <div class="m-grid__item m-grid__item--fluid m-wrapper">

            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
              <div class="d-flex align-items-center">
                <div class="mr-auto">
                  <h3 class="m-subheader__title m-subheader__title--separator">Indent Revisions</h3>
                  <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                      <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                      </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Operations</span>
                      </a>
                    </li>


                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                      <a href="indentrevisions.php" class="m-nav__link">
                        <span class="m-nav__link-text">Indent Revisions</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- END: Subheader -->
            <!-- END: Subheader -->
            <div class="m-content">
              <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
                  <div class="m-alert__icon">
                    <i class="flaticon-danger"></i>
                  </div>
                  <div class="m-alert__text">
                    <span><strong>{{alert.type}}!</strong></span> {{alert.text}}

                  </div>
                  <div class="m-alert__actions" style="width: 220px;">
                    <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
                    </button>
                  </div>
              </div>
              <!--begin::Portlet-->
							<div class="d-inline-block w-100">

									<div class="pull-left card status-card mb-2 d-inline-block btn bg-warning text-white" (click)="statusFilter('Review Pending')">
										<div class="card-body">
											Review Pending Records Count: {{countData.pending_review}}
										</div>
									</div>

									<!-- <div class="pull-left card status-card mb-2 d-inline-block bg-warning text-white" (click)="statusFilter('Approval Pending')">
										<div class="card-body">
											Approval Pending Records Count: {{countData.pending_approval}}
										</div>
									</div> -->

									<div class="pull-left card status-card mb-2 d-inline-block btn bg-success text-white" (click)="statusFilter('Active')">
										<div class="card-body">
											Active Records Count: {{countData.active}}
										</div>
									</div>

							</div>

							<br>
              <!--end::Portlet-->
              <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title"><h3 class="m-portlet__head-text">All Data</h3></div>
                  </div>
                  <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                      <li class="m-portlet__nav-item">
                        <a href="#" data-toggle="modal" data-target="#modalfilter" class="m-portlet__nav-link m-portlet__nav-link--icon filters">
                          <i class="la la-filter"></i>
                        </a>
												<div class="modal fade" data-backdrop="static" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter Records</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<form class="m-form m-form--fit m-form--label-align-right">
																	<div class="form-group1 m-form__group">
																		<label for="indentOrderFilter">Indent Order Number</label>
																		<div></div>
																		<input type="text" class="form-control" id="indentOrderFilter" [(ngModel)]="filterData.indent_order_number" [ngModelOptions]="{standalone: true}">
																	</div>
																	<div class="form-group1 m-form__group">
		                                <label for="indentShortCodeFilter">Indent Short Code</label>
		                                <div></div>
		                                <input type="text" class="form-control" id="indentShortCodeFilter" [(ngModel)]="filterData.indent_short_code" [ngModelOptions]="{standalone: true}">
		                              </div>
																	<div class="form-group1 m-form__group">
																		<label for="indentRevisedOrderFilter">Revised Indent Order Number</label>
																		<div></div>
																		<input type="text" class="form-control" id="indentRevisedOrderFilter" [(ngModel)]="filterData.indent_revision_order_number" [ngModelOptions]="{standalone: true}">
																	</div>
																	<div class="form-group1 m-form__group">
		                                 <label for="projectFilter">Project</label>
		                                 <div></div>
		                                 <select class="custom-select form-control" id="projectFilter"
		                                  [(ngModel)]="filterData.project_id" [ngModelOptions]="{standalone: true}" (change)="getBankList()">

		                                   <option value="">All</option>
		                                   <option *ngFor="let project of projectBankList " [ngValue]="project.project_id">
		                                     {{project.project_id}}
		                                   </option>

		                                 </select>
		                              </div>
																	<div class="form-group1 m-form__group">
																		<label for="bankFilter">Bank</label>
																		<div></div>
																		<select class="custom-select form-control" id="bankFilter" [(ngModel)]="filterData.bank_code" [ngModelOptions]="{standalone: true}" (change)="getFeeder()">
																			<option *ngFor="let bank of bankList" [ngValue]="bank.bank_id">
                                        {{bank.bank_id}}
                                      </option>
																		</select>
																	</div>
																	<div class="form-group1 m-form__group">
																		<label for="indentOrderFilter">Feeder Branch</label>
																		<div></div>
                                    <ngx-select-dropdown     id="projectFilter"
                                                          [multiple]="true"
                                                          [(ngModel)]="filterData.feeder_branch_code"
                                                          [config]="config"
                                                          [options]="feederList"
                                                          [(_value)]="feederValue"
                                                          [ngModelOptions]="{standalone: true}">
                                                    </ngx-select-dropdown>
																		<!-- <select class="custom-select form-control" id="projectFilter" [(ngModel)]="filterData.feeder_branch_code" [ngModelOptions]="{standalone: true}" >
																			<option *ngFor="let feeder of feederList" [ngValue]="feeder.feeder">
                                        {{feeder.feeder}}
                                      </option>
																		</select> -->
																	</div>
																	<div class="form-group1 m-form__group">

		                                <label for="date">Order Date</label>

																	  <input type="text"
																					 [(ngModel)]="filterDate"
																	         placeholder="Select date"
																					 name="date"
																					 placement="top"
																	         class="form-control"
																	         bsDatepicker>

		                              </div>
																	<div class="form-group1 m-form__group">
																		<label for="statusFilter">Status</label>
																		<div></div>
																		<select class="custom-select form-control" id="statusFilter" [(ngModel)]="filterData.record_status" [ngModelOptions]="{standalone: true}" >
																			<option *ngFor="let status of statusList" [ngValue]="status">
                                        {{status}}
                                      </option>
																		</select>
																	</div>

																</form>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" (click)="allDataActive(0)" data-dismiss="modal">Close</button>
																<button type="button" (click)="resetFilter()"class="btn btn-primary">Reset</button>
																<button type="button" class="btn btn-primary" (click)="allDataActive(0)" data-dismiss="modal">Submit</button>
															</div>
														</div>
													</div>
												</div>
                      </li>
                      <li class="m-portlet__nav-item">
                        <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                          <i class="la la-angle-down"></i>
                        </a>
                      </li>
                      <li class="m-portlet__nav-item">
                        <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                          <i class="la la-expand"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-portlet__body">
                  <!--begin: Search Form -->
                  <div class="m-form m-form--label-align-right m--margin-bottom-30">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="m-input-icon m-input-icon--left">
                          <input type="text" class="form-control m-input" (keyup)='viewSearch($event)' placeholder="Search..." id="generalSearch">
                          <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span>
                              <i class="la la-search"></i>
                            </span>
                          </span>
                        </div>
                      </div>
											<div class="col-lg-8 m--align-right">
												<div class="dropdown m-dropdown--inline">
			                    <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
			                      aria-haspopup="true" aria-expanded="false">Action </button>

			                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			                      <app-excel-export-component [data]="rows" [colConfig]="colList" [fileName]="excelType" ></app-excel-export-component>
			                    </div>
			                  </div>
												<app-multiselect [col]="colList" ></app-multiselect>
											</div>
                    </div>
                  </div>

                  <!--end: Search Form -->

                  <!--begin: Datatable -->

                    <!--end: Datatable -->
                    <div>
                        <ngx-datatable   #viewDataModal
                        class="material"
                        [headerHeight]="45"
                        [columnMode]="'force'"
                        [footerHeight]="75"
                        [rowHeight]="'50'"
                        [rows]="rows"
                        [scrollbarH]="true"
                        [externalPaging]="true"
                        [count]="page.totalElements"
                        [offset]="page.pageNumber"
                        [limit]="page.size">

												<ngx-datatable-column name=" " [width] = "100" >
	                          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
															<button *ngIf = "row.record_status == 'Approval Pending' || row.record_status == 'Review Pending' && permissionList.indexOf('approve') != -1" type="button" (click)="approveIndent(row,row.record_status)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btn-approve" title="Approve Indent Revision">
																<i class="fa fa-check m--font-success"></i>
															</button>
															<button *ngIf = "row.record_status == 'Approval Pending' || row.record_status == 'Review Pending' && permissionList.indexOf('reject') != -1 " type="button" (click)="rejectIndent(row,'Rejected')" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Reject Indent Revision" >
																<i class="fa fa-times m--font-danger"></i>
															</button>
	                          </ng-template>
	                      </ngx-datatable-column>

                       <ng-container *ngFor="let col of colList">
                          <ngx-datatable-column
                            name="{{col.name}}"
                            prop="{{col.prop}}"
														*ngIf = "col.selected"
                            >
                            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                              <span *ngIf='col.dataType=="string"' [title]='value'> {{value}}</span>
															<span *ngIf='col.dataType=="currency"' [title]='value'> {{value | amountMask}}</span>
                              <span *ngIf='col.dataType=="date"' [title]="value | date: 'dd-MM-yyyy HH:mm'"> {{value | date: 'dd-MM-yyyy HH:mm'}} </span>
                            </ng-template>
                           </ngx-datatable-column>

                        </ng-container>
                        <ngx-datatable-footer>
                                <ng-template
                                  ngx-datatable-footer-template
                                  let-rowCount="rowCount"
                                  let-pageSize="pageSize"
                                  let-selectedCount="selectedCount"
                                  let-curPage="curPage"
                                  let-offset="offset">
                                  <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                                    <ul class="m-datatable__pager-nav">

                                      <li  (click)="allDataActive(0)">
                                        <a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1">
                                          <i class="la la-angle-double-left"></i>
                                        </a>
                                      </li>

                                      <li (click)="allDataActive(offset-1)">
                                        <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1">
                                          <i class="la la-angle-left"></i>
                                        </a>
                                      </li>

                                      <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="allDataActive(offset-1)" >
                                        <a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage-1}}">{{curPage-1}} </a>
                                      </li>

                                      <li (click)="allDataActive(offset)">
                                        <a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a>
                                      </li>

                                      <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="allDataActive(offset+1)" >
                                        <a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage+1}}">{{curPage+1}} </a>
                                      </li>

                                      <li (click)="allDataActive(offset+1)">
                                        <a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                                          <i class="la la-angle-right"></i>
                                        </a>
                                      </li>

                                      <li (click)="allDataActive(calculateTotalPage(rowCount,pageSize)-1)">
                                        <a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" >
                                          <i class="la la-angle-double-right"></i>
                                        </a>
                                      </li>
                                    </ul>

                                    <div class="m-datatable__pager-info">

                                      <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">

                                        <select class="  custom-pagination-select" [(ngModel)]="page.size" title="Select page size" (change)="allDataActive(0)">
                                          <option *ngFor = "let x of pagesizeList" [ngValue]="x">{{x}}</option>
                                        </select>

                                      </div>
                                      <span class="m-datatable__pager-detail">Displaying {{curPage}} - {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span>

                                    </div>
                                  </div>
                                  </div>
                                </ng-template>
                              </ngx-datatable-footer>
                      </ngx-datatable>
                    </div>

                </div>
              </div>
            </div>
          </div>
				</div>
  </div>
	<app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>

		<!-- end::Scroll Top -->
			<!-- begin::Quick Nav -->

		<!-- begin::Quick Nav -->
