<!--The content below is only a placeholder and can be replaced.-->
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">

<!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
	<!-- END: Header -->

<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
			<i class="la la-close"></i>
		</button>
					<!-- BEGIN: Aside Menu -->
				<app-side-menu></app-side-menu>
				<!-- END: Aside Menu -->
				<div style="width:100%">
          <div class="m-grid__item m-grid__item--fluid m-wrapper">

              <!-- BEGIN: Subheader -->
              <div class="m-subheader ">
                <div class="d-flex align-items-center">
                  <div class="mr-auto">
                    <h3 class="m-subheader__title ">Dashboard</h3>
                  </div>
                  <div>
                      <!-- {{bsRangeValue}} -->
                      <!-- id="m_dashboard_daterangepicker"    below it for opening data -->
                    <span class="m-subheader__daterange"
                     (click)="showDateRange=!showDateRange"

                    >
                      <span class="m-subheader__daterange-label">
                        <span class="m-subheader__daterange-title"></span>
                        <span class="m-subheader__daterange-date m--font-brand">
                          {{bsRangeValue[0] | date : 'dd-mmm-yyyy' }}
                          -  {{bsRangeValue[1] | date : 'dd-mmm-yyyy' }}
                         </span>
                      </span>
                      <a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                        <i class="la la-angle-down"></i>
                      </a>
                    </span>
                    <div class="ranges daterange-popup" *ngIf="showDateRange">
                      <ul>
                        <li  class="active">Today</li>
                        <li>Yesterday</li>
                        <li  class="">Last 7 Days</li>
                        <li >Last 30 Days</li>
                        <li >This Month</li>
                        <li >Last Month</li>
                        <li (click)="drp.toggle()"   [attr.aria-expanded]="drp.isOpen" >Custom Range</li>
                      </ul>
                      <div class="range_inputs">
                        <button class="applyBtn btn btn-sm btn-success" type="button"  (click)="showDateRange=false">Apply</button>
                        <button class="cancelBtn btn btn-sm btn-default" type="button"  (click)="showDateRange=false">Cancel</button>
                      </div>
                    </div>
                    <div class=""  style="visibility: hidden; opacity: 0;">
                      <input
                        class="form-control"
                        #drp="bsDaterangepicker"
                         bsDaterangepicker

                          [(ngModel)]="bsRangeValue"
                        >
                    </div>
                  </div>
                </div>
              </div>

              <!-- END: Subheader -->
              <div class="m-content">

                <!--Begin::Section-->
                <div class="m-portlet">
                  <div class="m-portlet__body  m-portlet__body--no-padding">
                    <div class="row m-row--no-padding m-row--col-separator-xl">
                      <div class="col-xl-6">

                        <!--begin:: Widgets/Stats2-1 -->
                        <div class="m-portlet m-portlet--full-height ">
                          <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                              <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                  Indent Report
                                </h3>
                              </div>
                            </div>
                          </div>
                          <div class="m-portlet__body">
                            <div class="m-widget25">
                              <span class="m-widget25__price m--font-brand">7,650</span>
                              <span class="m-widget25__desc">Total Indents</span>
                              <div class="m-widget25--progress">
                                <div class="m-widget25__progress">
                                  <span class="m-widget25__progress-number">
                                    63%
                                  </span>
                                  <div class="m--space-10"></div>
                                  <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 63%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <span class="m-widget25__progress-sub">
                                    Withdrawn
                                  </span>
                                </div>
                                <div class="m-widget25__progress">
                                  <span class="m-widget25__progress-number">
                                    39%
                                  </span>
                                  <div class="m--space-10"></div>
                                  <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-accent" role="progressbar" style="width: 39%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <span class="m-widget25__progress-sub">
                                    Loaded
                                  </span>
                                </div>
                                <div class="m-widget25__progress">
                                  <span class="m-widget25__progress-number">
                                    9%
                                  </span>
                                  <div class="m--space-10"></div>
                                  <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-success" role="progressbar" style="width: 9%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <span class="m-widget25__progress-sub">
                                    Vaulted
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--end:: Widgets/Stats2-1 -->
                      </div>
                      <div class="col-xl-6">
                        <div class="m-portlet m-portlet--full-height ">
                          <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                              <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                  Pending Actions
                                </h3>
                              </div>
                            </div>
                            <div class="m-portlet__head-tools">
                              <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                                <li class="nav-item m-tabs__item">
                                  <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_widget2_tab1_content" role="tab" aria-selected="true">
                                    Master Data
                                  </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content" role="tab" aria-selected="false">
                                    Cash Routine
                                  </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab3_content" role="tab" aria-selected="false">
                                    Operations
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <style type="text/css">.m-widget1{padding:0px;}.m-widget1 .m-widget1__item .m-widget1__number{font-size: 12px;}</style>
                          <div class="m-portlet__body">
                            <div class="tab-content">
                              <div class="tab-pane active show" id="m_widget2_tab1_content">
                                <div class="m-widget1">
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">ATMs</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">Cypher Code</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger">Pending Upload</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">Insurance Limit	</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">	Bank Cash Limit	</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">	CRA Vault Master	</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">		Cassette Configs	</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger">Pending Upload</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane" id="m_widget2_tab2_content">
                                <div class="m-widget1">
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">	Vault Cash	</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">	Bank Cash Balance	</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger">Pending Upload</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">	Cash Dispense	</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">		Cash Loading	</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">		CRA C3R Report		</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">			Recommendation Sheet	</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger">Pending Upload</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane" id="m_widget2_tab3_content">
                                <div class="m-widget1">
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">		Indent Revisions		</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">		Withdrawl		</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger">Pending Upload</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">		Loading		</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">			Vaulting		</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">			Diversion	</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">Pending Approval</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                      <div class="col">
                                        <h3 class="m-widget1__title">				Configurable Limits		</h3>
                                      </div>
                                      <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger">Pending Upload</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="m-portlet ">
                  <div class="m-portlet__body  m-portlet__body--no-padding">
                    <div class="row m-row--no-padding m-row--col-separator-xl">
                      <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::Total Profit-->
                        <div class="m-widget24">
                          <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                              Total Open Exceptions
                            </h4>
                            <br>
                            <span class="m-widget24__desc">
                              All Customs Value
                            </span>
                            <span class="m-widget24__stats m--font-brand">
                              123
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                              <div class="progress-bar m--bg-brand" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="m-widget24__change">
                              Change
                            </span>
                            <span class="m-widget24__number">
                              78%
                            </span>
                          </div>
                        </div>

                        <!--end::Total Profit-->
                      </div>
                      <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Feedbacks-->
                        <div class="m-widget24">
                          <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                              Total Active ATMs
                            </h4>
                            <br>
                            <span class="m-widget24__desc">
                              Total number active ATMs
                            </span>
                            <span class="m-widget24__stats m--font-info">
                              1349
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                              <div class="progress-bar m--bg-info" role="progressbar" style="width: 84%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="m-widget24__change">
                              Change
                            </span>
                            <span class="m-widget24__number">
                              84%
                            </span>
                          </div>
                        </div>

                        <!--end::New Feedbacks-->
                      </div>
                      <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Orders-->
                        <div class="m-widget24">
                          <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                              Total Cash Withdrawn
                            </h4>
                            <br>
                            <span class="m-widget24__desc">
                              Some text goes here
                            </span>
                            <span class="m-widget24__stats m--font-danger">
                              56,74,566
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                              <div class="progress-bar m--bg-danger" role="progressbar" style="width: 69%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="m-widget24__change">
                              Change
                            </span>
                            <span class="m-widget24__number">
                              69%
                            </span>
                          </div>
                        </div>

                        <!--end::New Orders-->
                      </div>
                      <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Users-->
                        <div class="m-widget24">
                          <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                              Total Cash Loaded
                            </h4>
                            <br>
                            <span class="m-widget24__desc">
                              Some text goes here
                            </span>
                            <span class="m-widget24__stats m--font-success">
                              36,74,566
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                              <div class="progress-bar m--bg-success" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="m-widget24__change">
                              Change
                            </span>
                            <span class="m-widget24__number">
                              90%
                            </span>
                          </div>
                        </div>

                        <!--end::New Users-->
                      </div>
                    </div>
                  </div>
                </div>

                <!--End::Section-->

                <!--Begin::Section-->
                <div class="row">
                  <div class="col-xl-6">

                    <!--begin:: Widgets/Support Tickets -->
                    <div class="m-portlet m-portlet--full-height ">
                      <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                          <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                              Recent Exceptions
                            </h3>
                          </div>
                        </div>
                        <div class="m-portlet__head-tools">
                          <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                              <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
                                <i class="la la-ellipsis-h m--font-brand"></i>
                              </a>
                              <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                <div class="m-dropdown__inner">
                                  <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                      <ul class="m-nav">
                                        <li class="m-nav__item">
                                          <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-add"></i>
                                            <span class="m-nav__link-text">Add Exception</span>
                                          </a>
                                        </li>
                                        <li class="m-nav__item">
                                          <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-list-2"></i>
                                            <span class="m-nav__link-text">All Exceptions</span>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="m-portlet__body">
                        <div class="m-widget3">
                          <div class="m-widget3__item">
                            <div class="m-widget3__header">
                              <div class="m-widget3__user-img">
                                <img class="m-widget3__img" src="assets/app/media/img/users/user1.jpg" alt="">
                              </div>
                              <div class="m-widget3__info">
                                <span class="m-widget3__username">
                                  Hitesh Thakkar
                                </span>
                                <br>
                                <span class="m-widget3__time">
                                  1 day ago
                                </span>
                              </div>
                              <span class="m-widget3__status m--font-info">
                                Pending
                              </span>
                            </div>
                            <div class="m-widget3__body">
                              <p class="m-widget3__text">
                                Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
                              </p>
                            </div>
                          </div>
                          <div class="m-widget3__item">
                            <div class="m-widget3__header">
                              <div class="m-widget3__user-img">
                                <img class="m-widget3__img" src="assets/app/media/img/users/user4.jpg" alt="">
                              </div>
                              <div class="m-widget3__info">
                                <span class="m-widget3__username">
                                  Rahul Pal
                                </span>
                                <br>
                                <span class="m-widget3__time">
                                  2 day ago
                                </span>
                              </div>
                              <span class="m-widget3__status m--font-brand">
                                Open
                              </span>
                            </div>
                            <div class="m-widget3__body">
                              <p class="m-widget3__text">
                                Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.Ut wisi enim ad minim veniam,quis nostrud exerci tation ullamcorper.
                              </p>
                            </div>
                          </div>
                          <div class="m-widget3__item">
                            <div class="m-widget3__header">
                              <div class="m-widget3__user-img">
                                <img class="m-widget3__img" src="assets/app/media/img/users/user5.jpg" alt="">
                              </div>
                              <div class="m-widget3__info">
                                <span class="m-widget3__username">
                                  Ramesh Kesarkar
                                </span>
                                <br>
                                <span class="m-widget3__time">
                                  3 weeks ago
                                </span>
                              </div>
                              <span class="m-widget3__status m--font-success">
                                Closed
                              </span>
                            </div>
                            <div class="m-widget3__body">
                              <p class="m-widget3__text">
                                Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--end:: Widgets/Support Tickets -->
                  </div>
                  <div class="col-xl-6">

                    <!--Begin::Portlet-->
                    <div class="m-portlet  m-portlet--full-height ">
                      <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                          <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                              Recent Notifications
                            </h3>
                          </div>
                        </div>
                        <div class="m-portlet__head-tools">
                          <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                              <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
                                <i class="la la-ellipsis-h m--font-brand"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="m-portlet__body">
                        <div class="m-scrollable" data-scrollable="true" data-height="380" data-mobile-height="300">

                          <!--Begin::Timeline 2 -->
                          <div class="m-timeline-2">
                            <div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">
                              <div class="m-timeline-2__item">
                                <span class="m-timeline-2__item-time">10:00</span>
                                <div class="m-timeline-2__item-cricle">
                                  <i class="fa fa-genderless m--font-danger"></i>
                                </div>
                                <div class="m-timeline-2__item-text  m--padding-top-5">
                                  Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                                  <br> incididunt ut labore et dolore magna
                                </div>
                              </div>
                              <div class="m-timeline-2__item m--margin-top-30">
                                <span class="m-timeline-2__item-time">12:45</span>
                                <div class="m-timeline-2__item-cricle">
                                  <i class="fa fa-genderless m--font-success"></i>
                                </div>
                                <div class="m-timeline-2__item-text m-timeline-2__item-text--bold">
                                  CRA Report Approval
                                </div>
                                <div class="m-list-pics m-list-pics--sm m--padding-left-20">
                                  <a href="#">
                                    <img src="assets/app/media/img/users/100_4.jpg" title="">
                                  </a>
                                  <a href="#">
                                    <img src="assets/app/media/img/users/100_13.jpg" title="">
                                  </a>
                                  <a href="#">
                                    <img src="assets/app/media/img/users/100_11.jpg" title="">
                                  </a>
                                  <a href="#">
                                    <img src="assets/app/media/img/users/100_14.jpg" title="">
                                  </a>
                                </div>
                              </div>
                              <div class="m-timeline-2__item m--margin-top-30">
                                <span class="m-timeline-2__item-time">14:00</span>
                                <div class="m-timeline-2__item-cricle">
                                  <i class="fa fa-genderless m--font-brand"></i>
                                </div>
                                <div class="m-timeline-2__item-text m--padding-top-5">
                                  Indent Revision Approval
                                  <a href="#" class="m-link m-link--brand m--font-bolder">Indent #1700</a> To ESL.
                                </div>
                              </div>
                              <div class="m-timeline-2__item m--margin-top-30">
                                <span class="m-timeline-2__item-time">16:00</span>
                                <div class="m-timeline-2__item-cricle">
                                  <i class="fa fa-genderless m--font-warning"></i>
                                </div>
                                <div class="m-timeline-2__item-text m--padding-top-5">
                                  Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                                  <br> incididunt ut labore et dolore magna elit enim at minim
                                  <br> veniam quis nostrud
                                </div>
                              </div>
                              <div class="m-timeline-2__item m--margin-top-30">
                                <span class="m-timeline-2__item-time">17:00</span>
                                <div class="m-timeline-2__item-cricle">
                                  <i class="fa fa-genderless m--font-info"></i>
                                </div>
                                <div class="m-timeline-2__item-text m--padding-top-5">
                                  Placed a new order in
                                  <a href="#" class="m-link m-link--brand m--font-bolder">SIGNATURE MOBILE</a> marketplace.
                                </div>
                              </div>
                              <div class="m-timeline-2__item m--margin-top-30">
                                <span class="m-timeline-2__item-time">16:00</span>
                                <div class="m-timeline-2__item-cricle">
                                  <i class="fa fa-genderless m--font-brand"></i>
                                </div>
                                <div class="m-timeline-2__item-text m--padding-top-5">
                                  Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                                  <br> incididunt ut labore et dolore magna elit enim at minim
                                  <br> veniam quis nostrud
                                </div>
                              </div>
                              <div class="m-timeline-2__item m--margin-top-30">
                                <span class="m-timeline-2__item-time">17:00</span>
                                <div class="m-timeline-2__item-cricle">
                                  <i class="fa fa-genderless m--font-danger"></i>
                                </div>
                                <div class="m-timeline-2__item-text m--padding-top-5">
                                  Received a new feedback on
                                  <a href="#" class="m-link m-link--brand m--font-bolder">FinancePro App</a> product.
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--End::Timeline 2 -->
                        </div>
                      </div>
                    </div>

                    <!--End::Portlet-->
                  </div>
                </div>

                <!--End::Section-->
              </div>
            </div>
				</div>

    </div>
<app-footer></app-footer>
  </div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>

		<!-- end::Scroll Top -->
			<!-- begin::Quick Nav -->

		<!-- begin::Quick Nav -->
