.custom-modal-dialog {
    max-width: 1100px;
}
  .custom-form .m-form__content, .custom-form .m-form__heading, .custom-form .m-form__group{
      display: inline-block;
      padding: 0 10px;
  }
    .custom-ngx-dd {
        min-width: 190px !important;
    }
