
<!--The content below is only a placeholder and can be replaced.-->
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">

      <!-- BEGIN: Header -->
        <app-top-navbar></app-top-navbar>
        <!-- END: Header -->
      
      <!-- begin::Body -->
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
      
          <!-- BEGIN: Left Aside -->
          <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
          </button>
                <!-- BEGIN: Aside Menu -->
              <app-side-menu></app-side-menu>
              <!-- END: Aside Menu -->
              <div style="width:100%">
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
      
                  <!-- BEGIN: Subheader -->
                  <div class="m-subheader ">
                    <div class="d-flex align-items-center">
                      <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">Bank Cash Balance</h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                          <li class="m-nav__item m-nav__item--home">
                            <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                              <i class="m-nav__link-icon la la-home"></i>
                            </a>
                          </li>
                          <li class="m-nav__separator">-</li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <span class="m-nav__link-text">Cash Routine Data</span>
                            </a>
                          </li>
                          <li class="m-nav__separator">-</li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <span class="m-nav__link-text">Bank Cash Balance</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div *ngIf="permissionList.indexOf('upload_file') != -1" >
                        <a  href="#" data-toggle="modal" data-target="#m_modal_6" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                          <span>
                            <i class="la la-archive"></i>
                            <span>Upload</span>
                          </span>
                        </a>
      
      
      
      
      
      
      
      
      
      
                        <div class="modal fade" data-backdrop="static" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                          aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Upload Bank Cash Balance Data</h5>
                                <button type="button" class="close" data-dismiss="modal" (click)='clearUploadFormData()' aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
      
      
                                <!-- upload form  -->
                                <form class="m-form m-form--fit m-form--label-align-right" name="cbrupload"  [formGroup]="uploadForm">
                                  <div class="m-portlet__body">
                                     <div class="form-group1 m-form__group">
                                          <label for="exampleInputEmail1">Project</label>
                                          <div></div>
                                          <select class="custom-select form-control " formControlName="project_id" (change) = "getBankList()"
                                           [(ngModel)]="uploadData.project_id" name="project" [ngClass]="{ 'is-invalid': submitted && uploadData.project_id == null || uploadData.project_id == ''}" >
      
                                            <!-- <option value="MOF">MOF</option> -->
      
                                            <option *ngFor="let project of dropdownValue " [ngValue]="project.project_id">
                                              {{project.project_id}}
                                            </option>
                                            <!-- <option value="2">two</option>
                                            <option value="3">three</option> -->
                                          </select>
                                        </div>
                                    <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Bank Code </label>
                                      <div></div>
                                      <select class="custom-select form-control" [(ngModel)]="uploadData.bank_id"  [ngModelOptions]="{standalone: true}" (change) = "getFeederRegionList()"
                                      name="bank_id"
                                        [ngClass]="{ 'is-invalid': submitted && uploadData.bank_id == null || uploadData.bank_id == '' }">
                                      <!-- <option value="BOMH">BOMH</option> -->
      
                                      <option *ngFor="let bank of bankDropDown" [ngValue]="bank.bank_id"  >
                                          {{bank?.bank_id}}
                                        </option>
      
      
                                      </select>
      
                                    </div>
      
                                    <div class="form-group1 m-form__group">
                                      <label for="region">Region</label>
                                      <div></div>
                                      <select class="custom-select form-control "  [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="uploadData.region" name="region" [ngClass]="{ 'is-invalid': submitted && uploadData.region == null || uploadData.region == '' }" >
      
                                        <!-- <option value="MOF">MOF</option> -->
      
                                        <option *ngFor="let region of feederRegionDropDown " [ngValue]="region.region">
                                          {{region.region}}
                                        </option>
                                        <!-- <option value="2">two</option>
                                        <option value="3">three</option> -->
                                      </select>
                                    </div>
      
                                    <div class="form-group1 m-form__group">
                                      <label for="time">Time</label>
                                      <input class="form-control" formControlName = "time" type="time"  name="time"/>
                                    </div>
      
                                    <div class="form-group1 m-form__group">
      
                                      <label for="date">Date</label>
      
                                      <input type="text" formControlName="date"
                                             placeholder="Select date"
                                             name="date"
                                             placement="top"
                                             class="form-control"
                                             bsDatepicker>
      
                                    </div>
      
      
                                    <div class="form-group m-form__group">
                                      <label for="exampleInputEmail1">Select File </label>
                                      <div></div>
                                      <div class="custom-file">
                                        <input type="file"   name="file"  class="custom-file-input"
                                        (change)="onFileChanged($event)" #fileInput  [ngClass]="{ 'is-invalid': submitted && !uploadData.file }">
                                        <label class="custom-file-label"  (click)="fileInput.click()">
                                         <span *ngIf="!uploadData?.file?.name">Choose file </span>
                                          <span *ngIf="fileName != ''">{{fileName}}</span>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </form>
      
      
      
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" [disabled]="!uploadData.file"  name="submit" (click)="uploadDatafn()">Submit</button>
                              </div>
      
                            </div>
                          </div>
                        </div>
      
                      </div>
                    </div>
                  </div>
      
                  <!-- END: Subheader -->
                  <!-- END: Subheader -->
                  <div class="m-content">
                    <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
                        <div class="m-alert__icon">
                          <i class="flaticon-danger"></i>
                        </div>
                        <div class="m-alert__text">
                          <span><strong>{{alert.type}}!</strong></span> {{alert.text}}
      
                        </div>
                        <div class="m-alert__actions" style="width: 220px;">
                          <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
                          </button>
                        </div>
                    </div>
                    <!--begin::Portlet-->
      
                    <!--end::Portlet-->
                    <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
                      <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                          <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">All Data</h3>
                          </div>
                        </div>
                        <div class="m-portlet__head-tools">
                          <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item" >
                              <a href="#" data-toggle="modal" data-target="#modalfilter"
                              class="filters btn m-btn m-btn--icon m-btn--icon-only m-portlet__nav-link m-portlet__nav-link--icon" [ngClass]="{'btn-primary': filtersForAllView.bank_name || filtersForAllView.feeder_branch}">
                                <i class="la la-filter"></i>
                              </a>
                              <div class="modal fade" data-backdrop="static" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter Records</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <!-- filter form for view all data -->
                                      <form class="m-form m-form--fit m-form--label-align-right" >
                                        <div class="m-portlet__body">
                                          <div class="form-group1 m-form__group">
                                            <label for="exampleInputEmail1">Atm Id</label>
                                            <input class="form-control" type="text" [(ngModel)]="filtersForAllView.atm_id" [ngModelOptions]="{standalone: true}" name="atmId"/>
																					</div>
																					<div class="form-group1 m-form__group">
                                            <label for="exampleInputEmail1">Bank</label>
                                            <div></div>
      
                                            <select class="form-control p-0" [(ngModel)]="filtersForAllView.bank_name" [ngModelOptions]="{standalone: true}">

                                               <option *ngFor="let bank of bankFilterDropDown" [ngValue]="bank.bank_id" >
                                                {{bank.bank_id}}
                                              </option>
                                             <!-- <option *ngFor="let bank of filtersForAllView.bank" [value]="bank">{{bank}}</option> -->
                                            </select>
                                          </div>
																					<div class="form-group1 m-form__group">
	                                           <label for="projectFilter">Project</label>
	                                           <div></div>
	                                           <select class="custom-select form-control" id="projectFilter"
	                                            [(ngModel)]="filtersForAllView.project_id" [ngModelOptions]="{standalone: true}" >

      
	                                             <option *ngFor="let project of dropdownValue " [ngValue]="project.project_id">
	                                               {{project.project_id}}
                                              </option>
                                              </select>
                                            </div>
																					<div class="form-group1 m-form__group">
			                                      <label for="date">Upload Date Range</label>
																						<input type="text"
																	           placeholder="Select a date range..."
																	           class="form-control"
																						 [(ngModel)]="date_range" placement="top" [ngModelOptions]="{standalone: true}"
																	           bsDaterangepicker>
                                          </div>
																					<div class="form-group1 m-form__group">
	                                           <label for="projectFilter">Record Status</label>
	                                           <div></div>
	                                           <select class="custom-select form-control" id="statusFilter"
	                                            [(ngModel)]="filtersForAllView.record_status" [ngModelOptions]="{standalone: true}" >
	                                             <option *ngFor="let stat of statusList " [ngValue]="stat">
	                                               {{stat}}
	                                             </option>
	                                           </select>
	                                        </div>
                                        </div>
                                      </form>
                                      <!-- filter form for view all data -->
      
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																			<button type="button" class="btn btn-primary" (click)="resetFilter()" data-dismiss="modal">Reset</button>
                                      <button type="button" class="btn btn-primary" (click)="updateViewAll()">Submit</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="modal fade" id="editrecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-edit"></i> Edit Record</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="300">
                                        <form class="m-form m-form--fit m-form--label-align-right">
                                          <div class="m-portlet__body">
                                            <div class="form-group m-form__group">
                                              <label for="exampleInputEmail1">ATM ID</label>
                                              <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="">
                                            </div>
                                            <div class="form-group m-form__group">
                                              <label for="exampleSelect1">Bank</label>
                                              <select class="form-control m-input m-input--square" id="exampleSelect1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                            </div>
                                            <div class="form-group m-form__group">
                                              <label for="exampleSelect1">Feeder Branch</label>
                                              <select class="form-control m-input m-input--square" id="exampleSelect1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                            </div>
                                            <div class="form-group m-form__group">
                                              <label for="exampleInputEmail1">CRA</label>
                                              <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="">
                                            </div>
                                            <div class="form-group m-form__group">
                                              <label for="exampleInputEmail1">Bank Email</label>
                                              <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="">
                                            </div>
                                            <div class="form-group m-form__group">
                                              <label for="exampleInputEmail1">CRA Custodian</label>
                                              <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="">
                                            </div>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Submit</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="m-portlet__nav-item">
                              <a m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-angle-down"></i>
                              </a>
                            </li>
                            <li class="m-portlet__nav-item">
                              <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-expand"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="m-portlet__body">
                        <!--begin: Search Form -->
                        <div class="m-form m-form--label-align-right m--margin-bottom-30">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input" (keyup)='viewSearch($event)' placeholder="Search..." id="generalSearch" >
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                  <span>
                                    <i class="la la-search"></i>
                                  </span>
                                </span>
                              </div>
                            </div>
                            <div class="col-lg-8 m--align-right">
      
                        <div class="dropdown m-dropdown--inline">
                          <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Action </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <app-excel-export-component [data]="rows" [colConfig]="viewColumnAll" [fileName]="fileType" ></app-excel-export-component>
                          </div>
                        </div>
                <!--  select column in viewallData -->
      
                <app-multiselect [col]="viewColumnAll"></app-multiselect>
      
                            </div>
                          </div>
                        </div>
      
                        <ngx-datatable   #mydatatable
                        class="material"
                        [headerHeight]="45"
                        [columnMode]="'force'"
                        [footerHeight]="100"
                        [rowHeight]="'50'"
                        [rows]="rows"
                        [scrollbarH]="true"
                        [externalPaging]="true"
                        [virtualization]="false"
                        [count]="page.totalElements"
                        [offset]="page.pageNumber"
                        [limit]="page.size"
                        (page)='setPage($event)'
                        >
                           <ng-container *ngFor="let viewCol of viewColumnAll">
      
                            <ngx-datatable-column
      
                            name="{{viewCol.name}}"
                         prop="{{viewCol.prop}}"
                         *ngIf="viewCol.selected" >
                          <ng-template ngx-datatable-cell-template let-value="value" >
                            <span *ngIf="viewCol.datatype != 'date'">{{value}}</span>
														<span *ngIf="viewCol.datatype == 'date'">{{value | date:'dd-MM-yyyy'}}</span>
                          </ng-template>
                        </ngx-datatable-column>
                          </ng-container>
                          <ngx-datatable-footer>
                            <ng-template
                              ngx-datatable-footer-template
                              let-rowCount="rowCount"
                              let-pageSize="pageSize"
                              let-selectedCount="selectedCount"
                              let-curPage="curPage"
                              let-offset="offset">
                              <!-- <div style="padding: 5px 10px">
                                <hr style="width:100%" />
                                <div>
                                  Rows: {{rowCount}} |
                                  Size: {{pageSize}} |
                                  Current: {{curPage}} |
                                  Offset: {{offset}}
                                  selectedCount : {{selectedCount}}
      
                                </div>
                              </div> -->
                <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                                <ul class="m-datatable__pager-nav">
      
                                <li  (click)="setPage({ 'offset': 0 })"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1"><i class="la la-angle-double-left"></i></a></li>
      
                                <li (click)="setPage({ 'offset': offset-1 })">
                                  <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i class="la la-angle-left"></i></a>
      
                                <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="setPage({ 'offset': offset-1 })" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                                  title="{{curPage-1}}">{{curPage-1}} </a></li>
      
                                <li (click)="setPage({ 'offset': offset })"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a></li>
      
                                <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="setPage({ 'offset': offset+1 })" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                               title="{{curPage+1}}">{{curPage+1}} </a></li>
      
                                <li (click)="setPage({ 'offset': offset+1 })"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                                <i class="la la-angle-right"></i></a>
                              </li>
      
                                <li (click)="setPage({ 'offset': calculateTotalPage(rowCount,pageSize)-1})"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" ><i class="la la-angle-double-right"></i></a></li>
                              </ul>
      
      
                              <div class="m-datatable__pager-info">
      
                                <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">
      
                                <select class="  custom-pagination-select" [(ngModel)]="page.size" title="Select page size" (change)="setPage({ 'offset': 0})">
                                  <option *ngFor = "let x of pagesizeList" [ngValue]="x">{{x}}</option>
                                </select>
      
      
                                </div>
                                  <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                                    {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records
                                  </span>
                              </div>
                            </div>
                                  </div>
                            </ng-template>
                          </ngx-datatable-footer>
      
      
                      </ngx-datatable>
                      </div>
                    </div>
                  </div>
                </div>
      
      
               <!-- <ng-template #previewModal class="modal-lg  preview-modal">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Preview</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row m-0">
                        <div class="m-input-icon m-input-icon--left col-12">
                            <input type="text" class="form-control m-input" placeholder="Search..."
                             [(ngModel)]="previewFilter"   (keyup)='previewSearch($event)'
                             >
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <i class="la la-search"></i>
                              </span>
                            </span>
                          </div>
      
                    </div>
      
                    <div class="table">
      
                    <ngx-datatable   #previewData
                        class="material"
                        [headerHeight]="50"
      
                        [columnMode]="'force'"
                        [footerHeight]="75"
                        [rowHeight]="'60'"
                        [rows]="previewRows"
                        [scrollbarH]="true"
                        [externalPaging]="true"
                        [count]="previewPage.totalElements"
                        [offset]="previewPage.pageNumber"
                        [limit]="previewPage.size"
                        (page)='setPreviewPage($event)'
                        >
      
      
      
                    <ng-container *ngFor="let col of previewColList">
                      <ngx-datatable-column name="{{col.display_column_name}}" prop="{{col.table_column}}">
      
                        <ng-template ngx-datatable-cell-template let-value="value" >
                          <span *ngIf='!isEdit[rowIndex] && col.datatype=="string"'> {{value}}</span>
      
                          <span *ngIf='!isEdit[rowIndex] && col.datatype=="date"'> {{value | date: 'dd-mm-yyyy HH:mm'}} </span>
                        </ng-template>
      
                      </ngx-datatable-column>
                    </ng-container>
                    <ngx-datatable-footer>
                        <ng-template
                          ngx-datatable-footer-template
                          let-rowCount="rowCount"
                          let-pageSize="pageSize"
                          let-selectedCount="selectedCount"
                          let-curPage="curPage"
                          let-offset="offset">
                           <div style="padding: 5px 10px">
                            <hr style="width:100%" />
                            <div>
                              Rows: {{rowCount}} |
                              Size: {{pageSize}} |
                              Current: {{curPage}} |
                              Offset: {{offset}}
                              selectedCount : {{selectedCount}}
      
                            </div>
                          </div>
                <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                            <ul class="m-datatable__pager-nav">
      
                            <li  (click)="setPreviewPage({ 'offset': 0 })"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1"><i class="la la-angle-double-left"></i></a></li>
      
                            <li (click)="setPreviewPage({ 'offset': offset-1 })">
                              <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i class="la la-angle-left"></i></a>
      
                            <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)"
                             (click)="setPreviewPage({ 'offset': offset-1 })" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                              title="{{curPage-1}}">{{curPage-1}} </a></li>
      
                            <li (click)="setPreviewPage({ 'offset': offset })"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a></li>
      
                            <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="setPage({ 'offset': offset+1 })" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                           title="{{curPage+1}}">{{curPage+1}} </a></li>
      
                            <li (click)="setPreviewPage({ 'offset': offset+1 })"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                            <i class="la la-angle-right"></i></a>
                          </li>
      
                            <li (click)="setPreviewPage({ 'offset': calculateTotalPage(rowCount,pageSize)-1})"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" ><i class="la la-angle-double-right"></i></a></li>
                          </ul>
      
      
                          <div class="m-datatable__pager-info">
      
                            <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">
      
                            <select class="  custom-pagination-select"
                            [(ngModel)]="previewPage.size" title="Select page size" (change)="setPreviewPage({ 'offset': 0})">
      
                              <option value="10">10</option><option value="20">20</option>
                              <option value="30">30</option><option value="50">50</option>
                            </select>
      
      
                            </div>
                              <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                                {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span></div></div>
                              </div>
                        </ng-template>
                      </ngx-datatable-footer>
                  </ngx-datatable>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modalRef.hide();approvePreviewFn('Rejected')">Reject</button>
                    <button type="button" class="btn btn-primary"  name="submit" (click)="approvePreviewFn('Approved')">Approve</button>
                  </div>
                </ng-template>-->
              </div>
      
          </div>
      <app-footer></app-footer>
        </div>
      
      
      
      
      
      
      <!-- begin::Quick Sidebar -->
      <app-quick-sidebar></app-quick-sidebar>
      
      <!-- end::Quick Sidebar -->
      
      
        <!-- begin::Scroll Top -->
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
          </div>
      
          <!-- end::Scroll Top -->
            <!-- begin::Quick Nav -->
      
          <!-- begin::Quick Nav -->
      