.custom-multiselect{
    display: inline-block;
    width:200px;
    position: relative;
    cursor: pointer;    
    margin-left:10px;
     .select{
         background: #c4c5d6;
         color: white;
         padding: 10px;
         border-radius: 5px;
         text-align: left;
        
     }
     .selectedColor{
        background: #716aca;

     }
     ul{
         list-style: none;
         padding: 5px;
         height: 250px;
         overflow-y: scroll;
         text-align: left;
         position: absolute;
         z-index: 5;
         background: white;
         width: 100%;
         left: 0;
         padding-bottom: 10px;
         li{
             // padding:5px;
             padding: 10px 15px;
     color: #3f4047;
     font-family: sans-serif, Arial;
         }
     }
 
     .caret{
         float: right;
     }
 }