<div class="custom-multiselect align-right">
    <div class="select selectedColor">
      Select Comlumn
      <span class="caret">
        <i class="fas fa-chevron-down" *ngIf="!openselect"></i>
        <i class="fas fa-chevron-up" *ngIf="openselect"></i>
       </span>
    </div>
    <div class="select-dropdown" *ngIf="openselect">
      <ul class="no-action">
        <li (click)="selectAll(viewColumnAll)">Select All
            <span class="caret">
                <i class="fas fa-check" *ngIf="isAllSelected(viewColumnAll)" ></i>
               </span>
        </li>
        <li *ngFor="let allcol of viewColumnAll" (click)="allcol.selected=!allcol.selected">
          {{allcol.name}}
          <span class="caret">
              <i class="fas fa-check" *ngIf="allcol.selected" ></i>
             </span>
        </li>
      </ul>

    </div>

  </div>
