<div id="container">
    <center>
        <img src='{{static img/logo.png}}'/>
        <h6>ATM CASH REPLENISHMENT REQUEST FORM</h6>
        <br>
    </center>
</div>

<div class="container">
    <div class="row" style="display:flex;">
        <div class="col-6" style="float:left;flex:50%;">
            <div class="row" style="display:flex;">
                <div class="col-6" style="float:left;flex:50%;">
                    <p>Order Number:</p>
                    <p>Order Date:</p>
                    <p>Collection Date:</p>
                    <p>Replenishment Date:</p>
                </div>
                <div class="col-6" style="float:left;flex:50%;">
                    <p>{{indent_order_number}}</p>
                    <p>{{indent_order_date}}</p>
                    <p>{{collection_date}}</p>
                    <p>{{replenishment_date}}</p>
                </div>
            </div>
        </div>

        <div class="col-6" style="float:left;flex:50%;">
            <div class="row" style="display:flex;">
                <div class="col-6" style="float:left;flex:50%;">
                    <p>Cypher Code:</p>
                    <p>Bank:</p>
                    <p>Feeder Branch:</p>
                    <p>Cra:</p>
                </div>
                <div class="col-6" style="float:left;flex:50%;">
                    <p>{{cypher_code}}</p>
                    <p>{{bank_id}}</p>
                    <p>{{feeder_branch}}</p>
                    <p>{{cra}}</p>
                </div>
            </div>
        </div>
    </div>
</div>