<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--<title>{{ title }}</title>-->
</head>
<body>
    {{body}}
</body>
</html>