<head>
    <link rel="stylesheet" href='{{header_vars.base_dir}}/static/css/bootstrap.min.css'>
    <style>
        div.page
        {
            page-break-after: always !important;
            page-break-inside: avoid !important;
        }
        .header{
            font-size:12px;
        }
        .footer{
            font-size:10px;
        }
        .body{
            page-break-after: always !important;
            border: 1px solid #000;
            font-size:12px;
            padding:5px;
            margin:5px;
        }
        p{
            padding:0px;
            margin:0px;
        }
        .table-bordered td, .table-bordered th,.table thead th{
            border: 1px solid #000;
            padding:5px;
            margin:5px;
        }
        h6{
            padding:5px;
            margin:5px;
        }
       .body:last-child{
           page-break-after: avoid !important;
       }
    </style>
</head>
<div class="body">
    <div class="container">
        <div class="row" style="display:flex;">
            <div style="float:left;flex:70%;padding-left:15px;padding-right:15px;">
                <div class="row" style="display:flex;">
                    <div  style="float:left;flex:30%;padding-left:15px;padding-right:15px;">
                        <img src='{{header_vars.base_dir}}/static/img/logo.png' style="float:left;"/>
                    </div>
                    <div  style="float:left;flex:40%;padding-left:15px;padding-right:15px;">
                        <h6 align="center">ATM CASH REPLENISHMENT REQUEST FORM</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row header" style="display:flex;">
            <div style="float:left;flex:70%;padding-left:15px;padding-right:15px;">
                <div class="row" style="display:flex;">
                    <div  style="float:left;flex:30%;padding-left:15px;padding-right:15px;">
                        <br>
                        <p>EPS REF ID:</p>
                        <p>Order Number:</p>
                        <p>Order Date:</p>
                        <p>Collection Date:</p>
                        <p>Replenishment Date:</p>
                    </div>
                    <div  style="float:left;flex:70%;padding-left:15px;padding-right:15px;">
                        <br>
                        <p>{{header_vars.indent_short_code}}</p>
                        <p>{{header_vars.indent_order_number}}</p>
                        <p>{{header_vars.order_date}}</p>
                        <p>{{header_vars.collection_date}}</p>
                        <p>{{header_vars.replenishment_date}}</p>
                    </div>
                </div>
            </div>

            <div style="float:right;flex:30%;padding-left:15px;padding-right:15px;">
                <div class="row" style="display:flex;">
                    <div style="float:left;flex:50%;padding-left:15px;padding-right:15px;">
                        <br>
                        <p>Cypher Code:</p>
                        <p>Bank:</p>
                        <p>Feeder Branch:</p>
                        <p>CRA:</p>
                        <p></p>
                    </div>
                    <div style="float:left;flex:50%;padding-left:15px;padding-right:15px;">
                        <br>
                        <p>{{header_vars.cypher_code}}</p>
                        <p>{{header_vars.bank}}</p>
                        <p>{{header_vars.feeder_branch}}</p>
                        <p>{{header_vars.cra}}</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display:flex;">
            <table class="table table-bordered" style="flex:100%;border-color:#ccc;font-size:12px;margin-bottom:10px;">
                <thead style="text-align:center;background-color:#eeece1;color:#000;">
                    <tr>
                        <th rowspan="2">Sr.No.</th>
                        <th rowspan="2" >ATM ID</th>
                        {% if header_vars.bank == 'CAB' %}
                            <th rowspan="2" >GL Ac/No.</th>
                        {% endif %}
                        <th rowspan="2" >ATM Location</th>
                        <th rowspan="2" >Purpose</th>
                        <th colspan="4" >Load Amount</th>
                        <th rowspan="2" >Total</th>
                    </tr>
                    <tr>
                        <th >100</th>
                        <th >200</th>
                        <th >500</th>
                        <th >2000</th>
                    </tr>
                </thead>
                <tbody>

                    {% for data in body_vars %}
                    <tr>
                        <td align="center">{{ data.sr_no }}</td>
                        <td>{{data.atm_id}}</td>
                        {% if header_vars.bank == 'CAB' %}
                            <td>{{data.general_ledger_account_number}}</td>
                        {% endif %}
                        <td>{{data.location}}</td>
                        <td>{{data.purpose}}</td>
                        <td align="right">{{data.loading_amount_100}}</td>
                        <td align="right">{{data.loading_amount_200}}</td>
                        <td align="right">{{data.loading_amount_500}}</td>
                        <td align="right">{{data.loading_amount_2000}}</td>
                        <td align="right">{{data.total}}</td>
                    </tr>
                    {% endfor %}

                    {% if 'carry_forward' in carry_forward %}
                        <tr>
                            <td colspan="4"  style="background-color:#eeece1;color:#000;">{{ carry_forward.carry_forward }}</td>
                            <td align="right">{{carry_forward.load_100_page_total}}</td>
                            <td align="right">{{carry_forward.load_200_page_total}}</td>
                            <td align="right">{{carry_forward.load_500_page_total}}</td>
                            <td align="right">{{carry_forward.load_2000_page_total}}</td>
                            <td align="right">{{carry_forward.load_total}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="background-color:#eeece1;color:#000;"> </td>
                            <td align="right">0</td>
                            <td align="right">0</td>
                            <td align="right">0</td>
                            <td align="right">0</td>
                            <td align="right">0</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="background-color:#eeece1;color:#000;"> </td>
                            <td align="right">0</td>
                            <td align="right">0</td>
                            <td align="right">0</td>
                            <td align="right">0</td>
                            <td align="right">0</td>
                        </tr>
                        <tr>
                            <td style="background-color:#eeece1;color:#000;">Amount in words</td>
                            <td colspan="9">Rs. {{carry_forward.amount_in_words}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4"  style="background-color:#eeece1;color:#000;">Total Amount for Today's Loading</td>
                            <td align="right">{{carry_forward.total_atm_loading_amount_100}}</td>
                            <td align="right">{{carry_forward.total_atm_loading_amount_200}}</td>
                            <td align="right">{{carry_forward.total_atm_loading_amount_500}}</td>
                            <td align="right">{{carry_forward.total_atm_loading_amount_2000}}</td>
                            <td align="right">{{carry_forward.total_atm_loading_amount}}</td>
                        </tr>
                        <tr>
                            <td colspan="4"  style="background-color:#eeece1;color:#000;"> CRA Vault Opening Balance</td>
                            <td align="right">{{carry_forward.cra_opening_vault_balance_100}}</td>
                            <td align="right">{{carry_forward.cra_opening_vault_balance_200}}</td>
                            <td align="right">{{carry_forward.cra_opening_vault_balance_500}}</td>
                            <td align="right">{{carry_forward.cra_opening_vault_balance_2000}}</td>
                            <td align="right">{{carry_forward.cra_opening_vault_balance}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="background-color:#eeece1;color:#000;"> Total Amount to be withdrawn from Bank</td>
                            <td align="right">{{carry_forward.total_bank_withdrawal_amount_100}}</td>
                            <td align="right">{{carry_forward.total_bank_withdrawal_amount_200}}</td>
                            <td align="right">{{carry_forward.total_bank_withdrawal_amount_500}}</td>
                            <td align="right">{{carry_forward.total_bank_withdrawal_amount_2000}}</td>
                            <td align="right">{{carry_forward.total_bank_withdrawal_amount}}</td>
                        </tr>
                        {% if header_vars.bank == 'SBI' %}
                        <tr>
                            <td colspan="4" style="background-color:#eeece1;color:#000;"> Closing Balance in CRA Vault after Todays Loading</td>
                            <td align="right">{{carry_forward.closing_vault_balance_100}}</td>
                            <td align="right">{{carry_forward.closing_vault_balance_200}}</td>
                            <td align="right">{{carry_forward.closing_vault_balance_500}}</td>
                            <td align="right">{{carry_forward.closing_vault_balance_2000}}</td>
                            <td align="right">{{carry_forward.total_closing_vault_balance}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td style="background-color:#eeece1;color:#000;">Amount in words</td>
                            <td colspan="9">Rs. {{carry_forward.amount_in_words}}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="row" style="display:flex;flex-wrap: wrap;">
            <center>
                <div class="col-6" style="float:left;flex:50%;"></div>
                <div class="col-3" style="float:left;flex:25%;">
                    <br>
                    <p>Authorized By</p>
                    <img src='data:image/png;base64,{{ footer_vars.signature_authorized_by_1_auth_signatories_signatures_id }}' style="width:100px;height:50px;"/>
                    <p>({{ footer_vars.authorized_by_1 }})</p>
                </div>
                <div class="col-3" style="float:left;flex:25%;">
                    <br>
                    <p>Authorized By</p>
                    <img src='data:image/png;base64,{{ footer_vars.signature_authorized_by_2_auth_signatories_signatures_id }}' style="width:100px;height:50px;" />
                    <p>({{ footer_vars.authorized_by_2 }})</p>
                </div>
            </center>
        </div>
        <div class="row" style="display:flex;flex-wrap: wrap;">
            <div style="float:left;flex:70%;padding-left:15px;padding-right:15px;">
                <p>Note:</p>
                <ol>
                    <li><b>Order Date:-</b> Means the date on which cash indent was generated.</li>
                    <li><b>Collection Date:-</b> Means the date carrier will collect cash from the bank.</li>
                    <li><b>Replenishment Date:-</b> Means the date carrier will replenish cash for the corresponding ATM.</li>
                    <li><b>EPS REF ID:-</b> Means EPS reference number which is captured in the form for internal tracking only.</li>
                </ol>
            </div>
            <div style="float:right;flex:30%;padding-left:15px;padding-right:15px;margin-top:90px;">
                <div class="row" style="display:flex;">
                    <div  style="float:left;">
                        <p style="font-size:12px;">Powered By&nbsp;</p>
                    </div>
                    <div style="float:right;">
                        <img src="{{header_vars.base_dir}}/static/img/epstar.png" width="110%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>