<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">

      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Project List</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
              <li class="m-nav__item m-nav__item--home">
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
                </a>
              </li>
              <li class="m-nav__separator">-</li>
              <li class="m-nav__item">
                <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">Project List</span>
                </a>
              </li>
            </ul>
          </div>
          <div>
          </div>
        </div>
      </div>

      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
          <div class="m-alert__icon">
            <i class="flaticon-danger"></i>
          </div>
          <div class="m-alert__text">
            <strong>{{alert.type}}!</strong> {{alert.text}}
          </div>
          <div class="m-alert__actions" style="width: 220px;">
            <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false"
              aria-label="Close">Close
            </button>
          </div>
        </div>
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tabs" id="m_portlet_tools_1">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
               Project List
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="tab-content">
              <div class="tab-pane active" id="m_portlet_tab_1_1">
                <form class=" m-form m-form--fit m-form--label-align-right" name="add">
                  <div class="row">
                    <div class="col-11">
                      <form class="m-form m-form--fit m-form--label-align-right" name="upload">
                        <div class="row" *ngFor="let add of addField ; let i = index" >
                          <div class="form-group1 m-form__group col-5">
                            <label for="group_list">Project List</label>
                            <div></div>
                            <input type="text" name="project_id_{{i}}"  [(ngModel)]="addField[i].project_id" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-2">
                              <button class="btn add-more btn-sm mr-2 mt-4"  *ngIf = "addField.length-1 == i " type="button" (click)="AddFiled()">+</button>
                              <button class="btn add-more btn-sm mt-4"  *ngIf = "addField.length != 1" type="button" (click)="RemoveFiled(i)">-</button>
                          </div>
                        </div>
                      </form>
                      <div class="text-center">
                          <button type="button" class="btn btn-primary ml-2" (click)="InsertDatafn()">Submit</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!--Start of  View for All Data -->
        <div class="m-portlet m-portlet--mobile" id="project">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">All Data</h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <a href="#" data-toggle="modal" data-target="#modalfilter" class="m-portlet__nav-link m-portlet__nav-link--icon filters">
                    <i class="la la-filter"></i>
                  </a>
                </li>
                <li class="m-portlet__nav-item">
                  <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-angle-down"></i>
                  </a>
                </li>
                <li class="m-portlet__nav-item">
                  <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                    <i class="la la-expand"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
              <div class="row">
                <div class="col-lg-4">
                  <div class="m-input-icon m-input-icon--left">
                    <input type="text" class="form-control m-input" (keyup)='viewSearch($event)' placeholder="Search..."
                      id="generalSearch">
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                      <span>
                        <i class="la la-search"></i>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-lg-8 m--align-right">
                    <button  class="btn btn-brand submit-btn" (click)="SubmitEdit()" type="button">
                        <span>Submit</span>
                 </button>
                <div class="dropdown m-dropdown--inline">
                  <button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Action </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    <!-- <a class="dropdown-item m--font-danger deleteselected" href="">
                      <i class="fa fa-trash m--font-danger"></i> Delete Selected</a> -->
                      <a class="dropdown-item m--font-primary" (click)="onMultipleEdit()">
                        <i class="la la-edit"></i> Edit Selected</a>
                  </div>
                </div>
                  <!--  select column in viewallData -->
                  <app-multiselect [col]="viewColumnAll"></app-multiselect>
                  <!--   select column  in viewallData -->
                </div>
              </div>
            </div>


            <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="m_datatable" id="local_data"></div>
                </div>
              </div>
              <ngx-datatable #viewDataModal class="material"
              [headerHeight]="45"
              [columnMode]="'force'"
              [rowHeight]="'50'"
              [rows]="rows"
              [scrollbarH]="true"
              [selected]="selected"
              [selectionType]="'checkbox'"
              [selectAllRowsOnPage]="false"

              (select)='onSelect($event)'
                >

                <ngx-datatable-column
                name = "Id"
                prop = "id"
                [width]="42"
                [sortable]="false"

                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                [headerCheckboxable]="true"
                [checkboxable]="true">

                <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">

                </ng-template>

              </ngx-datatable-column>

            <ng-container *ngFor="let col of colList">
              <ngx-datatable-column
              name="{{col.name}}"
              prop="{{col.prop}}"
             >
                <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
    <input *ngIf="isEdit[rowIndex] && !isMultiEdit" type="text" [(ngModel)]='isEdit[col.prop]' >

     <input *ngIf=" isEdit[rowIndex] && isMultiEdit" type="text" [(ngModel)]='rows[rowIndex][col.prop]' >


                  <span *ngIf='!isEdit[rowIndex]'> {{value}}</span>

                </ng-template>
               </ngx-datatable-column>

            </ng-container>
            <ngx-datatable-column name="Action" *ngIf="!isMultiEdit">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                    <a  *ngIf='!isEdit[rowIndex]' (click)="viewEdit(rowIndex,row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit ">
                          <i class="la la-edit"></i>
                        </a>
                        <a *ngIf='isEdit[rowIndex]' (click)="SubmitEdit(rowIndex,row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit ">
                            <i class="la">submit</i>
                          </a>
                </ng-template>
              </ngx-datatable-column>

              </ngx-datatable>

            </div>
          </div>
        </div>
        <!-- End of View for All Data -->

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
  <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->

<!-- begin::Quick Nav -->
