select.form-control:not([size]):not([multiple]){
	height: calc(2.80rem + 2px);
}


.btn.btn-primary.active, .btn.btn-primary.focus, .btn.btn-primary:focus, .btn.btn-primary:hover:not(:disabled){
	color: #000 !important;
}
.btn.btn-primary{
	color: #fff !important;
}
.input-group-text{
	padding: 0rem 1.15rem
}