<!--The content below is only a placeholder and can be replaced.-->
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
  <!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
  <!-- END: Header -->
  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <!-- BEGIN: Aside Menu -->
    <app-side-menu></app-side-menu>
    <!-- END: Aside Menu -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">

  <!-- BEGIN: Subheader -->
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">System Settings</h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">-</li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">System Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- END: Subheader -->
  <!-- END: Subheader -->
  <div class="m-content">
    <div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
      <div class="m-alert__icon">
        <i class="flaticon-danger"></i>
      </div>
      <div class="m-alert__text">
        <strong>{{alert.type}}!</strong> {{alert.text}}
      </div>
      <div class="m-alert__actions" style="width: 220px;">
        <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false"
          aria-label="Close">Close
        </button>
      </div>
    </div>
    <!--begin::Portlet-->

    <!--end::Portlet-->
    <div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile" id="main_portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-progress">

          <!-- here can place a progress bar-->
        </div>
        <div class="m-portlet__head-wrapper">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon">
                <i class="flaticon-edit"></i>
              </span>
              <h3 class="m-portlet__head-text">
                System Settings
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">

        <!--begin: Datatable -->
        <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <form class="m-form m-form--fit m-form--label-align-right" name="settingForm">
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Confidence Factor</label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="input-group">
                      <input type="text" name="confidence_factor" class="form-control m-input" placeholder="" aria-describedby="basic-addon2" [(ngModel)]="data.confidence_factor" >
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Buffer</label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="input-group">
                      <input type="text"  class="form-control m-input" name="buffer_percentage" placeholder="" aria-describedby="basic-addon2" [(ngModel)]="data.buffer_percentage" [ngModelOptions]="{standalone: true}">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Denomination wise round off</label>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table m-table table-bordered">
                      <thead class="thead-inverse">
                        <tr>
                          <th>100</th>
                          <th>200</th>
                          <th>500</th>
                          <th>2000</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type="text" class="form-control form-control-sm m-input" name="denomination_wise_round_off_100" id="denomination_wise_round_off_100" aria-describedby="denomination_wise_round_off_100" placeholder="" [(ngModel)]="data.denomination_wise_round_off_100"></td>
                          <td><input type="text" class="form-control form-control-sm m-input" name="denomination_wise_round_off_200" id="denomination_wise_round_off_200" aria-describedby="denomination_wise_round_off_200" placeholder="" [(ngModel)]="data.denomination_wise_round_off_200"></td>
                          <td><input type="text" class="form-control form-control-sm m-input" name="denomination_wise_round_off_500" id="denomination_wise_round_off_500" aria-describedby="denomination_wise_round_off_500" placeholder="" [(ngModel)]="data.denomination_wise_round_off_500"></td>
                          <td><input type="text" class="form-control form-control-sm m-input" name="denomination_wise_round_off_2000" id="denomination_wise_round_off_2000" aria-describedby="denomination_wise_round_off_2000" placeholder="" [(ngModel)]="data.denomination_wise_round_off_2000"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Fix Loading Amount</label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="input-group">
                      <input type="text" name="fixed_loading_amount" class="form-control m-input" placeholder="" aria-describedby="basic-addon2" [(ngModel)]="data.fixed_loading_amount">
                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Default Average Dispense</label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="input-group">
                      <input type="text" name="default_average_dispense" class="form-control m-input" placeholder="" aria-describedby="basic-addon2" [(ngModel)]="data.default_average_dispense">
                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Vaulting Normal Weekday Percentage</label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="input-group">
                      <input type="text" name="vaulting_for_normal_weekday_percentage" class="form-control m-input" placeholder="" aria-describedby="basic-addon2" [(ngModel)]="data.vaulting_for_normal_weekday_percentage">
                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Vaulting Normal Weekend Percentage</label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="input-group">
                      <input type="text" name="vaulting_for_normal_weekend_percentage" class="form-control m-input" placeholder="" aria-describedby="basic-addon2" [(ngModel)]="data.vaulting_for_normal_weekend_percentage">
                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Vaulting Extended Weekend Percentage</label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="input-group">
                      <input type="text" name="vaulting_for_extended_weekend_percentage" class="form-control m-input" placeholder="" aria-describedby="basic-addon2" [(ngModel)]="data.vaulting_for_extended_weekend_percentage">
                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Dispense Formula</label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="input-group">
                      <div class="m-radio-list">
                        <label class="m-radio">
                          <input type="radio" name="dispenseformula" value="max_of_max" [(ngModel)]="data.dispenseformula"> Max of Max
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" name="dispenseformula" value="avg_of_max" [(ngModel)]="data.dispenseformula"> Avg of Max
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" name="dispenseformula" value="max_of_avg" [(ngModel)]="data.dispenseformula"> Max of Avg
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" name="dispenseformula" value="avg_of_avg" [(ngModel)]="data.dispenseformula"> Avg of Avg
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" name="dispenseformula" value="max_of_secondmax" [(ngModel)]="data.dispenseformula"> Max of Large2
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" name="dispenseformula" value="avg_of_secondmax" [(ngModel)]="data.dispenseformula"> Avg of Large2
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" name="dispenseformula" value="max_of_thirdmax" [(ngModel)]="data.dispenseformula"> Max of Large3
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" name="dispenseformula" value="avg_of_thirdmax" [(ngModel)]="data.dispenseformula"> Avg of Large3
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" name="dispenseformula" value="_28days_or_T2dispense" [(ngModel)]="data.dispenseformula"> Final Dispense.
                          <span></span>
                        </label>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Denomination Max Capacity Percentage </label>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table m-table table-bordered">
                      <thead class="thead-inverse">
                        <tr>
                          <th>100</th>
                          <th>200</th>
                          <th>500</th>
                          <th>2000</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type="text" class="form-control form-control-sm m-input" name="deno_100_max_capacity_percentage" id="deno_100_max_capacity_percentage" aria-describedby="deno_100_max_capacity_percentage" placeholder="" [(ngModel)]="data.deno_100_max_capacity_percentage"></td>
                          <td><input type="text" class="form-control form-control-sm m-input" name="deno_200_max_capacity_percentage" id="deno_200_max_capacity_percentage" aria-describedby="deno_100_max_capacity_percentage" placeholder="" [(ngModel)]="data.deno_200_max_capacity_percentage"></td>
                          <td><input type="text" class="form-control form-control-sm m-input" name="deno_500_max_capacity_percentage" id="deno_500_max_capacity_percentage" aria-describedby="deno_100_max_capacity_percentage" placeholder="" [(ngModel)]="data.deno_500_max_capacity_percentage"></td>
                          <td><input type="text" class="form-control form-control-sm m-input" name="deno_2000_max_capacity_percentage" id="deno_2000_max_capacity_percentage" aria-describedby="deno_100_max_capacity_percentage" placeholder="" [(ngModel)]="data.deno_2000_max_capacity_percentage"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Denomination Priority </label>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table m-table table-bordered">
                      <thead class="thead-inverse">
                        <tr>
                          <th>100</th>
                          <th>200</th>
                          <th>500</th>
                          <th>2000</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type="email" class="form-control form-control-sm m-input" name="deno_100_priority" id="deno_100_priority" aria-describedby="deno_100_priority" placeholder="" [(ngModel)]="data.deno_100_priority"></td>
                          <td><input type="email" class="form-control form-control-sm m-input" name="deno_200_priority" id="deno_200_priority" aria-describedby="deno_200_priority" placeholder="" [(ngModel)]="data.deno_200_priority"></td>
                          <td><input type="email" class="form-control form-control-sm m-input" name="deno_500_priority" id="deno_500_priority" aria-describedby="deno_500_priority" placeholder="" [(ngModel)]="data.deno_500_priority"></td>
                          <td><input type="email" class="form-control form-control-sm m-input" name="deno_2000_priority" id="deno_2000_priority" aria-describedby="deno_2000_priority" placeholder="" [(ngModel)]="data.deno_2000_priority"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Denomination Bill Capacity </label>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table m-table table-bordered">
                      <thead class="thead-inverse">
                        <tr>
                          <th>100</th>
                          <th>200</th>
                          <th>500</th>
                          <th>2000</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type="text" class="form-control form-control-sm m-input" name="deno_100_bill_capacity" id="deno_100_bill_capacity" aria-describedby="deno_100_bill_capacity" placeholder="" [(ngModel)]="data.deno_100_bill_capacity"></td>
                          <td><input type="text" class="form-control form-control-sm m-input" name="deno_200_bill_capacity" id="deno_200_bill_capacity" aria-describedby="deno_200_bill_capacity" placeholder="" [(ngModel)]="data.deno_200_bill_capacity"></td>
                          <td><input type="text" class="form-control form-control-sm m-input" name="deno_500_bill_capacity" id="deno_500_bill_capacity" aria-describedby="deno_500_bill_capacity" placeholder="" [(ngModel)]="data.deno_500_bill_capacity"></td>
                          <td><input type="text" class="form-control form-control-sm m-input" name="deno_2000_bill_capacity" id="deno_2000_bill_capacity" aria-describedby="deno_2000_bill_capacity" placeholder="" [(ngModel)]="data.deno_2000_bill_capacity"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Cash Out Logic</label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="input-group">
                      <input type="text" name="cash_out_logic" class="form-control m-input" placeholder="" aria-describedby="basic-addon2" [(ngModel)]="data.cash_out_logic">
                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-lg-3 col-sm-12">Forecasting Algorithms</label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group1 m-form__group">
                      <select class="form-control" id="forecasting_algorithm" name="forecasting_algorithm" [(ngModel)]="data.forecasting_algorithm">
                        <option value="EPS Model" selected="true">EPS Model</option>
                        <option value="ARIMA">ARIMA</option>
                        <option value="Time Series">Time Series</option>
                        <option value="ANA">ANA (greyed out and non selectable)</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="m-portlet__head-tools">
                  <a  class="btn btn-primary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10 btn-approve" (click)="onSubmit();">
                    <span>
                      <i class="la la-puzzle-piece"></i>
                      <span>Apply & Save</span>
                    </span>
                  </a>
                </div>

              </form>
            </div>
          </div>
          <!--end: Datatable -->
          <!-- <div class="row">
            <div class="col-sm-12 col-md-5"><div class="dataTables_info" id="m_table_1_info" role="status" aria-live="polite">Showing 1 to 10 of 50 entries</div></div><div class="col-sm-12 col-md-7 dataTables_pager"><div class="dataTables_length" id="m_table_1_length"><label>Display <select style="width:auto" name="m_table_1_length" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm"><option value="5">5</option><option value="10">10</option><option value="25">25</option><option value="50">50</option></select></label></div><div class="dataTables_paginate paging_simple_numbers" id="m_table_1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="m_table_1_previous"><a href="#" aria-controls="m_table_1" data-dt-idx="0" tabindex="0" class="page-link"><i class="la la-angle-left"></i></a></li><li class="paginate_button page-item active"><a href="#" aria-controls="m_table_1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item next" id="m_table_1_next"><a href="#" aria-controls="m_table_1" data-dt-idx="6" tabindex="0" class="page-link"><i class="la la-angle-right"></i></a></li></ul></div></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
<i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->

<!-- begin::Quick Nav -->
