
<!--The content below is only a placeholder and can be replaced.-->
	<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

<!-- BEGIN: Header -->
  <app-top-navbar></app-top-navbar>
	<!-- END: Header -->

<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
			<i class="la la-close"></i>
		</button>
					<!-- BEGIN: Aside Menu -->
				<app-side-menu></app-side-menu>
				<!-- END: Aside Menu -->
				<div style="width:100%">
					<div class="m-grid__item m-grid__item--fluid m-wrapper">

						  <!-- BEGIN: Subheader -->
						  <div class="m-subheader ">
							<div class="d-flex align-items-center">
							  <div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">CRA C3R Report</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
								  <li class="m-nav__item m-nav__item--home">
									<a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
									  <i class="m-nav__link-icon la la-home"></i>
									</a>
								  </li>
								  <li class="m-nav__separator">-</li>
								  <li class="m-nav__item">
									<a href="" class="m-nav__link">
									  <span class="m-nav__link-text">Cash Routine Data</span>
									</a>
								  </li>
								  <li class="m-nav__separator">-</li>
								  <li class="m-nav__item">
									<a href="" class="m-nav__link">
									  <span class="m-nav__link-text">CRA C3R Report</span>
									</a>
								  </li>
								</ul>
							  </div>
							  <div>
								<a *ngIf="permissionList.indexOf('upload_file') != -1"  href="#" data-toggle="modal" data-target="#m_modal_6" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
								  <span>
									<i class="la la-archive"></i>
									<span>Upload</span>
								  </span>
								</a>
								<div class="modal fade" data-backdrop="static" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								  <div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">Upload CRA C3R Report Data</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
										</button>
									  </div>
									  <div class="modal-body">
										<form class="m-form m-form--fit m-form--label-align-right"  name="uploadForm"
										[formGroup]="uploadForm">
										  <div class="m-portlet__body">

											<div class="form-group1 m-form__group">
											  <label for="cra">CRA</label>
											  <div></div>
											  <select class="custom-select form-control" formControlName="cra"
											  [(ngModel)]="uploadData.cra" name="cra">
													<option *ngFor = "let opt of craDDList" value="{{opt.cra_id}}">{{opt.cra_id}}</option>
											  </select>
											</div>

                      <div class="form-group1 m-form__group">
                                <label for="time">Time</label>
                                <input disabled class="form-control" formControlName = "time" type="time"  name="time"/>
                      </div>

                      <div class="form-group1 m-form__group">

                        <label for="date">Date</label>

											  <input type="text" formControlName="date"
											         placeholder="Select date"
															 name="date"
															 placement="top"
											         class="form-control"
											         bsDatepicker>

                      </div>
											<div class="form-group m-form__group">
												<label for="exampleInputEmail1">Select File </label>
												<div></div>
												<div class="custom-file">
													<input type="file" name="file" class="custom-file-input" (change)="onFileChanged($event)"
														#fileInput [ngClass]="{ 'is-invalid': submitted && !uploadData.file }">
													<label class="custom-file-label" (click)="fileInput.click()">
														<span *ngIf="!uploadData?.file?.name">Choose file </span>
														<span *ngIf="uploadData?.file?.name">{{uploadData?.file?.name}}</span>
													</label>
												</div>
											</div>
										  </div>
										</form>
									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary" [disabled]="uploadForm.invalid || !uploadData.file" (click)="uploadDatafn()">Submit</button>
									  </div>
									</div>
								  </div>
								</div>

							  </div>
							</div>
						  </div>

						  <!-- END: Subheader -->
						  <!-- END: Subheader -->
						  <div class="m-content">
								<div class="m-alert m-alert--icon alert  alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
										<div class="m-alert__icon">
											<i class="flaticon-danger"></i>
										</div>
										<div class="m-alert__text">
											<span><strong>{{alert.type}}!</strong></span> {{alert.text}}

										</div>
										<div class="m-alert__actions" style="width: 220px;">
											<button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
											</button>
										</div>
								</div>
							<!--begin::Portlet-->
							<div *ngIf="permissionList.indexOf('data_information') != -1" class="m-portlet m-portlet--tabs" id="m_portlet_tools_1">
							  <div class="m-portlet__head">
								<div class="m-portlet__head-caption">
								  <div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
									  Data Information <small>details about status of the CRA C3R Report data</small>
									</h3>
								  </div>
								</div>
								<div class="m-portlet__head-tools">
								  <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--right m-tabs-line-danger" role="tablist">
									<li class="nav-item m-tabs__item" (click) = "setDataInformationCurrent()">
									  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_1_1" role="tab">
										Current
									  </a>
									</li>
									<li class="nav-item m-tabs__item" (click) = "setDataInformationPrevious()">
									  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_2" role="tab">
										Previous
									  </a>
									</li>
								  </ul>
								  <ul class="m-portlet__nav m--margin-left-20">
									<li class="m-portlet__nav-item">
									  <a href="#" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-angle-down"></i>
									  </a>
									</li>
								  </ul>
								</div>
							  </div>
							  <div class="m-portlet__body data-information">
								<div class="tab-content">
								  <div class="tab-pane active" id="m_portlet_tab_1_1">
										<!-- Datatable body -->

										<ngx-datatable   #previewData
											class="bootstrap"
											[headerHeight]="45"
											[columnMode]="'force'"
											[footerHeight]="75"
											[rowHeight]="'50'"
											[rows]="diRows"
											[scrollbarH]="true"
											[externalPaging]="false">
										    <!-- Datatable body -->

											<ngx-datatable-column name="Created By" prop="created_by">

												<ng-template ngx-datatable-cell-template let-value="value" >
													{{value}}
												</ng-template>

										  </ngx-datatable-column>

											<ngx-datatable-column name="Updated Date and Time" prop="datafor_date_time">

												<ng-template ngx-datatable-cell-template let-value="value" >
													{{value | date: 'dd-MM-yyyy HH:mm'}}
												</ng-template>

										  </ngx-datatable-column>

											<ngx-datatable-column name="Status" prop="record_status">

												<ng-template ngx-datatable-cell-template let-value="value" >
													<span class="m-badge m-badge--metal m-badge--wide">{{value}}</span>
												</ng-template>

										 	</ngx-datatable-column>

											<ngx-datatable-column name="Action">

												<ng-template ngx-datatable-cell-template let-value="value" let-row="row" >
													<button type="button" (click)="openPreviewModal(row,true)" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" title="View ">
														<i class="fa fa-file m--font-info"></i>
													</button>
													<button *ngIf="permissionList.indexOf('approve') != -1"  type="button" (click)="approveFile(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btn-approve" title="View ">
														<i class="fa fa-check m--font-success"></i>
													</button>
													<button *ngIf="permissionList.indexOf('reject') != -1"  type="button" (click)="rejectFile(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="View " >
														<i class="fa fa-times m--font-danger"></i>
													</button>
												</ng-template>

										  </ngx-datatable-column>


											<!-- Datatable body End -->

										</ngx-datatable>

										<!-- Datatable body end-->

									</div>
								  <div class="tab-pane" id="m_portlet_tab_1_2">
										<ngx-datatable   #previewData
											class="bootstrap"
											[headerHeight]="45"
											[columnMode]="'force'"
											[footerHeight]="75"
											[rowHeight]="'50'"
											[rows]="diRows"
											[scrollbarH]="true"
											[externalPaging]="false">
										    <!-- Datatable body -->

											<ngx-datatable-column name="Status" prop="record_status">

												<ng-template ngx-datatable-cell-template let-value="value" >
													<span class="m-badge m-badge--wide" [ngClass]="{'m-badge--success': value == 'Active' , 'm-badge--danger': value == 'Rejected'}" >{{value}}</span>
												</ng-template>

										 	</ngx-datatable-column>

											<ngx-datatable-column name="Created By" prop="created_by">

												<ng-template ngx-datatable-cell-template let-value="value" >
													{{value}}
												</ng-template>

										  </ngx-datatable-column>

											<ngx-datatable-column name="Updated Date and Time" prop="datafor_date_time">

												<ng-template ngx-datatable-cell-template let-value="value" >
													{{value | date: 'dd-MM-yyyy HH:mm'}}
												</ng-template>

										  </ngx-datatable-column>

											<ngx-datatable-column name="Action">

												<ng-template ngx-datatable-cell-template let-value="value" let-row="row" >
													<button type="button" (click)="openPreviewModal(row,false)" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" title="View ">
														<i class="fa fa-file m--font-info"></i>
													</button>
												</ng-template>

										  </ngx-datatable-column>


											<!-- Datatable body End -->

										</ngx-datatable>
								  </div>
								</div>
							  </div>
							</div>

							<!--end::Portlet-->
							<div class="m-portlet m-portlet--tabs" id="m_portlet_tools_1">
							  <div class="m-portlet__head">
								<div class="m-portlet__head-caption">
								  <div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
									  All Data
									</h3>
								  </div>
								</div>
								<div class="m-portlet__head-tools">
								  <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--right m-tabs-line-danger" role="tablist">
  									<li class="nav-item m-tabs__item" (click) = "setPageDataCmis(page.pageNumber)">
  									  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_2_1" role="tab">
  										CMIS
  									  </a>
  									</li>
  									<li class="nav-item m-tabs__item" (click) = "setPageDataVmis(page.pageNumber)">
  									  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_2_2" role="tab">
  										VMIS
  									  </a>
  									</li>
								  </ul>
								  <ul class="m-portlet__nav m--margin-left-20">
									<li class="m-portlet__nav-item">
									  <a href="#" data-toggle="modal" data-target="#modalfilter" class="m-portlet__nav-link m-portlet__nav-link--icon filters">
										<i class="la la-filter"></i>
									  </a>
									  <div class="modal fade" data-backdrop="static" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
										  <div class="modal-content">
											<div class="modal-header pb-0">
											  <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter Records</h5>
											  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											  </button>
											</div>
											<div class="modal-body">
											  <form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
												  <div class="form-group1 m-form__group">
                                <label for="exampleInputEmail1">Atm Id</label>
                                <input class="form-control" type="text" [(ngModel)]="filtersForAllView.atm_id" [ngModelOptions]="{standalone: true}" name="atmId"/>
                              </div>
                              <div class="form-group1 m-form__group">
													<label for="exampleInputEmail1">Bank</label>
													<div></div>
                                <select class="form-control p-0" [(ngModel)]="filtersForAllView.bank_name" [ngModelOptions]="{standalone: true}">
                                   <option *ngFor="let bank of bankFilterDropDown" [ngValue]="bank.bank_id" >
                                    {{bank.bank_id}}
                                  </option>
                                </select>
                              </div>
                              <div class="form-group1 m-form__group">
                                <label for="feederForm">Feeder Branch</label>
                                <div></div>
                                <select class="form-control p-0" [(ngModel)]="filtersForAllView.feeder_branch" [ngModelOptions]="{standalone: true}" name="feederForm">
													  <option value="">All</option>
                                  <option *ngFor="let feeder of feederDropDown; trackBy: trackOpt" [ngValue]="feeder.feeder" >
                                    {{feeder.feeder}}
                                  </option>
													</select>
												  </div>
                              <div class="form-group1 m-form__group">
                                <label for="date">Upload Date Range</label>

                                <input type="text"
                                 placeholder="Select a date range..."
                                 class="form-control"
                                 [(ngModel)]="date_range" placement="top" [ngModelOptions]="{standalone: true}"
                                 bsDaterangepicker>
													</div>
                              <div class="form-group1 m-form__group">
                                 <label for="projectFilter">Record Status</label>
                                 <div></div>
                                 <select class="custom-select form-control" id="statusFilter"
                                  [(ngModel)]="filtersForAllView.record_status" [ngModelOptions]="{standalone: true}" >
                                   <option *ngFor="let stat of statusList " [ngValue]="stat">
                                     {{stat}}
                                   </option>
                                 </select>
												  </div>
												</div>
											  </form>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" (click)="resetFilter()" data-dismiss="modal">Reset</button>
                          <button type="button" class="btn btn-primary" (click)="setFilteredView()" >Submit</button>
											</div>
										  </div>
										</div>
									  </div>
									  <div class="modal fade" id="editrecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
										  <div class="modal-content">
											<div class="modal-header">
											  <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-edit"></i> Edit Record</h5>
											  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											  </button>
											</div>
											<div class="modal-body">
											  <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="300">
												<form class="m-form m-form--fit m-form--label-align-right">
												  <div class="m-portlet__body">
													<div class="form-group m-form__group">
													  <label for="exampleInputEmail1">ATM ID</label>
													  <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
													</div>
													<div class="form-groFuploadup m-form__group">
													  <label for="exampleSelect1">Bank</label>
													  <select class="form-control m-input m-input--square" id="exampleSelect1">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
													  </select>
													</div>
													<div class="form-group m-form__group">
													  <label for="exampleSelect1">Feeder Branch</label>
													  <select class="form-control m-input m-input--square" id="exampleSelect1">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
													  </select>
													</div>
													<div class="form-group m-form__group">
													  <label for="exampleInputEmail1">CRA</label>
													  <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
													</div>
													<div class="form-group m-form__group">
													  <label for="exampleInputEmail1">Bank Email</label>
													  <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
													</div>
													<div class="form-group m-form__group">
													  <label for="exampleInputEmail1">CRA Custodian</label>
													  <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
													</div>
												  </div>
												</form>
											  </div>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											  <button type="button" class="btn btn-primary">Submit</button>
											</div>
										  </div>
										</div>
									  </div>
									</li>
									<li class="m-portlet__nav-item">
									  <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-angle-down"></i>
									  </a>
									</li>
									<li class="m-portlet__nav-item">
									  <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-expand"></i>
									  </a>
									</li>
								  </ul>
								</div>
							  </div>
							  <div class="m-portlet__body">
  								<div class="tab-content">
  								  <div class="tab-pane active" id="m_portlet_tab_2_1">
  										<!-- Datatable -->

  										<ngx-datatable   #cmisData
  											class="material"
  											[headerHeight]="45"
  											[columnMode]="'force'"
  											[footerHeight]="75"
  											[rowHeight]="'50'"
  											[rows]="rows"
  											[scrollbarH]="true"
  											[externalPaging]="true"
  											[count]="page.totalElements"
  											[offset]="page.pageNumber"
  											[limit]="page.size"
  											(page)='setPageDataCmis($event)'>
  											<!-- Datatable body -->

  											<ng-container *ngFor="let viewCol of viewColCMIS">

  												<ngx-datatable-column name="{{viewCol.name}}" prop="{{viewCol.prop}}" >

  													<ng-template ngx-datatable-cell-template let-value="value" >
															<span  *ngIf="viewCol.datatype=='string'">{{value}}</span>
															<span  *ngIf="viewCol.datatype=='date'">{{value | date: 'dd-MM-yyyy HH:mm'}}</span>
  													</ng-template>

  												</ngx-datatable-column>

  											</ng-container>

  											<!-- Datatable body End -->
  											<!-- Data Table Footer -->

  										<ngx-datatable-footer>
  											<ng-template
  												ngx-datatable-footer-template
  												let-rowCount="rowCount"
  												let-pageSize="pageSize"
  												let-selectedCount="selectedCount"
  												let-curPage="curPage"
  												let-offset="offset">
  												<div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
  													<ul class="m-datatable__pager-nav">

  														<li  (click)="setPageDataCmis(0)">
  															<a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1">
  																<i class="la la-angle-double-left"></i>
  															</a>
  														</li>

  														<li (click)="setPageDataCmis(offset-1)">
  															<a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1">
  																<i class="la la-angle-left"></i>
  															</a>
  														</li>

  														<li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="setPageDataCmis(offset-1)" >
  															<a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage-1}}">{{curPage-1}} </a>
  														</li>

  														<li (click)="setPageDataCmis(offset)">
  															<a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a>
  														</li>

  														<li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="setPageDataCmis(offset+1)" >
  															<a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage+1}}">{{curPage+1}} </a>
  														</li>

  														<li (click)="setPageDataCmis(offset+1)">
  															<a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
  																<i class="la la-angle-right"></i>
  															</a>
  														</li>

  														<li (click)="setPageDataCmis(calculateTotalPage(rowCount,pageSize)-1)">
  															<a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" >
  																<i class="la la-angle-double-right"></i>
  															</a>
  														</li>
  													</ul>

  													<div class="m-datatable__pager-info">

  														<div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">

  															<select class="  custom-pagination-select" [(ngModel)]="page.size" title="Select page size" (change)="setPageDataCmis({ 'offset': 0})">
  																<option *ngFor = "let x of pagesizeList" [ngValue]="x">{{x}}</option>
  															</select>

  														</div>
  														<span class="m-datatable__pager-detail">Displaying {{curPage}} - {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span>

  													</div>
  												</div>
  												</div>
  											</ng-template>
  										</ngx-datatable-footer>

  										<!-- Data Table Footer End -->


  										</ngx-datatable>

  										<!-- Datatable end-->

  									</div>
  								  <div class="tab-pane" id="m_portlet_tab_2_2">
  										<!-- Datatable body -->

  										<ngx-datatable   #vmisData
  											class="material"
  											[headerHeight]="45"
  											[columnMode]="'force'"
  											[footerHeight]="75"
  											[rowHeight]="'50'"
  											[rows]="rows"
  											[scrollbarH]="true"
  											[externalPaging]="true"
  											[count]="page.totalElements"
  											[offset]="page.pageNumber"
  											[limit]="page.size"
  											(page)='setPageDataVmis($event)'>
  											<!-- Datatable body -->

  											<ng-container *ngFor="let viewCol of viewColVMIS">

  												<ngx-datatable-column name="{{viewCol.name}}" prop="{{viewCol.prop}}" >

  													<ng-template ngx-datatable-cell-template let-value="value" >
															<span  *ngIf="viewCol.datatype=='string'">{{value}}</span>
															<span  *ngIf="viewCol.datatype=='date'">{{value | date: 'dd-MM-yyyy HH:mm'}}</span>
  													</ng-template>

  												</ngx-datatable-column>

  											</ng-container>

  											<!-- Datatable body End -->
  											<!-- Data Table Footer -->

  										<ngx-datatable-footer>
  											<ng-template
  												ngx-datatable-footer-template
  												let-rowCount="rowCount"
  												let-pageSize="pageSize"
  												let-selectedCount="selectedCount"
  												let-curPage="curPage"
  												let-offset="offset">
  												<div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
  													<ul class="m-datatable__pager-nav">

  														<li  (click)="setPageDataVmis(0)">
  															<a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1">
  																<i class="la la-angle-double-left"></i>
  															</a>
  														</li>

  														<li (click)="setPageDataVmis(offset-1)">
  															<a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1">
  																<i class="la la-angle-left"></i>
  															</a>
  														</li>

  														<li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="setPageDataVmis(offset-1)" >
  															<a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage-1}}">{{curPage-1}} </a>
  														</li>

  														<li (click)="setPageDataVmis(offset)">
  															<a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a>
  														</li>

  														<li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="setPageDataVmis(offset+1)" >
  															<a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage+1}}">{{curPage+1}} </a>
  														</li>

  														<li (click)="setPageDataVmis(offset+1)">
  															<a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
  																<i class="la la-angle-right"></i>
  															</a>
  														</li>

  														<li (click)="setPageDataVmis(calculateTotalPage(rowCount,pageSize)-1)">
  															<a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" >
  																<i class="la la-angle-double-right"></i>
  															</a>
  														</li>
  													</ul>

  													<div class="m-datatable__pager-info">

  														<div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">

  															<select class="  custom-pagination-select" [(ngModel)]="page.size" title="Select page size" (change)="setPageDataVmis(0)">
  																<option *ngFor = "let x of pagesizeList" [ngValue]="x">{{x}}</option>
  															</select>

  														</div>
  														<span class="m-datatable__pager-detail">Displaying {{curPage}} - {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span>

  													</div>
  												</div>
  												</div>
  											</ng-template>
  										</ngx-datatable-footer>

  										<!-- Data Table Footer End -->


  										</ngx-datatable>

  										<!-- Datatable end-->
  								  </div>
  								</div>
							  </div>
							</div>
						  </div>
					</div>
				</div>

        <ng-template #previewModal class="modal-lg  preview-modal">
          <div class="modal-header ">
              <div class="modal-title pull-left">
                <h4>Preview</h4>
              </div>
              <div class="pull-right">
               <div class="pull-left align-top">
                 <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--right m-tabs-line-danger" role="tablist">
                   <li class="nav-item m-tabs__item" (click) = "setPreviewCmis(0)">
                     <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_3_1" role="tab">
                     CMIS
                     </a>
                   </li>
                   <li class="nav-item m-tabs__item" (click) = "setPreviewVmis(0)">
                     <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_3_2" role="tab">
                     VMIS
                     </a>
                   </li>
                 </ul>

               </div>

                <button type="button" class="close  pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>





          </div>
          <div class="modal-body">
            <div class="tab-content">
              <div class="tab-pane active" id="m_portlet_tab_3_1">
                <!-- Datatable -->

                <ngx-datatable   #cmisData
                  class="bootstrap"
                  [headerHeight]="45"
                  [columnMode]="'force'"
                  [footerHeight]="75"
                  [rowHeight]="'50'"
                  [rows]="prevRows"
                  [scrollbarH]="true"
                  [externalPaging]="true"
                  [count]="page.totalElements"
                  [offset]="page.pageNumber"
                  [limit]="page.size"
                  (page)='setPageDataCmis($event)'>
                  <!-- Datatable body -->

                  <ng-container *ngFor="let viewCol of viewColCMIS">

                    <ngx-datatable-column name="{{viewCol.name}}" prop="{{viewCol.prop}}" >

                      <ng-template ngx-datatable-cell-template let-value="value" >
												<span  *ngIf="viewCol.datatype=='string'">{{value}}</span>
												<span  *ngIf="viewCol.datatype=='date'">{{value | date: 'dd-MM-yyyy HH:mm'}}</span>
                      </ng-template>

                    </ngx-datatable-column>

                  </ng-container>

                  <!-- Datatable body End -->
                  <!-- Data Table Footer -->

                <ngx-datatable-footer>
                  <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset">
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                      <ul class="m-datatable__pager-nav">

                        <li  (click)="setPageDataCmis(0)">
                          <a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1">
                            <i class="la la-angle-double-left"></i>
                          </a>
                        </li>

                        <li (click)="setPageDataCmis(offset-1)">
                          <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1">
                            <i class="la la-angle-left"></i>
                          </a>
                        </li>

                        <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="setPageDataCmis(offset-1)" >
                          <a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage-1}}">{{curPage-1}} </a>
                        </li>

                        <li (click)="setPageDataCmis(offset)">
                          <a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a>
                        </li>

                        <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="setPageDataCmis(offset+1)" >
                          <a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage+1}}">{{curPage+1}} </a>
                        </li>

                        <li (click)="setPageDataCmis(offset+1)">
                          <a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                            <i class="la la-angle-right"></i>
                          </a>
                        </li>

                        <li (click)="setPageDataCmis(calculateTotalPage(rowCount,pageSize)-1)">
                          <a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" >
                            <i class="la la-angle-double-right"></i>
                          </a>
                        </li>
                      </ul>

                      <div class="m-datatable__pager-info">

                        <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">

                          <select class="  custom-pagination-select" [(ngModel)]="page.size" title="Select page size" (change)="setPageDataCmis({ 'offset': 0})">
                            <option *ngFor = "let x of pagesizeList" [ngValue]="x">{{x}}</option>
                          </select>

                        </div>
                        <span class="m-datatable__pager-detail">Displaying {{curPage}} - {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span>

                      </div>
                    </div>
                    </div>
                  </ng-template>
                </ngx-datatable-footer>

                <!-- Data Table Footer End -->


                </ngx-datatable>

                <!-- Datatable end-->

              </div>
              <div class="tab-pane" id="m_portlet_tab_3_2">
                <!-- Datatable body -->

                <ngx-datatable   #vmisData
                  class="bootstrap"
                  [headerHeight]="45"
                  [columnMode]="'force'"
                  [footerHeight]="75"
                  [rowHeight]="'50'"
                  [rows]="prevRows"
                  [scrollbarH]="true"
                  [externalPaging]="true"
                  [count]="page.totalElements"
                  [offset]="page.pageNumber"
                  [limit]="page.size"
                  (page)='setPageDataVmis($event)'>
                  <!-- Datatable body -->

                  <ng-container *ngFor="let viewCol of viewColVMIS">

                    <ngx-datatable-column name="{{viewCol.name}}" prop="{{viewCol.prop}}" >

                      <ng-template ngx-datatable-cell-template let-value="value" >
										 <span  *ngIf="viewCol.datatype=='string'">{{value}}</span>
										 <span  *ngIf="viewCol.datatype=='date'">{{value | date: 'dd-MM-yyyy HH:mm'}}</span>
                      </ng-template>

                    </ngx-datatable-column>

                  </ng-container>

                  <!-- Datatable body End -->
                  <!-- Data Table Footer -->

                <ngx-datatable-footer>
                  <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset">
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 ">    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                      <ul class="m-datatable__pager-nav">

                        <li  (click)="setPageDataVmis(0)">
                          <a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1">
                            <i class="la la-angle-double-left"></i>
                          </a>
                        </li>

                        <li (click)="setPageDataVmis(0)">
                          <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1">
                            <i class="la la-angle-left"></i>
                          </a>
                        </li>

                        <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="setPageDataVmis(offset-1)" >
                          <a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage-1}}">{{curPage-1}} </a>
                        </li>

                        <li (click)="setPageDataVmis(offset)">
                          <a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"  title="{{curPage}}">{{curPage}}</a>
                        </li>

                        <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="setPageDataVmis(offset+1)" >
                          <a class="m-datatable__pager-link m-datatable__pager-link-number" title="{{curPage+1}}">{{curPage+1}} </a>
                        </li>

                        <li (click)="setPageDataVmis(offset+1)">
                          <a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                            <i class="la la-angle-right"></i>
                          </a>
                        </li>

                        <li (click)="setPageDataVmis(calculateTotalPage(rowCount,pageSize)-1)">
                          <a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" >
                            <i class="la la-angle-double-right"></i>
                          </a>
                        </li>
                      </ul>

                      <div class="m-datatable__pager-info">

                        <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">

                          <select class="  custom-pagination-select" [(ngModel)]="page.size" title="Select page size" (change)="setPageDataVmis(0)">
                            <option *ngFor = "let x of pagesizeList" [ngValue]="x">{{x}}</option>
                          </select>

                        </div>
                        <span class="m-datatable__pager-detail">Displaying {{curPage}} - {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span>

                      </div>
                    </div>
                    </div>
                  </ng-template>
                </ngx-datatable-footer>

                <!-- Data Table Footer End -->


                </ngx-datatable>

                <!-- Datatable end-->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" *ngIf="permissionList.indexOf('reject') != -1"  class="btn btn-secondary" (click)="modalRef.hide();approvePreviewFn('Rejected')">Reject</button>
            <button type="button" *ngIf="permissionList.indexOf('approve') != -1"  class="btn btn-primary"  name="submit" (click)="approvePreviewFn('Approved')">Approve</button>
          </div>
        </ng-template>
    </div>
		<app-footer></app-footer>
</div>






<!-- begin::Quick Sidebar -->
<app-quick-sidebar></app-quick-sidebar>

<!-- end::Quick Sidebar -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>

		<!-- end::Scroll Top -->
			<!-- begin::Quick Nav -->

		<!-- begin::Quick Nav -->
