<!--The content below is only a placeholder and can be replaced.-->
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">

    <!-- BEGIN: Header -->
     <app-top-navbar></app-top-navbar>
      <!-- END: Header -->
    
    <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    
        <!-- BEGIN: Left Aside -->
        <button class="m-aside-left-close m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
          <i class="la la-close"></i>
        </button>
              <!-- BEGIN: Aside Menu -->
            <app-side-menu></app-side-menu>
            <!-- END: Aside Menu -->
            <div style="width:100%">
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
    
                 <!-- BEGIN: Subheader -->
                 <div class="m-subheader ">
                  <div class="d-flex align-items-center">
                    <div class="mr-auto">
                      <h3 class="m-subheader__title m-subheader__title--separator">Withdrawals</h3>
                      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                        <li class="m-nav__item m-nav__item--home">
                          <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                          </a>
                        </li>
                        <li class="m-nav__separator">-</li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Master Data</span>
                          </a>
                        </li>
                        <li class="m-nav__separator">-</li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Withdrawal</span>
                          </a>
                        </li>
                      </ul>
                       </div>
                    <div  >
                      <a href="#" data-toggle="modal" data-target="#m_modal_6" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                          <span>
                              <i class="la la-upload"></i>
                              <span>Upload</span>
                          </span>
                      </a>
                      </div>
                      <!-- <div (click)="getImage()"  >
                            <span>
                                <i class="la la-upload"></i>
                                <button>click here {{blobUrl}} </button>
                                <img [src]='blobUrl1' alt="Smiley face" height="42" width="42">
                            </span>
                     
                        </div> -->
                      <div class="modal fade" data-backdrop="static" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Upload Withdrawal Status Information</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                              </button>
                              </div>
                              <div class="modal-body">
                          
                              <!-- upload form  -->
                              <form class="m-form m-form--fit m-form--label-align-right" name="cbrupload"  [formGroup]="uploadForm">
                                  <div class="m-portlet__body">
                                  <div class="form-group1 m-form__group" style=" width: 443px; " >
                                      <label for="exampleInputEmail1">Indent Order Number</label>
                                      <input  [(ngModel)]="uploadData.indent_order_number" value="{{uploadData.indent_order_number}}" class="form-control" formControlName = "indent_order_number" type="text"  name="indent_order_number" (change)="populateDropdown(uploadData.indent_order_number)"/>
                                 <span *ngIf='showerr' style="color: red">Enter Indent Number</span>
                                    </div>
                                
                                  <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Bank</label>
                                      <input class="form-control" type="text" [(ngModel)]="uploadData.bank" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                  </div>
                                  <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Cra</label>
                                      <input class="form-control" type="text" [(ngModel)]="uploadData.cra" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                  </div>
                                  <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Feeder Branch</label>
                                      <input class="form-control" type="text" [(ngModel)]="uploadData.feeder_branch" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                  </div>
                                  <div class="form-group1 m-form__group">
                                    <label for="exampleInputEmail1">Indent Short Code</label>
                                    <input class="form-control" type="text" [(ngModel)]="uploadData.indent_short_code" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                </div>
                                  <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Withdrawal Amount 100</label>
                                      <input class="form-control" type="text" [(ngModel)]="uploadData.total_bank_withdrawal_amount_100" [ngModelOptions]="{standalone: true}" name="atmId" (change)="addTotalAmountupload()"/>
                                  </div>
                                  <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Withdrawal Amount 200</label>
                                      <input class="form-control" type="text" [(ngModel)]="uploadData.total_bank_withdrawal_amount_200" [ngModelOptions]="{standalone: true}" name="atmId" (change)="addTotalAmountupload()"/>
                                  </div>
                                  <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Withdrawal Amount 500</label>
                                      <input class="form-control" type="text" [(ngModel)]="uploadData.total_bank_withdrawal_amount_500" [ngModelOptions]="{standalone: true}" name="atmId" (change)="addTotalAmountupload()"/>
                                  </div>
                                  <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Withdrawal Amount 2000</label>
                                      <input class="form-control" type="text" [(ngModel)]="uploadData.total_bank_withdrawal_amount_2000" [ngModelOptions]="{standalone: true}" name="atmId" (change)="addTotalAmountupload()"/>
                                  </div>
                                  <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Total Withdrawal Amount</label>
                                      <input class="form-control" type="text" [(ngModel)]="uploadData.total_bank_withdrawal_amount" [ngModelOptions]="{standalone: true}" name="atmId" (change)="addTotalAmountupload()"/>
                                  </div>
                                  <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Project id</label>
                                      <input class="form-control" type="text" [(ngModel)]="uploadData.project_id" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                  </div>
                                  <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Remark</label>
                                      <textarea [(ngModel)]="uploadData.remarks" class="form-control"  type="text"  name="remarks"[ngModelOptions]="{standalone: true}" ></textarea>
                                      <!-- <textarea name="reasons" formControlName= "reasons" class="form-control"></textarea> -->

                                    </div>
  
                                  <div class="form-group1 m-form__group">
                                      <div class="custom-file">
                                      <input type="file" name="file" class="custom-file-input" (change)="onFileChanged($event)"
                                          #fileInput [ngClass]="{ 'is-invalid': submitted && !uploadData.file }">
                                      <label class="custom-file-label" (click)="fileInput.click()">
                                          <span *ngIf="!uploadData?.file?.name">Choose file </span>
                                          <span *ngIf="uploadData?.file?.name">{{uploadData?.file?.name}}</span>
                                      </label>
                                      </div>
                                      </div>
  
                                  </div>
                              </form>
  
                              <!-- upload form ends here -->
                              </div>
                              <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" (click)="clickMeToClear()">Reset</button>
  
                              <button type="button" class="btn btn-primary"   name="submit" (click)="uploadDatafn(uploadData,'add')">Submit</button>
                              </div>
                          </div>
                          </div>
                      </div>
                  </div>
                </div>
    
                 <!-- END: Subheader -->
                 <!-- END: Subheader -->
                 <div class="m-content">
                   <div class="m-alert m-alert--icon alert alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
                     <div class="m-alert__icon">
                      <i class="flaticon-danger"></i>
                     </div>
                     <div class="m-alert__text">
                      <strong>{{alert.type}}!</strong> {{alert.text}}
                     </div>
                     <div class="m-alert__actions" style="width: 220px;">
                      <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
                      </button>
                     </div>
                    </div>
                  <!--begin::Portlet-->
    
                  <!--end::Portlet-->
                  <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
                   <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                     <div class="m-portlet__head-title"><h3 class="m-portlet__head-text">All Data</h3></div>
                    </div>
                    <div class="m-portlet__head-tools">
                      <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item" >
                         <!-- <a (click)="resetFilter()" href="#" data-toggle="modal" data-target="#modalfilter"
                         class="filters btn m-btn m-btn--icon m-btn--icon-only m-portlet__nav-link m-portlet__nav-link--icon" >
                          <i class="la la-filter"></i>
                         </a> -->
                         <div class="modal fade" data-backdrop="static" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                            <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter Records</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                             </button>
                            </div>
                            <div class="modal-body">
                             <!-- filter form for view all data -->
                             <form class="m-form m-form--fit m-form--label-align-right" >
                              <div class="m-portlet__body">
                               <div class="form-group1 m-form__group">
                                       <label for="exampleInputEmail1">Indent Order Number</label>
                                       <input class="form-control" type="text" [(ngModel)]="filterData.indent_order_number" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                     </div>
                                     <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Project Id</label>
                                      <input class="form-control" type="text" [(ngModel)]="filterData.project_id" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                    </div>
                                    <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Bank</label>
                                      <input class="form-control" type="text" [(ngModel)]="filterData.bank" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                    </div>
                                    <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Bank Code</label>
                                      <input class="form-control" type="text" [(ngModel)]="filterData.bank_code" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                    </div>
                                    
                                    
                                    <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Feeder Branch Code</label>
                                      <input class="form-control" type="text" [(ngModel)]="filterData.feeder_branch" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                    </div>
                                    <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Cra</label>
                                      <input class="form-control" type="text" [(ngModel)]="filterData.cra" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                    </div>
                                   </div>
                             </form>
                             <!-- filter form for view all data -->
    
                            </div>
                            <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                 <button type="button" class="btn btn-primary" (click)="resetFilter()" >Reset</button>
                             <button type="button" class="btn btn-primary" (click)="updateViewAll()">Submit</button>
                            </div>
                           </div>
                          </div>
                         </div>
                         <!-- <div class="modal fade" id="editrecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                          aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                            <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-edit"></i> Edit Record</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                             </button>
                            </div>
                            <div class="modal-body">
                             <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="300">
                              <form class="m-form m-form--fit m-form--label-align-right">
                               <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                 <label for="exampleInputEmail1">ATM ID</label>
                                 <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group m-form__group">
                                 <label for="exampleSelect1">Bank</label>
                                 <select class="form-control m-input m-input--square" id="exampleSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                 </select>
                                </div>
                                <div class="form-group m-form__group">
                                 <label for="exampleSelect1">Feeder Branch</label>
                                 <select class="form-control m-input m-input--square" id="exampleSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                 </select>
                                </div>
                                <div class="form-group m-form__group">
                                 <label for="exampleInputEmail1">CRA</label>
                                 <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group m-form__group">
                                 <label for="exampleInputEmail1">Bank Email</label>
                                 <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group m-form__group">
                                 <label for="exampleInputEmail1">CRA Custodian</label>
                                 <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="">
                                </div>
                               </div>
                              </form>
                             </div>
                            </div>
                            <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                             <button type="button" class="btn btn-primary">Submit</button>
                            </div>
                           </div>
                          </div>
                         </div> -->
                        </li>
                        <li class="m-portlet__nav-item">
                         <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                          <i class="la la-angle-down"></i>
                         </a>
                        </li>
                        <li class="m-portlet__nav-item">
                         <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                          <i class="la la-expand"></i>
                         </a>
                        </li>
                       </ul>
                    </div>
                   </div>
                   <div class="m-portlet__body">
                    <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-bottom-30">
                     <div class="row">
                      <div class="col-lg-4">
                       <div class="m-input-icon m-input-icon--left">
                        <input type="text" class="form-control m-input" (keyup)='viewSearch($event)' placeholder="Search..." id="generalSearch" >
                        <span class="m-input-icon__icon m-input-icon__icon--left">
                         <span>
                          <i class="la la-search"></i>
                         </span>
                        </span>
                       </div>
                      </div>
                      <div class="col-lg-8 m--align-right">
    
 
    
                <!-- select column in viewallData -->
                <app-multiselect [col]="viewColumnAll"></app-multiselect>
    
                <!-- <select class="form-control m-bootstrap-select m-dropdown--inline" data-width="200px" multiple
                data-style="btn-metal" [(ngModel)]="selectedColumn" (change)="columnChangefn()">
    
                <option
                *ngFor="let viewCol of viewColumnAll"
                value="{{viewCol.prop}}" >
                 {{viewCol.name}}
                </option>
    
                </select> -->
    
                <!-- select column in viewallData -->
                      </div>
                     </div>
                    </div>
    
                    <!--end: Search Form -->
    
                    <!--begin: Datatable -->
                    <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                     <div class="row">
                      <div class="col-sm-12 col-md-12">
                       <div class="m_datatable" id="local_data"></div>
                      </div>
                     </div>
                     <!--end: Datatable -->
                     <ngx-datatable #mydatatable
                     class="material"
                     [headerHeight]="45"
                     [columnMode]="'force'"
                     [footerHeight]="100"
                     [rowHeight]="'50'"
                     [rows]="rows"
                     [scrollbarH]="true"
                     [externalPaging]="true"
                     [virtualization]="false"
    
                     [count]="page.totalElements"
                     [offset]="page.pageNumber"
                     [limit]="page.size"
                     (page)='setPage($event)'
                     >
                     <!-- [externalPaging]="true"
                     [count]="page.totalElements"
                     [offset]="page.pageNumber"
                     [limit]="page.size"
                     (page)='setPage($event)' -->
    
    
                     <ng-container *ngFor="let viewCol of viewColumnAll">
    
                       <ngx-datatable-column
    
                       name="{{viewCol.name}}"
                     prop="{{viewCol.prop}}"
                     *ngIf="viewCol.selected" >
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row"  >
                       <span *ngIf="viewCol.datatype == 'string' && viewCol.name != 'Action'">{{value}}</span>
                       <span *ngIf="viewCol.prop == 'viewslip'">
                         <a (click)="getImage(row,'view')"  href="#" data-toggle="modal">View</a>
                       </span>
                       <span *ngIf="viewCol.prop == 'delete'">
                        <a (click)="deleteRecord(row)"  href="#" data-toggle="modal" data-target="#modalfilterdelete">Delete</a>
                        

                      </span>
                      <span *ngIf="viewCol.prop == 'Edit'">
                        
                        <a (click)="editRecord(row)"  href="#" data-toggle="modal" data-target="#editModal">Edit</a>

                      </span>
                      </ng-template>
                     </ngx-datatable-column>
                      </ng-container>  
                      <ngx-datatable-footer>
                        <ng-template
                         ngx-datatable-footer-template
                         let-rowCount="rowCount"
                         let-pageSize="pageSize"
                         let-selectedCount="selectedCount"
                         let-curPage="curPage"
                         let-offset="offset">
                
                  <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 "> 
                      <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                          <ul class="m-datatable__pager-nav" *ngIf="page.size<rowCount">
     
                          <li (click)="setPage({ 'offset': 0 })"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1"><i class="la la-angle-double-left"></i></a></li>
     
                          <li (click)="setPage({ 'offset': offset-1 })">
                           <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i class="la la-angle-left"></i></a>
     
                          <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="setPage({ 'offset': offset-1 })" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                           title="{{curPage-1}}">{{curPage-1}} </a></li>
     
                          <li (click)="setPage({ 'offset': offset })"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active" title="{{curPage}}">{{curPage}}</a></li>
     
                          <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="setPage({ 'offset': offset+1 })" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                          title="{{curPage+1}}">{{curPage+1}} </a></li>
     
                          <li (click)="setPage({ 'offset': offset+1 })"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                          <i class="la la-angle-right"></i></a>
                         </li>
     
                          <li (click)="setPage({ 'offset': calculateTotalPage(rowCount,pageSize)-1})"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" ><i class="la la-angle-double-right"></i></a></li>
                         </ul>
     
     
                         <div class="m-datatable__pager-info">
     
                          <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">
     
                          <select class=" custom-pagination-select"
                          [(ngModel)]="page.size" title="Select page size" (change)="setPage({ 'offset': 0})">
                           <!-- <option class="bs-title-option" value="">Select page size</option> -->
                           <option value="10">10</option><option value="20">20</option>
                           <option value="30">30</option><option value="50">50</option>
                          </select>
     
     
                          </div>
                           <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                            {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span></div></div>
                           </div>
                        </ng-template>
                       </ngx-datatable-footer>       
                   </ngx-datatable>
                    </div>




                    <div class="modal fade" data-backdrop="static" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Upload Withdrawal Status Information</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                          </button>
                          </div>
                          <div class="modal-body">
                      
                          <!-- upload form  -->
                          <form class="m-form m-form--fit m-form--label-align-right" name="cbrupload"  [formGroup]="editForm">
                              <div class="m-portlet__body">
                            <div class="form-group1 m-form__group">
                                  <label for="exampleInputEmail1">Bank</label>
                                  <input disabled class="form-control" type="text" [(ngModel)]="editData.bank_code" [ngModelOptions]="{standalone: true}" name="atmId"/>
                              </div>
                              <div class="form-group1 m-form__group">
                                  <label for="exampleInputEmail1">Cra</label>
                                  <input disabled class="form-control" type="text" [(ngModel)]="editData.cra" [ngModelOptions]="{standalone: true}" name="atmId"/>
                              </div>
                              <div class="form-group1 m-form__group">
                                  <label for="exampleInputEmail1">Feeder Branch</label>
                                  <input disabled class="form-control" type="text" [(ngModel)]="editData.feeder_branch" [ngModelOptions]="{standalone: true}" name="atmId"/>
                              </div>
                              <div class="form-group1 m-form__group">
                                <label for="exampleInputEmail1">Indent Short Code</label>
                                <input  disabled class="form-control" type="text" [(ngModel)]="editData.indent_short_code" [ngModelOptions]="{standalone: true}" name="atmId"/>
                            </div>
                            <div class="form-group1 m-form__group">
                                <label for="exampleInputEmail1">Project id</label>
                                <input disabled class="form-control" type="text" [(ngModel)]="editData.project_id" [ngModelOptions]="{standalone: true}" name="atmId"/>
                            </div>
                              <div class="form-group1 m-form__group">
                                  <label for="exampleInputEmail1">Withdrawal Amount 100</label>
                                  <input class="form-control" type="text" [(ngModel)]="editData.denomination_100" [ngModelOptions]="{standalone: true}" name="atmId" (change)="addTotalAmountEdit()"/>
                              </div>
                              <div class="form-group1 m-form__group">
                                  <label for="exampleInputEmail1">Withdrawal Amount 200</label>
                                  <input class="form-control" type="text" [(ngModel)]="editData.denomination_200" [ngModelOptions]="{standalone: true}" name="atmId" (change)="addTotalAmountEdit()"/>
                              </div>
                              <div class="form-group1 m-form__group">
                                  <label for="exampleInputEmail1">Withdrawal Amount 500</label>
                                  <input class="form-control" type="text" [(ngModel)]="editData.denomination_500" [ngModelOptions]="{standalone: true}" name="atmId" (change)="addTotalAmountEdit()"/>
                              </div>
                              <div class="form-group1 m-form__group">
                                  <label for="exampleInputEmail1">Withdrawal Amount 2000</label>
                                  <input class="form-control" type="text" [(ngModel)]="editData.denomination_2000" [ngModelOptions]="{standalone: true}" name="atmId" (change)="addTotalAmountEdit()"/>
                              </div>
                              <div class="form-group1 m-form__group">
                                  <label for="exampleInputEmail1">Total Withdrawal Amount</label>
                                  <input class="form-control" type="text" [(ngModel)]="editData.total_withdrawal_amount" [ngModelOptions]="{standalone: true}" name="atmId" (change)="addTotalAmountEdit()"/>
                              </div>
                              
                              <div class="form-group1 m-form__group">
                                  <label for="exampleInputEmail1">Remark</label>
                                  <textarea [(ngModel)]="editData.remarks" class="form-control"  type="text"  name="remarks"[ngModelOptions]="{standalone: true}" ></textarea>
                                  <!-- <textarea name="reasons" formControlName= "reasons" class="form-control"></textarea> -->

                                </div>
                                  <div class="form-group1 m-form__group" *ngIf="blobUrl1 && fileuploadcalled==true">
                                    <img class="img-fluid width100" [src]='blobUrl1' alt="" >
  
                                  </div>
                                  <div class="form-group1 m-form__group">
                                    <div class="custom-file">
                                    <input type="file" name="file" class="custom-file-input" (change)="onFileChanged($event)"
                                        #fileInput [ngClass]="{ 'is-invalid': submitted && !uploadData.file }">
                                    <label class="custom-file-label" (click)="fileInput.click()">
                                        <span *ngIf="!uploadData?.file?.name">Choose file </span>
                                        <span *ngIf="uploadData?.file?.name">{{uploadData?.file?.name}}</span>
                                    </label>
                                    </div>
                                    </div>

                              </div>
                          </form>

                          <!-- upload form ends here -->
                          </div>
                          <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)='clickMeToClear()'data-dismiss="modal">Close</button>

                          <button type="button" class="btn btn-primary" data-dismiss="modal"  name="submit" (click)="editDataFn()">Submit</button>
                          </div>
                      </div>
                      </div>
                  </div>











                    
                    <div class="modal fade" data-backdrop="static" id="modalfilterdelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                       <div class="modal-content">
                        <div class="modal-header">
                         <h5 class="modal-title text-center" id="exampleModalLongTitle"> Confirmation</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                         </button>
                        </div>
                        <div class="modal-body">
                         <!-- filter form for view all data -->
                         <form class="m-form m-form--fit m-form--label-align-right" >
                            <div _ngcontent-c2="" class="m-portlet__body text-center">
                              <span class="fs-20"> Are You Sure you Want To delete? </span>
                              <div class="my-4 text-center">
                                  <button _ngcontent-c2="" class="btn btn-primary" data-dismiss="modal" (click)="deleteData()" type="button">Yes</button>
                                  <button _ngcontent-c2="" data-dismiss="modal" class="btn btn-danger mx-3">No</button>
                              </div>
                            </div>
                         </form>
                         <!-- filter form for view all data -->

                        </div>
                        <!-- <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <button type="button" class="btn btn-primary" (click)="uploadDatafn()">Submit</button>
                        </div> -->
                       </div>
                      </div>
                     </div>

                     <div class="modal fade"  data-backdrop="static" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                       <div class="modal-content">
                        <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Withdrawal Slip</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                         </button>
                        </div>
                        <div class="modal-body">
                         <!-- filter form for view all data -->
                         <form class="m-form m-form--fit m-form--label-align-right" >
                          <div class="m-portlet__body">
                         
                

                                <div class="form-group1 m-form__group" *ngIf="blobUrl1">
                                  <img class="img-fluid width100" [src]='blobUrl1' alt="" >

                                </div>
                              
                               </div>
                         </form>
                         <!-- filter form for view all data -->

                        </div>
                        <!-- <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <button type="button" class="btn btn-primary" (click)="uploadDatafn()">Submit</button>
                        </div> -->
                       </div>
                      </div>
                     </div>







                   </div>
                  </div>
                 </div>
                </div>
                <div>
                
                </div>
    
            </div>
    
     </div>
        <app-footer></app-footer>
    </div>
    
    
    
    
    
    
    <!-- begin::Quick Sidebar -->
    <app-quick-sidebar></app-quick-sidebar>
    
    <!-- end::Quick Sidebar -->
    
    
      <!-- begin::Scroll Top -->
      <div id="m_scroll_top" class="m-scroll-top">
          <i class="la la-arrow-up"></i>
        </div>
    
        <!-- end::Scroll Top -->
          <!-- begin::Quick Nav -->
    
        <!-- begin::Quick Nav -->
    