<!--The content below is only a placeholder and can be replaced.-->
  <!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">

    <!-- BEGIN: Header -->
     <app-top-navbar></app-top-navbar>
      <!-- END: Header -->
    
    <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    
        <!-- BEGIN: Left Aside -->
        <button class="m-aside-left-close m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
          <i class="la la-close"></i>
        </button>
              <!-- BEGIN: Aside Menu -->
            <app-side-menu></app-side-menu>
            <!-- END: Aside Menu -->
            <div style="width:100%">
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
    
                 <!-- BEGIN: Subheader -->
                 <div class="m-subheader ">
                  <div class="d-flex align-items-center">
                   <div class="mr-auto">
                    <h3 class="m-subheader__title m-subheader__title--separator">Historical Data</h3>
                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                     <li class="m-nav__item m-nav__item--home">
                      <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                       <i class="m-nav__link-icon la la-home"></i>
                      </a>
                     </li>
                     <!-- <li class="m-nav__separator">-</li>
                     <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                       <span class="m-nav__link-text">Cash Routine Data</span>
                      </a>
                     </li>
                     <li class="m-nav__separator">-</li>
                     <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                       <span class="m-nav__link-text">Cash Dispense Report</span>
                      </a>
                     </li> -->
                    </ul>
                   </div>
                   
                  </div>
                 </div>
    
                 <!-- END: Subheader -->
                 <!-- END: Subheader -->
                 <div class="m-content">
                   <div class="m-alert m-alert--icon alert alert-{{alert.class}}" role="alert" *ngIf="alert.isvisible">
                     <div class="m-alert__icon">
                      <i class="flaticon-danger"></i>
                     </div>
                     <div class="m-alert__text">
                      <strong>{{alert.type}}!</strong> {{alert.text}}
                     </div>
                     <div class="m-alert__actions" style="width: 220px;">
                      <button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" (click)="alert.isvisible=false" aria-label="Close">Close
                      </button>
                     </div>
                    </div>
                  <!--begin::Portlet-->
    
                  <!--end::Portlet-->
                  <div class="m-portlet m-portlet--mobile mb-0 p-3" id="atmsdataportlet">
                    <div class="m-portlet__head">
                      <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                          <h3 class="m-portlet__head-text">Add Historical Data</h3>
                        </div>
                      </div>
                    </div>
                    <div class="m-portlet__body">
                      <div class="p-2">
                        <form class=" m-form m-form--fit m-form--label-align-right" name="add"  [formGroup]="uploadForm">
                          <div class="row mt-2">
                              <div class="col-md-3 col-sm-3 col-xs-3 mr-5 ">
                                <div class="row mt-2">
                                  <label for="group">Menu</label>
                                </div>
                                <div class="row mt-2">
                                  <select (change)='chkForValidation("file_type")' [required]="true" required class="col-12 custom-select  " [(ngModel)]="addData.file_type" [ngModelOptions]="{standalone: true}"
                                    name="childMenu">
                                    <option *ngFor="let menu of  typeList" [ngValue]="menu">
                                      {{menu}}
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div *ngIf="showonlybankList" class="col-md-3 col-sm-3 col-xs-3 mr-5 ">
                                <div class="row mt-2">
                                  <label for="group">CRA</label>
                                </div>
                                <div class="row mt-2">
                                  <select (change)='chkForValidation("C3R_VMIS")' class="col-12 custom-select " id="C3R_VMIS"
                                    [(ngModel)]="addData.C3R_VMIS" [ngModelOptions]="{standalone: true}" >
                                    <option *ngFor="let opt of craDDList " [ngValue]="opt.cra_id">
                                      {{opt.cra_id}}
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div *ngIf="!showonlybankList" class="col-md-3 col-sm-3 col-xs-3 mr-5 ">
                                <div class="row mt-2">
                                  <label for="group">Month</label>
                                </div>
                                <div class="row mt-2">
                                  <select (change)='chkForValidation("month")' class="col-12 custom-select " id="month"
                                    [(ngModel)]="addData.month" [ngModelOptions]="{standalone: true}" >
                                    <option *ngFor="let month of monthList " [ngValue]="month">
                                      {{month}}
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div *ngIf="!showonlybankList" class="col-md-3 col-sm-3 col-xs-3">
                                  <div class="row mt-2">
                                    <label for="group">Project</label>
                                  </div>
                                  <div class="row mt-2">
                                    <select (change)='chkForValidation("project_id")' class="col-12 custom-select " id="projectFilter"
                                     [(ngModel)]="addData.project_id" [ngModelOptions]="{standalone: true}" >
                                      <option *ngFor="let project of projectBankList " [ngValue]="project">
                                        {{project}}
                                      </option>
                                    </select>
                                  </div>
                                </div>
                         
                          </div>
                          <div *ngIf="!showonlybankList" class="row mt-2">
                              <div class="col-md-3 col-sm-3 col-xs-3 mr-5 ">
                                  <div class="row mt-2">
                                    <label for="group">Region</label>
                                  </div>
                                  <div class="row mt-2">
                                      <select (change)='chkForValidation("region")' class="col-12 custom-select  " [(ngModel)]="addData.region" [ngModelOptions]="{standalone: true}"
                                        name="childMenu">
                                        <option *ngFor="let region of  regionList" [ngValue]="region">
                                          {{region}}
                                        </option>
                                      </select>
                                    </div>
                                
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 mr-5 ">
                                    <div class="row mt-2">
                                      <label for="group">Bank</label>
                                    </div>
                                    <div class="row mt-2">
                                      <select (change)='chkForValidation("bank_code")' class="col-12 custom-select " id="bankFilter" [(ngModel)]="addData.bank_code" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let bank of bankList" [ngValue]="bank">
                                          {{bank}}
                                        </option>
                                      </select>
                                    </div>
                                </div>
                            
                            
          
                          </div>
                          <div class="row mt-5">
                            <button type="button" class="btn btn-primary ml-2"   [disabled]="createPathEnable"  (click)="createPath()">Path Creation</button>
                            <button type="button" class="btn btn-primary ml-2" [disabled]="buttonEnable"  (click)="addDataFn()">Submit</button>
                          </div>
                          <!-- <div class="mr-aoto pull-right">
                            <button type="button" class="btn btn-primary ml-2" (click)="createPath(addData)">Path</button>
                        </div>
                          <div class="mr-aoto pull-right">
                              <button type="button" class="btn btn-primary ml-2" (click)="addDataFn()">Submit</button>
                          </div> -->
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="m-portlet m-portlet--mobile" id="atmsdataportlet">
                   <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                     <div class="m-portlet__head-title"><h3 class="m-portlet__head-text">All Data</h3></div>
                    </div>
                    <div class="m-portlet__head-tools">
                      <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item" >
                         <a (click)="resetFilter()" href="#" data-toggle="modal" data-target="#modalfilter"
                         class="filters btn m-btn m-btn--icon m-btn--icon-only m-portlet__nav-link m-portlet__nav-link--icon" >
                          <i class="la la-filter"></i>
                         </a>
                         <div class="modal fade" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                            <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-filter"></i> Filter Records</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                             </button>
                            </div>
                            <div class="modal-body">
                             <!-- filter form for view all data -->
                             <form class="m-form m-form--fit m-form--label-align-right" >
                              <div class="m-portlet__body">
                               <div class="form-group1 m-form__group">
                                       <label for="exampleInputEmail1">File Name</label>
                                       <input class="form-control" type="text" [(ngModel)]="filterData.file_name" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                     </div>
                                     
                                     <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Data For Type</label>
                                      <input class="form-control" type="text" [(ngModel)]="filterData.data_for_type" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                    </div>
                                     <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Bank Code</label>
                                      <input class="form-control" type="text" [(ngModel)]="filterData.bank_code" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                    </div>
                                    <div class="form-group1 m-form__group">
                                      <label for="exampleInputEmail1">Project Id</label>
                                      <input class="form-control" type="text" [(ngModel)]="filterData.project_id" [ngModelOptions]="{standalone: true}" name="atmId"/>
                                    </div>
                                   
                                    <div class="form-group1 m-form__group">

                                      <label for="dateRange">Upload Date Range</label>
      
                                      <input type="text"
                                       placeholder="Select a date range..."
                                       name = "dateRange"
                                       class="form-control"
                                       [(ngModel)]="date_range" placement="top" [ngModelOptions]="{standalone: true}"
                                       bsDaterangepicker>
      
                                    </div>
                                  
                                   </div>
                             </form>
                             <!-- filter form for view all data -->
    
                            </div>
                            <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                 <button type="button" class="btn btn-primary" (click)="resetFilter()" >Reset</button>
                             <button type="button" class="btn btn-primary" (click)="updateViewAll()">Submit</button>
                            </div>
                           </div>
                          </div>
                         </div>
                         <div class="modal fade" id="editrecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                          aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                            <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-edit"></i> Edit Record</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                             </button>
                            </div>
                            <div class="modal-body">
                             <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="300">
                              <form class="m-form m-form--fit m-form--label-align-right">
                               <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                 <label for="exampleInputEmail1">ATM ID</label>
                                 <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group m-form__group">
                                 <label for="exampleSelect1">Bank</label>
                                 <select class="form-control m-input m-input--square" id="exampleSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                 </select>
                                </div>
                                <div class="form-group m-form__group">
                                 <label for="exampleSelect1">Feeder Branch</label>
                                 <select class="form-control m-input m-input--square" id="exampleSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                 </select>
                                </div>
                                <div class="form-group m-form__group">
                                 <label for="exampleInputEmail1">CRA</label>
                                 <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group m-form__group">
                                 <label for="exampleInputEmail1">Bank Email</label>
                                 <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group m-form__group">
                                 <label for="exampleInputEmail1">CRA Custodian</label>
                                 <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="">
                                </div>
                               </div>
                              </form>
                             </div>
                            </div>
                            <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                             <button type="button" class="btn btn-primary">Submit</button>
                            </div>
                           </div>
                          </div>
                         </div>
                        </li>
                        <li class="m-portlet__nav-item">
                         <a  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                          <i class="la la-angle-down"></i>
                         </a>
                        </li>
                        <li class="m-portlet__nav-item">
                         <a  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                          <i class="la la-expand"></i>
                         </a>
                        </li>
                       </ul>
                    </div>
                   </div>
                   <div class="m-portlet__body">
                    <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-bottom-30">
                     <div class="row">
                      <div class="col-lg-4">
                       <div class="m-input-icon m-input-icon--left">
                        <input type="text" class="form-control m-input" (keyup)='viewSearch($event)' placeholder="Search..." id="generalSearch" >
                        <span class="m-input-icon__icon m-input-icon__icon--left">
                         <span>
                          <i class="la la-search"></i>
                         </span>
                        </span>
                       </div>
                      </div>
                      <div class="col-lg-8 m--align-right">
    
 
    
                <!-- select column in viewallData -->
                <app-multiselect [col]="viewColumnAll"></app-multiselect>
    
                <!-- <select class="form-control m-bootstrap-select m-dropdown--inline" data-width="200px" multiple
                data-style="btn-metal" [(ngModel)]="selectedColumn" (change)="columnChangefn()">
    
                <option
                *ngFor="let viewCol of viewColumnAll"
                value="{{viewCol.prop}}" >
                 {{viewCol.name}}
                </option>
    
                </select> -->
    
                <!-- select column in viewallData -->
                      </div>
                     </div>
                    </div>
    
                    <!--end: Search Form -->
    
                    <!--begin: Datatable -->
                    <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                     <div class="row">
                      <div class="col-sm-12 col-md-12">
                       <div class="m_datatable" id="local_data"></div>
                      </div>
                     </div>
                     <!--end: Datatable -->
                     <ngx-datatable #mydatatable
                     class="material"
                     [headerHeight]="45"
                     [columnMode]="'force'"
                     [footerHeight]="100"
                     [rowHeight]="'50'"
                     [rows]="rows"
                     [scrollbarH]="true"
                     [externalPaging]="true"
                     [virtualization]="false"
    
                     [count]="page.totalElements"
                     [offset]="page.pageNumber"
                     [limit]="page.size"
                     (page)='setPage($event)'
                     >
                     <!-- [externalPaging]="true"
                     [count]="page.totalElements"
                     [offset]="page.pageNumber"
                     [limit]="page.size"
                     (page)='setPage($event)' -->
    
    
                     <ng-container *ngFor="let viewCol of viewColumnAll">
    
                       <ngx-datatable-column
    
                       name="{{viewCol.name}}"
                     prop="{{viewCol.prop}}"
                     *ngIf="viewCol.selected" >
                      <ng-template ngx-datatable-cell-template let-value="value" >
                       <span *ngIf="viewCol.datatype == 'string'">{{value}}</span>
                       <span *ngIf="viewCol.datatype == 'date'">{{value | date: 'dd-MM-yyyy'}}</span>
                      </ng-template>
                     </ngx-datatable-column>
                      </ng-container>
                      <ngx-datatable-footer>
                       <ng-template
                        ngx-datatable-footer-template
                        let-rowCount="rowCount"
                        let-pageSize="pageSize"
                        let-selectedCount="selectedCount"
                        let-curPage="curPage"
                        let-offset="offset">
               
                 <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll width100 px-2 "> <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                         <ul class="m-datatable__pager-nav">
    
                         <li (click)="setPage({ 'offset': 0 })"><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first" data-page="1"><i class="la la-angle-double-left"></i></a></li>
    
                         <li (click)="setPage({ 'offset': offset-1 })">
                          <a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev" data-page="1"><i class="la la-angle-left"></i></a>
    
                         <li *ngIf="(calculateTotalPage(rowCount,pageSize)+1) == (curPage+1)" (click)="setPage({ 'offset': offset-1 })" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                          title="{{curPage-1}}">{{curPage-1}} </a></li>
    
                         <li (click)="setPage({ 'offset': offset })"><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active" title="{{curPage}}">{{curPage}}</a></li>
    
                         <li *ngIf="!((calculateTotalPage(rowCount,pageSize)+1) == (curPage+1))" (click)="setPage({ 'offset': offset+1 })" ><a class="m-datatable__pager-link m-datatable__pager-link-number"
                         title="{{curPage+1}}">{{curPage+1}} </a></li>
    
                         <li (click)="setPage({ 'offset': offset+1 })"><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2">
                         <i class="la la-angle-right"></i></a>
                        </li>
    
                         <li (click)="setPage({ 'offset': calculateTotalPage(rowCount,pageSize)-1})"><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" ><i class="la la-angle-double-right"></i></a></li>
                        </ul>
    
    
                        <div class="m-datatable__pager-info">
    
                         <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px;">
    
                         <select class=" custom-pagination-select"
                         [(ngModel)]="page.size" title="Select page size" (change)="setPage({ 'offset': 0})">
                          <!-- <option class="bs-title-option" value="">Select page size</option> -->
                          <option value="10">10</option><option value="20">20</option>
                          <option value="30">30</option><option value="50">50</option>
                         </select>
    
    
                         </div>
                          <span class="m-datatable__pager-detail">Displaying {{curPage}} -
                           {{calculateTotalPage(rowCount,pageSize)}} of {{rowCount}} records</span></div></div>
                          </div>
                       </ng-template>
                      </ngx-datatable-footer>
    
    
                    </ngx-datatable>
    
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
    
              
            </div>
    
     </div>
        <app-footer></app-footer>
    </div>
    
    
    
    
    
    
    <!-- begin::Quick Sidebar -->
    <app-quick-sidebar></app-quick-sidebar>
    
    <!-- end::Quick Sidebar -->
    
    
      <!-- begin::Scroll Top -->
      <div id="m_scroll_top" class="m-scroll-top">
          <i class="la la-arrow-up"></i>
        </div>
    
        <!-- end::Scroll Top -->
          <!-- begin::Quick Nav -->
    
        <!-- begin::Quick Nav -->
    